[2018-06-28 09:35] laplaceyang commented on #3176
@jamesdillonharvey After busy work for an afternoon on it, and confirm there is no bug in the lib, I think this is not really worth to add timer for these two very unique cases.

Call the getsockopt may be a better solution.

Closed.

[2018-06-28 09:36] #3176 closed

[2018-06-29 15:06] #3178 closed

[2018-07-03 01:02] smokes2345 commented on #1922
I'm seeing the issue in python much like @isedev  and using some of the pyzmq samples, has there been any progress?

[2018-07-11 15:06] arunpkqt opened #3182 "How to build czmq for WIndows using MinGW"
It is not clear from the documentation or GitHub page on how to build czmq on windows using MinGW. Can someone explain it or point to documentation which explains the steps to build on Windows?

[2018-07-12 13:13] Chickenmarkus opened #3183 "zmq_ctx_new() hangs on syscall getrandom() for several minutes after reboot"
# Issue description
The method call `zmq_ctx_new()` hangs at the system call `getrandom()` for several minutes after a reboot.

Is it using `/dev/random` instead of `/dev/urandom`? `cat` on the first one blocks after a few bytes or even immediately while the latter one works like a charm. Probably `/dev/random` has not obtained sufficient entropy since the startup.

(My initial question on StackEx

[2018-07-12 13:41] bluca commented on #3183
getrandom() is a system call, so you'll have to take that up to the kernel maintainers.

You should be using libsodium anyway, which will avoid tweetnacl and the need for getrandom(). Use the library from Debian rather than your own.

[2018-07-12 13:41] #3183 closed

[2018-07-12 13:58] Chickenmarkus commented on #3183
I don't use neither `libsodium` nor `tweetnacl` nor something own. As I wrote, I just use the linked C example. `zmq_ctx_new()` involves `getrandom()` itself.

However, in the meanwhile I found libzmq sets  the flags of `getrandom()` explicitly to 0. Thus, it usually should only blocking till `/dev/urandom` is initialized.

[2018-07-12 14:05] bluca commented on #3183
getrandom is _only_ used directly when built with tweetnacl. So if you use the packaged library from Debian, it will not be used, as it's built with libsodium.

[2018-07-12 14:35] bluca commented on #3183
Again, that's just a system call being made - nothing we can do about it. It needs to be done in blocking mode as the random bytes _must_ be available at that point.
If your system doesn't have the required entropy to make it return, then your system has a problem (likely) or there is an issue in glibc/kernel (very unlikely).

And again, in production tweetnacl should not be used, only libsodium,

[2018-07-12 15:25] Chickenmarkus commented on #3183
Sorry for asking about probably nothing but now I want to try to understand.
Okay, I use `libzmq5` packaged from Debian. Thus, it's built with `libsodium`. Hence, there should be no getrandom calls at all, right?
Nevertheless, `getrandom()` is called and hangs as `strace` says?!?

However, I fixed it for my case:
[code]
was NOT working. In contrast,
[code]
IS working. Thus, it is not an issue with

[2018-07-12 15:42] bluca commented on #3183
It is of course possible that libsodium itself is using getrandom. It's a much, much better api than manually reading from /dev after all.

It is possible that there's something quite not working with the system. It's Debian testing after all.

[2018-07-13 08:02] KamranShahid opened #3184 "Getting error java.lang.UnsatisfiedLinkError: no jzmq in java.library.path in IntelliJ ide with windows 10"
I have a java project which have zeromq implementation. i have installed zeromq windows version in my windows 10 OS. When running the application i am getting above error. I have downloaded zeromq (windows) installer from http://zeromq.org/area:download and installed it in C:\ZeroMQ4.0.4 folder. Any idea what further action i have to take?

[2018-07-13 14:53] WallStProg commented on #2267
It turns out that there's nothing special needed -- simply run the code repeatedly and it will eventually hang on the call to `zmq_recv`.  In the test documented, this was on iteration 17.

So far as I can tell the work-around doesn't...

[2018-07-13 14:54] WallStProg commented on #2267
[gdb.txt](https://github.com/zeromq/libzmq/files/2193115/gdb.txt)
![screenshot-2](https://user-images.githubusercontent.com/6627231/42698171-172934a8-868b-11e8-9ca3-6e6327fed56b.png)

[2018-07-13 17:45] bluca commented on #3184
The correct repository for JZMQ is: https://github.com/zeromq/jzmq

[2018-07-13 17:45] #3184 closed

[2018-07-17 11:09] chymanfx opened #3185 "Several checks fail under 64-bit MinGW on Windows when running make check"
# Issue description

I have successfully compiled libzmq via configure and 64-bit MinGW on Windows, but several checks fail.
I have tried different versions by now: 4.0.8, 4.1.6, 4.2.3 and master, all of them compile well, no warnings, no issues, but all of them get the same dozened failed tests.
Going back to version 3.2.5, the supplied tests all work fine.
I have also tried different mingw64 ver

[2018-07-17 17:58] WallStProg opened #3186 "zmq_disconnect doesn't release resources associated with terminated endpoints"
# Issue description
A long-running process which is connected to and disconnected from many times consumes ever-greater amounts of memory.

This does not show up as a leak (e.g., w/valgrind), since the memory is apparently released when the long-running process shuts down.

# Environment

* libzmq version (commit hash if unreleased): d17581929cceceda02b4eb8abb054f996865c7a6
* OS:  CentOS 6.9

[2018-07-17 18:19] WallStProg commented on #3186
I've been trying to track down this issue for a while, since the memory is not recognized as a leak by memcheck et al.

Nevertheless, when running a process for a long time, while other processes are repeatedly starting and stopping (and connecting and disconnecting from the long-running process),  I notice memory growing from a few hundred MB to several GB.

Using massif I was able to generate st

[2018-07-17 20:29] mxcoppell commented on #3104
We've completed code review and all ZMQ sockets are created and used in the calling thread.
This problem is still happening. We did specific client-server high volume traffic unit-test tool on the target machine under test. And it's happening at the following location as well:

[https://github.com/zeromq/libzmq/blob/3226b8ebddd9c6c738ba42986822c26418a49afb/src/signaler.cpp#L369](url)

[2018-07-18 07:02] chymanfx commented on #3185
Here is a little update / summary of which tests fail for what reason:

[code]

[2018-07-18 08:57] sigiesec commented on #3185
Unfortunately, there are no MinGW ci job at the moment, so these problems have not been noticed. There has been a Cygwin CI job for some time, but there are also tests failing. If you could add CI for MinGW and fix these issues, it would be great.

For adding CI, look at all references to cygwin in https://github.com/zeromq/libzmq/blob/master/appveyor.yml. MinGW can probably be handled in a very s

[2018-07-18 09:04] sigiesec commented on #3186
Can you provide a program that reproduces the issue?

zmq_poller_poll is only called when you call zmq_poll from your code. I can't imagine that this happens here, since zmq_poller_poll exits and cleans up after every poll event.

Or are you referring to some of the other polling mechanisms that are used internally?

[2018-07-18 09:05] sigiesec commented on #3182
The czmq repository is here: https://github.com/zeromq/czmq Please open an issue over there.

[2018-07-18 09:05] #3182 closed

[2018-07-18 21:02] WallStProg commented on #3186
Thanks Simon!

Unfortunately creating a simple repro is not going to be ... simple.  We've implemented a discovery mechanism using a separate channel using zmq_proxy to support point-to-point connections.  This creates a fully-connected network where every node's SUB socket connects to every node's PUB socket.

When run in steady state, memory use is constant.  But when other processes connect and

[2018-07-19 08:13] sigiesec commented on #3186
Unconstrained memory growth is somewhat harder to analyze than memory leaks unfortunately. I am not familiar with Linux tooling for this unfortunately. Under Windows, I would use Intel Inspector e.g. to analyze Memory Growth. You can checkpoint the current memory during execution and then show the differences between checkpoints, along with the allocation callstacks, just as valgrind would do for

[2018-07-19 12:53] chymanfx commented on #3185
Thank you for your comment and direction. I have to admit that I am a bit of a newbie on ci and c++, but I will try to look into Appveyor and add MinGW ci job to the appveyor.yml to help automating the MinGW testing.

[2018-07-22 06:14] youyoujushi opened #3188 "ZMQ_HEARTBEAT_TIMEOUT option is not work"
My zeromq version is 4.2.5, and my code compile success. I set ZMQ_HEARTBEAT_IVL with 2 seconds, set ZMQ_HEARTBEAT_TIMEOUT with 5 seconds. I send request in a loop,the server response one request per second(call sleep(1) ) , but only after send two request, the send operate is blocked.If I set ZMQ_HEARTBEAT_IVL with 3 seconds, the send operate is blocked after send 3 request. It seems ZMQ_HEARTBEA

[2018-07-22 10:29] bluca commented on #3188
Duplicate of https://github.com/zeromq/libzmq/issues/3060 already fixed in master

[2018-07-22 10:29] #3188 closed

[2018-07-23 20:59] jdemeyer opened #3189 "randombytes() hangs forever"
# Issue description

When running the testsuite, some tests time out:
[code]
I originally noticed this by running the pyzmq testsuite. By using `gdb`, I found out that it's executing an infinite loop in `randombytes()` in `src/tweetnacl.c`:
[code]

# Environment

* libzmq version (commit hash if unreleased): 4.2.5
* OS: `Linux tamiyo 3.17.7-gentoo #2 SMP PREEMPT Fri Dec 23 18:13:49 CET 2016 x86_64

[2018-07-23 21:21] jdemeyer commented on #3189
It seems that `getrandom()` is not actually supported: the call returns `-1` with `errno = ENOSYS`.

[2018-07-23 22:01] bluca commented on #3189
It can happen to temporarily run out of entropy, but usually functioning systems recover - that's the purpose of the blocking call

[2018-07-23 22:09] jdemeyer commented on #3189
But would that be considered an *error*? A return value of -1 means an actual error. I would assume a return value of 0 if no bytes are available.

But even then, the `sleep(1)` loop might not be needed: as far as I know, both `getrandom(..., 0)` is a  blocking call. And `read()` only returns 0 to signal EOF, which should be treated as an error here.

[2018-07-24 12:31] chymanfx commented on #3185
I had a look at the Appveyor file and found that it is mostly build around cmake. In order not to completely rewrite the appveyor.yml to handle "configure", I tried to adapt my build procedure accordingly. The following commands worked for me by hand from cmd.exe:

For configure:
[code]

For cmake:
[code]
With cmake there are some warnings, but also compiles successfully, yet the results don't run

[2018-07-24 13:08] chymanfx commented on #3185
I resolved the cmake warnings by removing the  -D LIBZMQ_WERROR="ON"  flag. My local mingw64 version is a little old and seems to have a problem with it.

Now the results run fine for me and I get the same test results from cmake:
[code]

The appveyor mingw64 version is much newer and may not have this issue with -errwarn=%all.

As a side note: Instead of  -G "Unix Makefiles"  we can switch to  -G

[2018-07-24 19:06] bluca commented on #3189
The call could get interrupted by a signal. Or a similar temporary failure, perhaps due to a hardware generator. The point being, hard aborts should be kept for unrecoverable situations, but in this case, for a normal functioning system, it will be recoverable.

[2018-07-24 19:13] jdemeyer commented on #3189
In that case, it suffices to check `errno == EINTR`.

Assuming that every kind of error is temporary is also wrong. What if you're using `read()` and the file descriptor was closed for some reason?

[2018-07-25 15:17] ujmedia opened #3190 "valgrind reports leak when using ZMQ_CLIENT over ipc"
Hi there!

I really tried a lot of things but can not figure out what is the problem!

I shaved my code down to zmq communication only (dropped protobuf and other things)!
It happens only at side of ZMQ_CLIENT, ZMQ_SERVER is OK!

I attached the example in a zip file!

You can see what valgrind says in the file 'memcheckdbg_client.log'

Debian Linux 9.5
g++ (Debian 6.3.0-18+deb9u1) 6.3.0 20170516
L

[2018-07-25 18:08] mvilim opened #3191 "Race condition with received message causes ZMQ_CONNECT_ROUTING_ID to be assigned to wrong socket"
# Issue description

There is an problem when a ROUTER socket is trying to connect to another socket using ZMQ_CONNECT_ROUTING_ID while receiving messages from a third socket. If a message is received (in the io thread) between setting the socket option and connecting to the socket, the routing id can be applied to the socket from which we received the message instead of the socket to which we are

[2018-07-25 19:10] bluca commented on #3191
As the zmq_setsockopt manpage says, you must set the options before connecting/binding apart from a restricted set of options.

[2018-07-25 19:21] bluca commented on #3190
Which version of libzmq is that with? I just ran your code with the latest and there is no leak reported.

[2018-07-25 19:53] ilyakrasnovsky commented on #788
Does it also make sense to add `XSUB`  and `XPUB` sockets to the `is_single_connect` test? I've noticed the same message-duplication problem when I `connect` more than once to an existing address from an `XSUB` socket. I can open a new issue if that helps, but wanted to jump off of a relevant discussion. Thanks!

[2018-07-25 19:55] ujmedia commented on #3190
It was "Current ØMQ version is 4.3.1".
Also  'libzmq5:amd64'  and  'libzmq5-dbg:amd64' was installed by debian's repo as well.

Purged 4.3.1 and installed 4.2.5 from source but I still got some entries by valgrind!

Binary now shows: 'Current ØMQ version is 4.2.5'

Log by 4.2.5:
[memcheckdbg_client.log](https://github.com/zeromq/libzmq/files/2229323/memcheckdbg_client.log)

[2018-07-25 20:33] textbrowser opened #3192 "Is this possible?"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description

This is not a problem report!

I would like to know if the following is possible with zeromq. Please assume that the referenced processes reside on one machine.

There are a bunch of processes each having a single TCP socket connection. As data is received through some socket, I'd like to place the

[2018-07-26 15:34] WallStProg commented on #788
I’m not familiar with XPUB/XSUB, as I don’t use them (except w/zmq_proxy), but a couple of points:

- It would seem that hard-coding this behavior could interfere with manual handling of subscribe/unsubscribe requests — e.g. a particular application might want to use ZMQ_XPUB_VERBOSE, ZMQ_XPUB_MANUAL, etc. to handle the case of duplicate subscribe requests
- For that reason, it might be better to

[2018-07-26 17:37] ilyakrasnovsky commented on #788
I think that the `EEXIST` approach is better. I think I'd like a "`ZMQ_ERROUT_ON_MULTI_CONNECT`" socket option that only works on `ZMQ_PUB`, `ZMQ_SUB`, `ZMQ_DEALER`, `ZMQ_REQ`, `ZMQ_XSUB`, and `ZMQ_XPUB` sockets (all the ones that would otherwise be hardcoded in that `is_single_connect` `if` block). I have a workaround for my application, so no big rush, but I think I'll open a feature request for

[2018-07-26 22:18] justusranvier opened #3196 "Problem: libzmq can not be used as an cmake object library"
It's not possible to use libzmq as a subproject in another cmake project for use as an object library.

If both BUILD_STATIC and BUILD_SHARED are turned off by the parent project cmake will still still try to install targets that do not exist.

Solution: modify CMakeLists.txt to avoid exporting targets and installing files if neither BUILD_SHARED nor BUILD_STATIC is set

[2018-07-26 22:46] #3196 closed

[2018-07-26 22:53] bluca commented on #3196
https://github.com/zeromq/libzmq/pull/3197

[2018-07-26 22:55] bluca commented on #3192
Have a look at the zguide, you should be able to find a pattern that suits your use case: http://zguide.zeromq.org

[2018-07-26 22:55] #3192 closed

[2018-07-27 07:32] bluca commented on #3191
Fixed by #3193

[2018-07-27 07:32] #3191 closed

[2018-07-27 09:58] ujmedia commented on #3190
I tried the source from 'master' and installed the latest valgrind as well (valgrind-3.13.0)!

Unfortunately I got the same results here:

[memcheckdbg_client.log](https://github.com/zeromq/libzmq/files/2235320/memcheckdbg_client.log)

Also I have found that version issue! I see it if I install it from the source code of 'master'!
Now I'm seeing 'Current ØMQ version is 4.3.1' again!
So, also this

[2018-07-27 19:01] bluca commented on #3190
can't reproduce it with valgrind 3.13 either

[2018-07-27 21:20] ujmedia commented on #3190
I also tried on another Debian 9.5... results are the same!
I'm really clueless!

That compressed also contains a suppression file for valgrind, are the contents of that file up to date?

May I ask you on what operating system did you test the code?

[2018-07-28 10:59] #3005 closed

[2018-07-30 12:31] arunpkqt opened #3199 "How to build libzmq for WIndows using MinGW"
# Issue description
It is not clear from the documentation or GitHub page on how to build czmq on windows using MinGW. Can someone explain it or point to documentation which explains the steps to build on Windows?

[2018-07-30 12:56] zedalaye commented on #3199
I experienced the same adventure some days ago :) libzmq was not a problem, czmq and zyre involved a lot more work.

* I choose to build it using Visual Studio 2017 (Community Edition is fine)
* Visual Studio 2017 now supports cmake, so, instead of opening the "SLN File" (from builds\msvc), just open the WHOLE libzmq directory, CMakeFile is automagically detected and Visual Studio prepares everyth

[2018-07-31 09:45] arunpkqt commented on #3199
@zedalaye Thanks a lot for the info. Will try to follow the same.
A quick question,
have you used the DLL with any Qt-based project? Our application is based on Qt and uses QMake and MinGW compiler on Windows.

[2018-07-31 10:35] zedalaye commented on #3199
No. I'm in process to integrate czmq and zyre in a Delphi (VCL) application.

[2018-07-31 21:11] WallStProg commented on #3186
Hi @sigiesec (et al):

I finally was able to put together a repro using plain old ZeroMQ, without any of the "special" bits from my application.  (I guess that's what vacations are for ;-)

The code is at https://github.com/WallStProg/zmqtests/tree/master/3186

Anyway, the pure ZeroMQ code exhibits the same unconstrained memory growth as my application, and running valgrind memcheck/massif on it g

[2018-08-01 07:02] lsmengineer opened #3200 "Using zmq_send under windows sometimes causes assertion failure"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
The two functions zmq_recv and zmq_send run in two thread. The two threads use a mutex. The software sometimes reports Assertion failed: false (..\..\..\..\src\object.cpp : 155) Error, which causes the software to flash back. Viewing through the zmq source is caused by the undefined cmd.type in the p

[2018-08-01 10:10] bluca commented on #3200
The documentation is quite clear - this is not supported. Sockets are not thread safe. You _must_ create, use and destroy a socket from the same thread.

[2018-08-01 10:10] #3200 closed

[2018-08-01 15:16] WallStProg commented on #3186
Well, been playing around a bit and managed to get valgrind to report "leaks" by killing the peer process with TERM -- doing so skips the socket closes, so all memory owned by sockets shows up in report.

[peer.txt](https://github.com/zeromq/libzmq/files/2250041/peer.txt)

[2018-08-01 19:36] WallStProg commented on #3186
I was able to capture memory use with valgrind by terminating the program with SIGTERM, which skipped the shutdown code (zmq_close, etc.).

This shows a number of "still-reachable" blocks that I suspect may point at the culprit.

Specifically, the leaks with block count of 141 are interesting, since that is exactly equal to the number of connects:

[code]

I'm *guessing* that ZeroMQ is hanging on

[2018-08-01 19:37] WallStProg commented on #3186
valgrind output referenced above:

[peer.out.txt](https://github.com/zeromq/libzmq/files/2250892/peer.out.txt)

[2018-08-02 08:54] hoditohod opened #3201 "New socket option ZMQ_ROUTER_NOTIFY"
**This issue is more of a debate than a concrete issue**

ZeroMQ's socket abstraction is really powerful that it handles multiple connections in the background and the library goes far to hide the complexity of managing these connections. This is beneficial as it simplifies application code. Usually knowing that messages are round-robin out and fair-queued in is enough. And where it is not: the RO

[2018-08-02 11:07] bluca commented on #3201
There is already machinery for this with mandatory routing - and I'm not convinced this would be a good addition. There's a reason these details are hidden - it's because they get abused. From day one zeromq abstracted away the low level details, to encourage better designed application protocols for distributed systems, as explained with examples in the zguide.
If one really wants to micro-manage

[2018-08-02 14:16] bluca commented on #3201
It's not an abuse - it's working as intended :-) All that is requested is that there are tests and documentation, and no backward-incompatible changes. Besides that, go for it.

[2018-08-02 15:30] teterycz commented on #3186
Hi @sigiesec

I am seeing the leak as described by @WallStProg by attaching to the process using Intel VTune Amplifier which is part of Intel System Studio. You can get a free 3 month license and download a copy from https://software.intel.com/en-us/system-studio/choose-download#technical

Select analysis type as Memory Consumption and Attach to Process using PID after the process is already start

[2018-08-02 17:33] WallStProg commented on #3186
Looks like both VTune and valgrind agree on the top consumers of memory:

[code]

[2018-08-03 15:30] teterycz commented on #3186
Hi @sigiesec,

This seems to be related to an open issue dating back to 2014: https://github.com/zeromq/libzmq/issues/1256

One of the comments mentions pipes not being destroyed but marked as inactive, eventually being destroyed when the context is destroyed:
https://github.com/zeromq/libzmq/issues/1256#issuecomment-64212673

From the same Intel VTune run I posted above leaks in pipe.cpp, attache

[2018-08-06 08:47] sigiesec commented on #3199
This is the libzmq issue tracker, but you are referring to https://github.com/zeromq/czmq

[2018-08-06 08:47] #3199 closed

[2018-08-06 11:10] sigiesec commented on #3186
A pipe is destroyed when a pipe_term_ack command is received, which is sent by the peer using send_pipe_term_ack, which is called in a number of situations.

Unfortunately, I am not very familiar with this part of the libzmq architecture, so I cannot really tell if there is a situation where send_pipe_term_ack should be called, but it isn't.

Just one thing to consider: I am not sure at which the

[2018-08-06 11:12] sigiesec commented on #3186
I don't think the description of this issue is accurate. This isn't related to zmq_poller_add at all, as far as I understand this. The function that doesn't behave as you expect it is zmq_disconnect, right?

[2018-08-06 11:16] sigiesec commented on #3166
@WallStProg Did you manage to confirm that the issue was caused by a bug in your client code?

The clang-tidy warnings should be checked thoroughly, yes, but this is a sort of different issue. And yes, the details are currently hidden due to the output format. We could generate HTML output instead, but it needs to be published somewhere. When I set up clang-tidy I was hoping that we could publish

[2018-08-06 14:03] WallStProg commented on #3186
Is there someone you would suggest might be better able to help?  (FWIW, I've already posted on the dev list to solicit commercial support, which is very much on the table to help us "get to the finish line").

From the top, massif, VTune etc. results, as well as from the related issues, it appears that the resources don't get cleaned up no matter how long you wait (in our cases, minutes to hours)

[2018-08-06 15:03] sigiesec commented on #3186
I tried something out today: When just calling zmq_disconnect as in the test_reqrep_tcp test cases, the resources are not released until the zmq_ctx_term call. When calling something that involves calling process_commands, they are released earlier (which would be calling zmq_getsockopt for ZMQ_EVENTS, e.g.). I remember that there were some other issues raised in the past that were related to comm

[2018-08-06 15:33] WallStProg commented on #3186
Thanks @sigiesec

I've already tried the ZMQ_EVENTS hack as mentioned in #1256 -- no joy.  I've got a couple other (ineffective) work-arounds as well, which I'll commit to the repo once I've cleared up some of the #ifdef-mess (prob. by making them command-line params).

At this point I'm guessing some kind of race condition, perhaps associated with the endpoint being moved to inactive status, and/

[2018-08-06 17:31] teterycz commented on #3186
I added a dummy send in the "else if (msg.command == 'D')" block which seems to force the cleanup.

`else if (msg.command == 'D')
{
   // disconnect msg from peer (possibly us)

   ...

   **// send dummy message to PUB socket to force cleanup
   rc = zmq_send(dataPub, NULL, 0, ZMQ_DONTWAIT);
   assert(rc == 0);**
}
`

Top Memory-Consuming Functions |   |   |   |  
-- | -- | -- | -- | --
Function

[2018-08-07 01:29] mxcoppell commented on #1108
In our case, the socket disconnect is definitely caused by Windows KeepAlive logic - many tests showed that it happened at 7200s into the traffic run.

We tried to set ZMQ_TCP_KEEPALIVE_IDLE (with a smaller value like 60s) through ZMQ socket "setsocketopt" to see if the crash interval changes - traced into ZMQ code and ZMQ does call the WinSock IOCtl function to set the parameter but it didn't wor

[2018-08-07 10:50] bluca commented on #1108
Don't mess with asserts. If the TCP keepalive options don't work, try with the heartbeat options - they are the equivalent but at the zmtp protocol level, so bad network stack implementations don't mess with them.

[2018-08-07 15:46] mxcoppell commented on #1108
Thanks @bluca, but I don't think either KEEPALIVE or HEARTBEAT options for ZMQ socket is related to the issue.

In our test, the payload socket is full of live data during traffic run. The idle socket got killed after 7200s (Windows KeepAlive default idle time) is some internal socket used by ZMQ for commanding or management that is not exposed to application code.

So, from application code, we t

[2018-08-07 15:54] bluca commented on #1108
Right, that will be the internal pipes - then yeah that won't help.

[2018-08-08 10:02] Peque opened #3204 "Question about IPC file unlinking on context termination"
It seems https://github.com/zeromq/libzmq/issues/2764 was fixed by https://github.com/zeromq/libzmq/pull/2765.

I have a project ([osBrain](https://github.com/opensistemas-hub/osbrain)) that uses PyZMQ. The recent PyZMQ 17 version bundles libzmq 4.2, which includes that fix.

osBrain is a multi-agent system that creates IPC connections with random addresses between agents. The problem is that now

[2018-08-08 12:00] bluca commented on #3204
Well the issue is that either #2764 or this can be fixed, not both. So take your pick...
In your case, you can create the files in the /run ephemeral filesystem and that should take care of the problem

[2018-08-08 12:30] Peque commented on #3204
@bluca Okay, just wanted to make sure I was not missing something. I still find this default behavior unfriendly, but it seems nobody else has complained, so it must be only me. :stuck_out_tongue_winking_eye:

Maybe you could leave this open anyway, for future users to :+1: if they find that default behavior unfriendly?

Yeah in GNU/Linux systems we store those files by default under `$XDG_RUNTIME

[2018-08-08 19:18] bluca commented on #3124
@eponsko did you have any chance to try with this again? It's always failing...
I didn't have any luck reproducing with a 14.04 VM with the HWE or standard kernel either...

[2018-08-08 19:45] eponsko commented on #3124
Hi,

Unfortunately not. I've started at a new company where the rules for
contributing to open source projects (especially with GPL-ish licenses) is
very difficult due to IPR rules. I've been discussing with the IPR
department but haven't gotten a clear response so far. So unfortunately I'm
not able to contribute at the moment until the situation is clarified.

Best regards,
Pontus

On Wed, Aug 8,

[2018-08-09 12:05] jay11ca39 opened #3207 "[Query] Regarding zcert_t [czmq] equivalent in libzmq"
Hi @bluca ,

**This is not an issue it is query.**

I am working on some project in which i want to enable zmq curve security [libzmq].  I checked the samples and test cases in which by setting the socket options we can set the public and secret key for client and server : https://github.com/zeromq/libzmq/blob/master/tests/test_security_curve.cpp

I checked the examples of czmq:
https://github.com

[2018-08-09 12:12] bluca commented on #3207
CZMQ is a high level abstraction above libzmq. That's by design. So if you want that kind of commodity you need to use CZMQ, or implement it yourself in your application. libzmq only takes buffers with keys.

[2018-08-09 12:12] #3207 closed

[2018-08-09 12:25] jay11ca39 commented on #3207
@bluca ,
Thanks for quick response.
 I am using libzmq in my project. I will see to implement some of the abstracted API for certificates in my sdk. Thanks..:)

[2018-08-09 17:42] lresende commented on #2376
Where are we with the relicensing process? Any ETA?

[2018-08-10 08:43] #2810 closed

[2018-08-10 08:43] bluca commented on #2810
Ok, thanks for checking

[2018-08-10 15:06] sigiesec opened #3210 "Visual Studio 2013 Debug builds with libsodium are failing test_security_curve"
# Issue description

The test case test_security_curve fails due to a heap corruption.

# Environment

* libzmq version (commit hash if unreleased): Apparently all since 7e6792ca74b40de1a081479ba73154ece0a81100
* OS: Windows

# Minimal test code / Steps to reproduce the issue

1.  Build with Visual Studio 2013 and libsodium
2.  Run test_security_curve

# What's the actual result? (include assertio

[2018-08-10 15:09] bluca commented on #3210
How did that commit affect the libsodium run?

[2018-08-10 16:45] sigiesec commented on #3210
Maybe it was failing already before, but the previous build was fine. Maybe just a coincidence.

The commit did not change any relevant code at all, and libsodium did not change either at that time.

[2018-08-10 16:54] sigiesec commented on #3210
I cannot reproduce it with VS2017 locally :(

[2018-08-12 22:21] yurivict opened #3212 "cmake build fails on FreeBSD"
[code]

[2018-08-12 22:33] bluca commented on #3212
This has been solved in master already.

It's better to use autotools on *NIX, especially if you are a maintainer. If you want to use CMake anyway, you can download the archive of the git repository rather than the distributable tarball which will include the missing file: https://github.com/zeromq/libzmq/archive/v4.2.5.tar.gz

[2018-08-12 22:33] #3212 closed

[2018-08-12 22:46] yurivict commented on #3212
Thanks.

I have a question: how to install builds/cmake/ZeroMQConfig.cmake.in using autotools?

[2018-08-12 22:54] bluca commented on #3212
Autotools doesn't touch that since it's a CMake-specific file - it's only included in the distributable tarball

[2018-08-12 22:57] yurivict commented on #3212
You said to use autotools instead of cmake, but autotools doesn't install .cmake files that other projects expect. I need to enable .cmake files in the FreeBSD port ```net/libzmq4```. It needs to use the released version, and you said that only the latest, unreleased revision has the fix for cmake build.

[2018-08-12 23:16] bluca commented on #3212
Other projects can just use the pkgconfig file that every build ships. But as mentioned above you can use the linked archive of the git repo to build with CMake, as it includes everything, if you need to.

Also if you want to add shipping those CMake files to the automake scripts feel free to send a PR. At the moment it's not implemented.

[2018-08-12 23:29] yurivict commented on #3212
It also doesn't appear that cmake build has an equivalent for ```--with-norm```. Nothing defines ```ZMQ_HAVE_NORM``` when cmake is used.

-----------------

xeus project (https://github.com/QuantStack/xeus) specifically wants cmake files:
[code]

[2018-08-12 23:36] bluca commented on #3212
There is an existing request to implement enabling NORM on CMake, but nobody has provided a PR so far: https://github.com/zeromq/libzmq/issues/2207

[2018-08-13 12:52] thecodefactory opened #3214 "Subscribers losing messages via xpub/xsub proxy"
# Issue description

Apologies in advance if this has been answered, I searched through the issues and didn't find it.  The zmq issue we're seeing is almost exactly described by someone else here (with sample code included).

https://stackoverflow.com/questions/43129714/zeromq-xpub-xsub-serious-flaw

Our specific setup is this:

We have an external facing service endpoint (xpub), and we have an in

[2018-08-13 16:21] jay11ca39 opened #3216 "Issue for setting socket option [ZMQ_CURVE_SERVERKEY] for multiple publishers"
# Issue description
I have built libzmq for secured mode [with libsodium]. I have tested single publisher and single subscriber sample applications. Samples are working fine.

I want to test when there are 2 or more publishers and one subscriber want to receive data from all the publishers in **Secured mode**. This is normal behavior and I have tested the same in **Unsecured node**. In unsecured m

[2018-08-13 16:55] bluca commented on #3216
This cannot work - either use 2 sub sockets, or use the same key on the publishers

[2018-08-14 08:49] sigiesec commented on #3216
I think to achieve what you want, you need to revert the server and client roles:

Sample Publisher1:
[code]

Sample Publisher2:
[code]

Sample Subscriber:
[code]

[2018-08-14 10:01] bluca commented on #3216
CURVE only works with a 1:N pattern - one "server-ish" and N clients. You can invert the roles as Simon suggested, or have multiple sockets.

[2018-08-14 10:06] jay11ca39 commented on #3216
Hi @bluca ,
Changing the roles may be one option.

But, I have tested with the approach that I explained.
It is working fine. My subscriber is able to receive data from both the publishers.

I do not know the internal of ZMQ security, but the approach is working fine.
Can you please let me know, will it create any problem?

[2018-08-14 10:27] jay11ca39 commented on #3216
Hi @bluca ,
I have tested that scenario as well...
Subscriber was running and I terminated the first publisher ..then again started the publisher and even after that subscriber was able to receive the data .

[2018-08-14 18:58] bluca commented on #3216
If that works for you then there's nothing to do here, closing

[2018-08-14 18:58] #3216 closed

[2018-08-14 19:02] bluca commented on #2376
No ETA, there are still many old contributors missing.

[2018-08-15 03:56] answeroo opened #3218 "Crash when using multicast function"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
System crash occasionally when using OpenPGM for multicast.  We did some test and found that pgm_receiver_t::inpos becomes a nullptr, and it is passed to memcpy() as the second argument(pointer to source memory). That caused the crash. Call stack is provided below.

We suspect this is a threading iss

[2018-08-15 07:58] bluca commented on #2376
@sigiesec let's try to be more disciplined on this - GitHub actually helps and tells if someone is a "first time contributor" so when we see that, let's ask for the grant before merging

[2018-08-15 07:59] bluca commented on #3218
Can you share a simple example to reproduce? Are you sure that a socket is not being used from multiple threads? This includes create and close

[2018-08-15 09:34] sigiesec commented on #2376
@bluca Ok, I will try too :)

[2018-08-15 13:09] #3201 closed

[2018-08-15 16:33] mrvn opened #3221 "Message loss with pgm multicast for large messages"
# Issue description

I'm creating PUB/SUB sockets between two hosts using pgm multicast to distribute a 50-500MB file using pyzmq. Sending the file in 1kb chunks works, the subscriber sees blocks comming in. But when I set the chunk size to 1MB then the subscriber receives no blocks.

Is there a default message size limit for pgm that I have to change for this to work? The code literally just conn

[2018-08-16 10:51] jcaden opened #3223 "Problems forking a program with open zmq sockets"
# Issue description

I have a program that creates a DEALER socket using c API and connects to a remote host. At some point, when a particular message is received, the process forks and the child tries to correctly close previous zmq socket and open a new one, creating a new context to handle this new connection.

The program just has one active thread (appart from zmq ones) and the fork is done f

[2018-08-16 12:11] bluca commented on #3223
Some things were fixed related to fork flags, check the latest release

[2018-08-17 06:54] jcaden commented on #3223
I'll try latest release. Thank you.

[2018-08-17 07:33] answeroo commented on #3218
To reproduce this situation is not easy. It has something to do with data, and even the frequency of CPU. This is just a undefined behavior that happens now and then.

We did some testing for pgm_receiver_t::in_event() function, and we found that in_event could be called even if there is a pending restart_input call. This is the problem that caused the crash, because inpos could become nullptr in

[2018-08-17 08:44] bluca commented on #3218
That looks fine, feel free to send a PR

[2018-08-17 09:38] sigiesec commented on #1264
Since there was no activity in the last year, I assume this is resolved now.
Feel free to reopen if the problem persists.

[2018-08-17 09:38] #1264 closed

[2018-08-17 09:38] sigiesec commented on #3031
Fixed by #3195

[2018-08-17 09:38] #3031 closed

[2018-08-17 09:51] sigiesec commented on #3161
Sorry it took some time. I now tried this out with a Windows client and Windows server, and it triggers an assertion in the server after some minutes:
[code]
which is this line: https://github.com/zeromq/libzmq/blob/fe82c643ed5a8a934432ab1a7f0ff5f069d411f2/src/socket_base.cpp#L1837

The stack trace is
[code]

[2018-08-17 09:53] jcaden commented on #3223
I tested with latest release I see in github - 4.2.5

And it's still reproducible

[code]

[2018-08-17 10:01] bluca commented on #3223
Can you provide a a working example to reproduce the issue?

[2018-08-17 10:07] sigiesec commented on #3161
I think I now understand the effect you observed. While you only use a single client with the same identity, disconnecting and connecting is done asynchronously, and so is subject to race conditions.

Possible solutions are:
* enable ZMQ_ROUTER_HANDOVER
* do not use the same identity when reconnecting
* use a socket monitor, and wait for the disconnect monitor event after disconnecting

Still, the

[2018-08-17 10:08] answeroo commented on #3218
I am not quite familiar with Github yet. Could you help me create a PR for this? @bluca

[2018-08-17 10:14] bluca commented on #3218
In short you need to fork this repository, clone it, branch it, commit the changes and push them, and then open a pull request on the website. But there are plenty tutorials available to be found on google, better than anything I could write.

[2018-08-17 11:29] jcaden commented on #3223
I'll try to extract something simple that reproduces the issue.

[2018-08-17 14:28] bluca commented on #3161
Fixed by https://github.com/zeromq/libzmq/pull/3225

[2018-08-17 15:36] sigiesec commented on #3161
@bluca #3225 does not fix the issue described in the ticket, I only found another issue while investigating this.

@cuteshell Does my comment above solve your problem? If not, feel free to reopen the issue.

[2018-08-17 19:51] thehesiod commented on #1264
probably a dup of this anyways: https://github.com/zeromq/libzmq/issues/1922

[2018-08-19 17:16] bluca commented on #3218
Fixed by https://github.com/zeromq/libzmq/pull/3226

[2018-08-19 17:16] #3218 closed

[2018-08-19 17:26] bluca commented on #3214
This is just a variation of https://github.com/zeromq/libzmq/issues/2267 see that issue for details

[2018-08-19 17:26] #3214 closed

[2018-08-19 18:06] bluca commented on #3204
@Peque I realise the behaviour is unfriendly, but the race condition is real, and extremely difficult to fix (filename might be shared not only across different sockets but different contexts).

Feel free to send a PR to add a socket option to optionally unlink the files on close.

[2018-08-20 01:25] thecodefactory commented on #3214
@bluca Thanks for the response!  To be clear, I was asking about the xsub/xpub case where information sharing could/should take place -- you're saying that this is no different from the sub/pub scenarios described in the linked issue and that in short it's not a supported use-case (i.e. the xsub/xpub proxy diagram in the documentation is incorrect)?

[2018-08-20 09:27] bluca commented on #3214
It's not that it's unsupported, it's that there is an issue described in that other ticket that can happen when a sub socket binds and a pub connects. Given a connect is async, you carry on writing the message before the sub has sent the subscriptions, and hence you see nothing as the messages are dropped since as far as the publisher is concerned at that point there are no subscribers. That's why

[2018-08-20 11:55] mrvn commented on #3221
Never mind. I just wasn't patient enough. The default limit is in kbit and not kbyte so I simply had to wait 8 times as long for the messages to appear.

[2018-08-20 11:55] #3221 closed

[2018-08-20 12:02] thecodefactory commented on #3214
@bluca Thank you, I understand this issue better now.

[2018-08-20 12:07] thecodefactory commented on #3214
@bluca Lastly, are you able to comment on the trade-offs with the push/pull workaround (described in the link in the original post)?  Is this a reasonable model, or does it have significant downsides that aren't apparent at first?

[2018-08-20 12:15] bluca commented on #3214
It's probably a better fit for that model. Just keep in mind of the differences in behaviour in mute state (block vs drop) of pub and push. You can read about that in the zmq_socket manpage

[2018-08-20 12:16] thecodefactory commented on #3214
@bluca Ok, I'm aware of that issue (block in push/pull vs drop in pub/sub).  Thanks again, appreciated!  I just wanted to make sure it's not an unsupported model that just appears to work in this case.

[2018-08-22 11:53] jcaden commented on #3223
I'm trying to provide a simple example that shows the issue but I'm not able to reproduce it even with the same versions than I'm using in the real case.

[2018-08-23 11:46] saraf opened #3229 "Build failure on Ubuntu ARM"
Build of latest master on ARM Linux (Ubuntu 12.04) fails with

[code]

[2018-08-23 11:55] #3229 closed

[2018-08-23 12:42] saraf opened #3231 "autogen.sh fails on Ubuntu 12.04 / x86_64"
# autogen.sh fails with configure.ac:24: error: possibly undefined macro: AC_SUBST

Trying to build libzmq on a Ubuntu 12.04 guest running on a Virtualbox x86_64
Tried both - current stable release 4.2.3 - https://github.com/zeromq/libzmq/releases/download/v4.2.3/zeromq-4.2.3.tar.gz

[code]

and the latest master from github

[code]

# Environment

* libzmq version (commit hash if unreleased): 76f

[2018-08-23 12:56] bluca commented on #3231
It's building fine here:

https://build.opensuse.org/package/show/network:messaging:zeromq:git-stable/libzmq

Are you sure you have all the autoconf stuff correctly isntalled? Including pkg-config?

More importantly, Ubuntu 12.04 is EoL so you should not be using it anymore.

[2018-08-23 12:59] bluca commented on #3231
Finally the dist tarball that you linked is provided with the autotools script already generated, so all you have to do is run ./configure - you do NOT need to run autogen. So I'll close this.

[2018-08-23 12:59] #3231 closed

[2018-08-24 16:09] proArtex opened #3234 "php-ext unexpected behaviour of ZMQ_LINGER=0"
# Issue description
Could you please verify that php-ext behaviour is incorrect according to this [issue](https://github.com/mkoppanen/php-zmq/issues/191)

# Environment

* libzmq version 4.2.5
* ext-zmq version 1.1.3
* Mac OS Sierra 10.12.6

# Minimal test code / Steps to reproduce the issue

1. create persistent context
2. create socket (PULL)
3. bind to tcp://127.0.0.1:5555
4. recv in cycle

5.

[2018-08-24 16:12] bluca commented on #3234
I'm not sure I follow - what exactly is the issue? If you close a program with linger 0 then messages may be dropped

[2018-08-24 16:19] proArtex commented on #3234
PUSH socket with linger 0 stop to send messages to alive PULL one, it may send like 1 of 5 tries. PUSH socket has short fpm-script life, when PULL socket is still alive as cli.

[2018-08-24 16:30] bluca commented on #3234
I still don't follow. You've set linger 0, and then the script exits after sending. Is that right?

[2018-08-24 17:39] proArtex commented on #3234
That's right. You can see php example [here](https://github.com/mkoppanen/php-zmq/issues/191)

[2018-08-24 17:43] bluca commented on #3234
That's working as intended. If you don't want messages to be lost, set linger to infinite.

[2018-08-24 17:43] #3234 closed

[2018-08-24 17:47] proArtex commented on #3234
You didn't catch the point. I want them to be lost. But if I set linger 0 there no delivered messages at all.

[2018-08-24 17:50] bluca commented on #3234
Yes. That's because the script exits and the sockets are killed before the messages are delivered. That's what linger is for.

[2018-08-24 18:00] proArtex commented on #3234
Got it. Thanks!

[2018-08-28 08:02] Vizhen123 opened #3235 "Issues building libzmq with visual studio 2015 - error LNK1181: cannot open input file 'libzmq.lib'"
Hi all,

I've been having problems building libzmq 4.2.5 with visual studio 2015. I've tried using the vs command prompt and running build.bat but it fails. I've also tried building from the libzmq.sln in the vs2015 directory but that doesn't work for me either. I get the error: _LINK : fatal error LNK1181: cannot open input file 'libzmq.lib'_ and _fatal error C1189: #error:  None of the ZMQ_IOTHR

[2018-08-28 08:34] bluca commented on #3235
Use cmake

[2018-08-28 08:39] evoskuil commented on #3235
How should these macros be defined for the VS builds?

[2018-08-28 09:26] bluca commented on #3235
Using cmake it will be done automatically I think - @sigiesec ?

[2018-08-28 09:54] sigiesec commented on #3235
Yes, they will be defined by cmake. There is a default, which you could override by setting the POLLER cmake definition (valid values for Windows are select or epoll).

[2018-08-28 10:05] evoskuil commented on #3235
I got that part :).

[2018-08-28 10:07] evoskuil commented on #3235
I assume this a new configuration option that should be added to the IDE configuration properties.

[2018-08-28 10:14] rlenferink commented on #2376
It's been some time ago since I've been working on this topic as well. At the time of sending out the first request to submit a grant, I've kept track of the responses but it should be updated to include new contributors from the past couple of months as well. I'm still busy this week but will try to restart this process somewhere next week.

As @bluca mentioned it indeed would be good to ask firs

[2018-08-29 10:32] Mystfit opened #3236 "UDP dish socket can't bind to a multicast port already in use"
# Issue description

If I bind a UDP dish socket to a multicast address that is already bound in another running program instance I get hit an "address in use" error. Tracing down the initialisation of the socket in udp_engine.cpp I found that the socket has SO_REUSEADDR set by default which sounds correct but still results in this issue.

The socket will bind if I add a SO_REUSEPORT flag immediat

[2018-08-29 10:39] bluca commented on #3236
Yes please send a PR. Just have an ```#ifdef SO_REUSEPORT``` for other platforms, I think that's enough.

[2018-08-29 11:14] jamesdillonharvey commented on #3236
Just as a heads up (I fixed a similar issue in openpgm) on linux >=3.9
SO_REUSEPORT
limits the reuse to the same user ID I think. Also I remember something
about load balancing (basically its not the same as the old BSD SO_REUSEPORT
option).

On Wed, Aug 29, 2018 at 11:39 AM Luca Boccassi <notifications@github.com>
wrote:

[2018-08-29 11:59] bluca commented on #3236
SO_REUSEPORT
limits the reuse to the same user ID I think. Also I remember something
about load balancing (basically its not the same as the old BSD SO_REUSEPORT
option).

Thanks - I think that's a reasonable limitation, and down to the OS implementation, so it's probably fine if we don't worry about it too much

[2018-08-29 13:08] jamesdillonharvey commented on #3236
Sure I agree about the user ID but are we ok with the load balancing on linux 3.9?  To me it sounds bad, like a radio/dish pattern that performs more like a push/pull and distributes work.

From the section on >=3.9
https://stackoverflow.com/questions/14388706/socket-options-so-reuseaddr-and-so-reuseport-how-do-they-differ-do-they-mean-t

[2018-08-29 13:10] bluca commented on #3236
Right, I didn't know about LD - thanks. That is not fine, as you guessed it would break the pattern.

[2018-08-29 13:37] Mystfit commented on #3236
@jamesdillonharvey Thanks for your insight into this behaviour. Load balancing is definitely not the effect I was targeting and it would be confusing to have such a behaviour if you were expecting a copy of the UDP message to show up on each socket, which was what I was trying to achieve with multicast.

[2018-08-30 02:02] Mystfit commented on #3236
@jamesdillonharvey  [I've written a small sender/receiver example using UDP multicast addresses](https://gist.github.com/Mystfit/6c015257b637ae31bcb63130da67627c) and Dish/Radio sockets and ran it on Ubuntu 18.04 in a VM using my SO_REUSEPORT addition. If I open up multiple receivers, they all receive the UDP message, I can't seem to see any evidence of one receiver getting the message over anothe

[2018-08-30 09:03] jamesdillonharvey commented on #3236
Hi @Mystfit,

Yes that's correct, using mcast all the receivers will always get all the datagrams.

**Regarding unicast UDP**

I think what you are seeing is expected behaviour for SO_REUSEADDR, where one receiver gets all the datagrams and another will take over if the first dies.

The SO_REUSEPORT *should*  load balance the datagrams.

What OS/kernel version are you using?  This is a grey area,

[2018-08-30 11:49] bluca commented on #3236
Thanks for the analysis. I think the way to go is to restrict the option only to multicast binds. Does that make sense?

[2018-08-30 11:58] jamesdillonharvey commented on #3236
It makes sense to me, to be honest I can't think of a case where I would use unicast for RADIO/DISH.

[2018-08-31 02:05] Mystfit commented on #3236
Makes sense. I've moved SO_REUSEPORT further down to only apply to multicast addresses.

[2018-08-31 08:38] bluca commented on #3236
Fixed by https://github.com/zeromq/libzmq/pull/3237

[2018-08-31 08:38] #3236 closed

[2018-08-31 18:38] bluca commented on #3235
@Vizhen123 have you managed to succeed using cmake from visual studio?

[2018-08-31 18:41] bluca commented on #3223
@jcaden any chance in coming up with a test case?

[2018-08-31 19:58] rouming opened #3238 "descriptor leak on ZMQ_ROUTER if ZMQ_ROUTER_HANDOVER is set"
Hi guys,

# Description
Recently I discovered enormous number of opened sockets on a router which eventually becomes  unresponsive when number of file descriptors reach the limit.  Further investigations shows that this happens because of ZMQ_ROUTER_HANDOVER flag set.

# Environment
linux- 4.18.5-arch1-1-ARCH
glibc 2.28-4

* libzmq version (commit hash if unreleased):
recent master,
e0ec6a9b364c P

[2018-09-01 07:49] pkking opened #3240 "support of vrf"
Dear team,

Can i use zmq with Linux VRF?
It seems there's no SO_BINDTODEVICE options in zmq_setsocketopt :(

[2018-09-01 07:54] jcaden commented on #3223
I have a program that is quite similar to the real case, bit I can't reproduce the problem with it. This week I couldn't work on that but I'll try to get sometime next week.

[2018-09-01 08:01] pkking commented on #3240
my bad, i found this [NEWS](https://github.com/zeromq/libzmq/blob/master/NEWS)

closeed

[2018-09-01 08:01] #3240 closed

[2018-09-03 17:42] jay11ca39 commented on #1963
Hi @ahmetkakici and @evoskuil
I have one query regarding windows build. I am using the msbuild for v2015:

[code]

I am getting the error related to **headers of "Sodium library"** .
[code]
**Do you have any idea where should I place the libsodium library in libzmq?** and how to build the .dll/ .lib of libsodium in libzmq folder, so it can link while building using MSBuild ....
Thanks in advance.

[2018-09-04 06:36] westeast opened #3241 "Does the zmq have a transport message between two processes by shared memory?"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
I want to transport message by shared-memory

# What's the expected result?
I want to transport message by shared-memory

[2018-09-04 08:09] bluca commented on #3241
http://api.zeromq.org/master:zmq-inproc

[2018-09-04 08:09] #3241 closed

[2018-09-04 11:55] rouming opened #3243 "stuck of the whole IO processing because of the sync nature of getaddrinfo() (name resolving)"
Hi all,

Recently I observed that the whole IO processing for particular zmq context can be stuck because of not reliable DNS server. Indeed, getaddrinfo() is a synchronous call and if there are some problems with DNS server all sockets bound to the context where name resolving was taken place will experience huge delay in IO processing.  That means, that if there are already N sockets bound to on

[2018-09-04 20:09] jimklimov commented on #3241
I am not sure 'inproc' is a full answer to the original question, as it is
a transport between threads of same process and I think the OP implied a
sort of SHM between different processes to, I guess, minimise the latency
and processing overhead of syscalls and perhaps even structured message
en/de-coding.

On Tue, Sep 4, 2018, 10:09 Luca Boccassi <notifications@github.com> wrote:

[2018-09-04 22:45] bluca commented on #3243
Duplicate of https://github.com/zeromq/libzmq/issues/2961

[2018-09-04 22:45] #3243 closed

[2018-09-04 22:47] bluca commented on #3241
http://api.zeromq.org/master:zmq-ipc then is the closest

[2018-09-05 07:44] westeast commented on #3241
@bluca Thanks so much

[2018-09-06 16:11] sleepycoder72 commented on #2020
Does anyone know the status of this? I am working with thousands of sockets and haven't tested for this error. I would like not to duplicate effort if necessary.

[2018-09-07 01:21] aaronovz1 opened #3244 "Assertion failed: rc == 0 (src/socket_poller.cpp:41)"
After upgrading to 4.2.5 from 4.2.3 I am now seeing an assert out of socket_poller. I am using libzmq with zmqpp 4.2.0. This is occurring in a Router/Dealer setup where the Server has worker threads and a proxy is used to forward the work.

**Task Thread**
[code]

This appears to be when the app is shutting down and telling the context to terminate so that the proxy will shutdown.

**Main Thread**

[2018-09-07 05:02] danleepw commented on #2056
I am facing the same problem. May i know any update about this issue? It seems that openpgm won't bind corresponding multicast address on the udp sockets. So, both sockets receive data from both multicast groups.

Do we have any workaround of this issue?

[2018-09-07 07:41] jamesdillonharvey commented on #2056
I fixed this with a submission to openpgm.

https://github.com/steve-o/openpgm/pull/52

Define DISABLE_IP_MULTICAST_ALL and hopefully you should get only the traffic you want.

[2018-09-07 08:04] bluca commented on #2056
Great, thanks. Looks like it's a PGM issue with a build time option so nothing we can do about it, so I'll close this.

[2018-09-07 08:04] #2056 closed

[2018-09-07 17:08] aaronovz1 commented on #3244
Looking at 4.2.5 compared to the master I can see that you already fixed it in this commit:

https://github.com/zeromq/libzmq/commit/87fbb5c4478dda2cdcb7e78954c17c462b467438#diff-01df48f9d498dba994077a8675169b88

Patching 4.2.5 with that change resolved the problem :)

Out of curiosity do you know roughly if the next release is coming soon?

Thanks

[2018-09-07 17:15] bluca commented on #3244
duplicate of https://github.com/zeromq/libzmq/issues/3028

[2018-09-07 17:15] #3244 closed

[2018-09-07 20:18] WallStProg opened #3245 "use-after-free reported in zmq::pipe_t::terminate"
# Issue description

use-after-free reported in zmq::pipe_t::terminate

# Environment

* libzmq version (commit hash if unreleased): d17581929cceceda02b4eb8abb054f996865c7a6
* OS: RH 6.5

# What's the actual result? (include assertion message & call stack if applicable)

Address Sanitizer reports use-after-free in zmq::pipe_t::terminate:

[code]

[2018-09-07 20:32] WallStProg commented on #3245
FWIW, the initial free is in `zmq::pipe_t::process_pipe_term_ack`, while the use-after-free is in ` zmq::socket_base_t::process_term_endpoint`.

[2018-09-07 22:55] bluca commented on #3245
There's a Travis job with asan but I've never seen that, do you have a test case for it?

[2018-09-08 13:13] WallStProg commented on #3245
Afraid not -- libzmq is at the bottom of the stack here, so a repro with pure libzmq is not available.  The problem is also intermittent (the test suite runs for 7 hours, 3x per day and these are the only four instances of the problem).

OTOH, the stack traces are pretty much pure libzmq, and are identical in all four cases.  It's also not a threading issue since both the free and use-after-free o

[2018-09-10 16:06] jcaden commented on #3223
I can't reproduce with a simple test. I think I can come back later to this ticket (or a new one if you prefer) if I manage to create a test program to reproduce the issue. Thank you for your time.

[2018-09-10 22:28] Cross22 opened #3248 "ZMQ_CLIENT send not blocking"
# Issue description
Invoking zmq_send() with a ZMQ_CLIENT socket which is NOT connected to a peer causes the message to be queued. Once a peer connects the queued message gets sent. This is in contrast to the documentation which states that send should be blocking when there is no peer.

# Sample code
void *context = zmq_ctx_new ();
void *sock = zmq_socket (context, ZMQ_CLIENT);
zmq_connect (sock,

[2018-09-11 09:18] fabioz23 opened #3249 "SIGABRT on assert if example code is nested on my project"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
SIGABRT on assert if example code is nested on my project

I'm trying to add zmq functionalities on my project.
Testing alone this example is OK, it works: http://zguide.zeromq.org/c:psenvpub
But if i copy this code on my project when i call the func that launch this code i obtain
[code]
# Environmen

[2018-09-11 09:37] bluca commented on #3249
Can you provide a minimal test program that reproduces this?

[2018-09-11 13:42] fabioz23 commented on #3249
[CMakeLists-OK.txt](https://github.com/zeromq/libzmq/files/2371149/CMakeLists-OK.txt)
[CMakeLists-ERR.txt](https://github.com/zeromq/libzmq/files/2371150/CMakeLists-ERR.txt)
[main.c.txt](https://github.com/zeromq/libzmq/files/2371152/main.c.txt)

Unfortunately no. I can only attach the main.c with some code parts removed.

In attachment 2 CMakeLists.txt, if I compile only the main the demo PUB cod

[2018-09-11 13:54] bluca commented on #3249
If you can't provide a way to reproduce it, it will be next to impossible to figure out what the problem is.

Make sure you are not using sockets from multiple threads, for starters.

[2018-09-11 14:08] fabioz23 commented on #3249
i don't use pthread.
I'm checking but at the moment i don't see any problem....

[2018-09-12 17:47] bill-torpey-ullink commented on #3245
I'm curious why there has been no response to this.  Use-after-free is clearly a serious issue, so I would hope that the project maintainers take it seriously.

Is the lack of response because I'm unable to provide a repro?  Are people simply busy?

What do I need to do to help move this along?

Thanks!

[2018-09-12 17:49] WallStProg commented on #3245
I'm curious why there has been no response to this.  Use-after-free is clearly a serious issue, so I would hope that the project maintainers take it seriously.

Is the lack of response because I'm unable to provide a repro?  Are people simply busy?

What do I need to do to help move this along?

Thanks!

[2018-09-13 06:28] sigiesec commented on #3245
Hi @WallStProg!

It is very difficult to do anything about this without a test case reproducing it. We don't even know which socket types, transports and socket options are used. However, even with this information, an executable test case would still be more or less required to investigate this further.

Since you are using an older version, could you try updating to the latest master, and see if

[2018-09-13 12:52] fabioz23 commented on #3249
because my project is relatively big but with a medium complexity **the only reason why zmq goes in abort state is related to other sockets opened by the main program.**

trying with nanomsg the problem does not occur and then i proceed with nanomsg.

[2018-09-13 19:46] mkmodrzew commented on #1688
It is almost three years old issue, but could I try to do it?

[2018-09-13 21:34] bluca commented on #3249
Ok, I'll close then

[2018-09-13 21:34] #3249 closed

[2018-09-14 15:42] WallStProg commented on #3245
Hi @sigiesec:

Thanks for the thoughtful reply.

The good news is that ZeroMQ works as expected 99+% of the time -- the bad news is that in order to run our production systems on ZeroMQ that percentage needs to be as close to 100% as we can make it.  So, we "torture test" the software, and in the process we uncover "Heisenbugs" like this one.  And when we do, we post here and ask for help.

I unde

[2018-09-14 16:31] WallStProg commented on #3245
Thanks for the suggestion!  Unfortunately, in our tests, we see the same behavior w/4.2.5, which suggests that the problem is not the one fixed by #2910,  but something else, possibly related to when `process_commands` runs on the socket.

Again, we're putting together a repro and writeup that we can post here soon.

[2018-09-15 14:17] WallStProg opened #3252 "race condition setting ZMQ_LINGER"
# Issue description
race condition setting ZMQ_LINGER

# Environment
* libzmq version (commit hash if unreleased): 4.2.5 (8fb5b10d8a60e06b9adebd22ecc118f13580375c)
 - (Note that the 4.2.5 release does not build on Linux without subsequent patch)

* OS: CentOS 6.9

# Minimal test code / Steps to reproduce the issue

Repro code is at: <https://github.com/WallStProg/zmqtests.git>

The test code for t

[2018-09-15 14:38] WallStProg commented on #3245
Please see #3252 for a pure libzmq example of the linger problem mentioned above.  (Note also that we discovered the linger problem while troubleshooting #3186, which turned out be related to `process_commands` not being called on the application thread).

As I mentioned above, my experience working with several different messaging middlewares is that it's the shutdown sequence where some of the g

[2018-09-17 15:35] WallStProg commented on #3252
Thanks @sigiesec !

Wouldn't that be nice!

Thanks again -- any help is much appreciated!  We'll continue to bang on this as well...

[2018-09-19 13:46] sylvainduchesne commented on #3104
We have a similar problem, and it seems to be related to the OS (we are using Windows) closing sockets when under high load.
I can reproduce the problem using this tool https://www.nirsoft.net/utils/cports.html by forcibly closing zmq related TCP connections for my process.
While we haven't had any concrete evidence for the reason of these crashes, the high load on the OS and the exact crash when

[2018-09-19 13:53] bluca commented on #3104
Yes. If the internal control mechanism is not reliable anymore any kind of undefined behaviour and broken protocol behaviour might happen. I'd recommend to file a bug with the supplier of the operating system that randomly kills random userspace sockets, as that does not sound like something that should happen.

[2018-09-19 15:08] sylvainduchesne commented on #3104
AF_UNIX seems fine, but availability seems very limited, so I personally won't count on this to be the silver bullet.
I don't know zmq internals, but why is it impossible to return to an initial state (eg: restart completely) rather than crashing? Our project makes use of dozens of external resources/projects and yet zmq is the only one crashing under these circumstances.

[2018-09-20 06:42] sigiesec commented on #3104
For systems running a recent subversion of Windows 10, this might be an alternative, but I fear there will be plenty of pre-Win10 systems around for years. Also, AF_UNIX under Win10 does not support socketpair, which is used by libzmq. I am unfamiliar if this can easily be replaced by something else.

In addition, while I expect this to work at least with select (not sure about wepoll, since this

[2018-09-20 21:19] romikforest opened #3256 "Cannot return from function that uses zmq in python 3 django"
I use python 3.6.6 anaconda 64 bit windows, zmq 4.2.5 I have very strange behavior: function can't return.

Server:

[code]

Client:

[code]

It was working. I don't know what has changed. But now it is broken. When the server is shut down, client's `do_request` doesn't return the 'Service temporarily unavailable'. The `response = json.loads(socket.recv().decode("utf-8"))` throws an exception. In

[2018-09-20 23:04] bluca commented on #3256
For python issues the right repository is: https://github.com/zeromq/pyzmq/issues

[2018-09-20 23:04] #3256 closed

[2018-09-21 18:47] marvingreenberg opened #3258 "INSTALL documentation regarding windows builds is out of date."
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description

The documentation in INSTALL regarding windows builds is outdated.

    For Windows building, see the libzmq\builds\msvc\readme.txt file.

This directory has been renamed to deprecated-msvc.  Commit comments suggest CMake is now preferred, but it unclear if CMake can be used for older platform build

[2018-09-21 18:51] bluca commented on #3258
@sigiesec could you please have a look when you have a sec, thanks

[2018-09-21 18:52] bluca commented on #3258
@marvingreenberg the CI uses cmake with various old VS versions so it should be all right

[2018-09-22 10:32] dFionov opened #3259 "Crash in zmq::fq_t::has_in()"
![devenv_2018-09-22_13-22-00](https://user-images.githubusercontent.com/12670729/45916283-fff7ad00-be6b-11e8-8072-97d8da9042b2.png)
# Issue description

Crash in zmq::fq_t::has_in()

# Environment

* libzmq version (commit hash if unreleased): 4.2.5
* OS: Windows 2012 R2

# What's the actual result? (include assertion message & call stack if applicable)
Crash with exception:
0xC0000005 The thread

[2018-09-22 10:53] bluca commented on #3259
Are you using a socket from multiple threads?

[2018-09-22 10:56] dFionov commented on #3259
No. One socket per thread. And yes - this is ipc socket.

[2018-09-22 11:04] bluca commented on #3259
IPC on windows?
Do you have a minimal test case that reproduces the issue?

[2018-09-22 11:11] dFionov commented on #3259
Sorry - I mean inproc.
It is very rare issue, I think. I know only about one crash.

[2018-09-22 12:03] sigiesec commented on #3258
I removed the reference to the deprecated files. I noticed that the INSTALL file is somewhat confusing in general (I must admit I have never looked into it before). It refers to CMake at some places, and to the autotools at other places, without making the options clear. It should be rewritten IMO.

[2018-09-22 12:55] #3258 closed

[2018-09-22 12:55] bluca commented on #3258
great, thanks

[2018-09-22 13:02] sigiesec commented on #3252
I tried to reproduce this under Mac OS X, but no luck. The peer processes never hang in my test.

[2018-09-22 13:26] WallStProg commented on #3252
Thanks Simon!
I'm going to try that as well -- so far have only repro'd on Linux -- and will compile a list of results on different platforms and get back to you.  Give me a couple days to put that together.

[2018-09-22 15:20] smalls12 opened #3261 "Extend Socket Monitor For Events From Router"
After discussions in #3213, decided that this could use its own thread for discussions.

#3213 provided a new feature that would allow a ROUTER socket detect when a DEALER disconnects.

The idea was floated about how this could be integrated into the socket monitor as this is its primary function.

The socket monitor can already process events from the ROUTER socket, but does not currently provide

[2018-09-22 19:14] WallStProg commented on #3252
So this is kind of interesting ...

First, I was able to get the peers to hang under Mac OS.  The hung process showed the following stack trace:

[code]

This was with High Sierra on a MacBook Pro (Retina, 13-inch, Mid 2014).  ZeroMQ was installed via `brew install zeromq`, which installed version 4.2.5.  (I also had to install uuid via `brew install ossp-uuid`).  The compiler ID is "AppleClang 9.

[2018-09-25 07:05] dFionov commented on #3259
What kind of information you need?

[2018-09-26 05:54] dFionov commented on #3259
Investigations took me into subcomponent which uses second thread to perform nonblocking logic where onDone callbacks were provided. So it was concurrent using of socket without synchronising.

[2018-09-26 05:54] #3259 closed

[2018-09-26 08:39] dFionov commented on #3259
@bluca I reimplement this subcomponnent to use RunInLoopContext method to prevent multithreaded access.

[2018-09-27 13:14] mrvn commented on #2892
From the code it looks like ROUTER_HANDOVER should fix the problem. Otherwise it assumes the background threads have finished their housekeeping and evicted the old connection before the DEALER reconnects. And that's just a race condition waiting to trigger.

I think when a connection comes in with an identity that is already in use then that should "flush" all the housekeeping work to see if the

[2018-09-28 08:02] bluca commented on #3162
Soon-ish

[2018-09-28 19:05] vibk opened #3263 "zmq raise exception in I/O thread"
when we send bad data into zmq socket, I/O thread raises exception and process gets killed.

Call stack of crash is as below

00 KERNELBASE!RaiseException+0x68
01 zmq::zmq_abort(char * errmsg_ = <Value unavailable error>)+0x21 [objdir-windows-msvc-14.0.x86_64\build\libzmq\src\err.cpp @ 89]
02 zmq::tcp_read(unsigned int64 s_ = <Value unavailable error>, void * data_ = <Value unavailable error>, uns

[2018-09-29 08:49] bluca commented on #3263
What do you mean by "bad data"? Can you provide an example program to reproduce it?

[2018-09-29 09:58] sigiesec commented on #3263
Also, which version of libzmq are you using? Can you try to use the current master and check if the issue persists?

[2018-10-01 14:45] bluca commented on #2488
Fixed by #3266

[2018-10-01 14:45] #2488 closed

[2018-10-01 16:19] bluca commented on #3210
@sigiesec any chance you've got time to look at this? Given the TIPC one is fixed now, I think this is the only blocker for a new release

[2018-10-01 17:17] sigiesec commented on #3210
I will try to look at it in the next days, but I cannot promise, sorry!

[2018-10-01 20:48] bluca commented on #3263
I cannot reproduce this on Linux. @sigiesec can you repro on Windows?

[2018-10-01 21:16] vibk commented on #3263
I tested on windows.

[2018-10-01 22:51] toonetown commented on #3263
I am seeing it crash on windows, I do *not* see it crash on macOS.

I used the following files:

### server.py ###
[code]

### client.py ###
[code]

[2018-10-02 06:03] sigiesec commented on #3263
@vibk 4.2.3 is neither the latest release, which is rather 4.2.5, nor the master version. Which one are you using? In case of an unreleased version, please provide the commit SHA.

[2018-10-02 12:07] toonetown commented on #3263
@sigiesec http://zeromq.org/intro:get-the-software lists the latest stable version as 4.2.3. However, I was seeing the same when using they python scripts posted above using version 17.1.2 of the python bindings (which, appear to be using 4.2.5).

Also - I only see the crash (again, with the python scripts) on Windows - not on macOS or Linux.

[2018-10-02 12:17] bluca commented on #3263
I have updated that wiki page, it's not done automatically and we forgot last time

[2018-10-02 14:55] toonetown commented on #3263
OK - I've run a couple of tests and am getting the crash using ZMQ 4.2.5 (Windows only).

You can crash the server every time (I am just using the "Hello World" server from the guide): http://zguide.zeromq.org/cpp:hwserver

To crash the server, you can run the following python script (requires Python 3):

### crash-server.py ###
[code]

**NOTE:** that the python script is *not* using ZMQ...it is j

[2018-10-02 15:05] bluca commented on #3263
I don't think so. I think the issue is simply the tcp read buffer size of Windows. But some Windows developer needs to look into it.

[2018-10-08 11:12] gabm opened #3268 "Problem: HWM in ZMQ_DGRAM socket does not respect multipart message"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description

When sending a lot of messages over a ZMQ_DGRAM socket, I hit an assertion in: `Assertion failed: check () (/home/gabm/zeromq/src/msg.cpp:347)`.

# Environment

* libzmq version (commit hash if unreleased):
* OS:

# Minimal test code / Steps to reproduce the issue

[code]

# What's the actual result

[2018-10-08 11:15] gabm commented on #3268
I tried a naive fix like this:

[code]

But now everything seems to hang when I hit the HWM, so I'm still digging, not sure what happens ...

[2018-10-08 11:28] bluca commented on #3268
ah that's the address, never mind then

[2018-10-08 11:30] gabm commented on #3268
aaah sorry, of course..

[2018-10-08 11:37] hoditohod opened #3269 "Boost.ASIO integration stopped working with master"
# Issue description
Hi,
I'm using ZeroMQ and Boost.ASIO together in a Windows application. The zmq's internal signalig socket is retrieved with ZMQ_FD socket option, and passed to ASIO wrapped in a asio::ip::tcp::socket for completion handler notification. The logic is identical to the one in [AZMQ](https://github.com/zeromq/azmq/blob/master/azmq/detail/socket_ops.hpp#L106): a duplicate handle is

[2018-10-08 12:14] bluca commented on #3269
There's no usage of IOCP here, so it must be something else. Probably the switch to epoll by default? Have you tried forcing back to select?
@sigiesec any idea?

[2018-10-08 12:39] hoditohod commented on #3269
I'm using CMake and VS2017 for the build, I don't pass any flags to CMake apart from the BUILD_TYPE=RelWithDebInfo.

The output is:
-- Using polling method in I/O threads: select
-- Using polling method in zmq_poll(er)_* API: select

So it's probably not wepoll... I'll try to track down the commit, and double check on my side.

[2018-10-08 12:45] bluca commented on #3269
yeah try to bisect and see what comes up

[2018-10-08 13:36] gabm commented on #3268
Aaah I see, I got confused because of a wrong return value...

When hitting the HWM, then the errno was EINVAL... The reason is because the flag that indicates the multi-part state is handle wrong in the dgram...

I'll provide a PR

[2018-10-08 16:15] bluca commented on #3268
Fixed by https://github.com/zeromq/libzmq/pull/3270
Thanks for the PR

[2018-10-08 16:15] #3268 closed

[2018-10-08 18:01] sigiesec commented on #3210
Finally I made some progress, I installed VS2013. Will give the failing test a look tomorrow.

[2018-10-09 13:29] sigiesec commented on #3210
Unfortunately, I cannot reproduce the problems with VS2013 on my machine either :(

[2018-10-10 09:32] ziadkassam commented on #807
Hello,
I downloaded the latest version of ZMQ, and I want to use the UDP feature (C++), anyone can help me please?!

[2018-10-10 09:46] ziadkassam commented on #807
error: ‘ZMQ_RADIO’ was not declared in this scope
     zmq::socket_t socket (context, ZMQ_RADIO);

[2018-10-10 09:52] jamesdillonharvey commented on #807
Have you built libzmq with draft options enabled?

./configure --enable-drafts

On Wed, Oct 10, 2018 at 10:47 AM Ziad kassam <notifications@github.com>
wrote:

[2018-10-10 09:59] ziadkassam commented on #807
Yes, but is it right like that:

server.cpp:
zmq::context_t context (1);
zmq::socket_t socket (context, ZMQ_DISH);
socket.bind ("udp://*:5557");

client.cpp:
zmq::context_t context (1);
zmq::socket_t socket (context, ZMQ_RADIO);
std::cout << "Connecting to hello world server..." << std::endl;
socket.connect ("udp://localhost:5557");

[2018-10-10 10:09] jamesdillonharvey commented on #807
Maybe try defining  ZMQ_BUILD_DRAFT_API before including zmq.h

More details here:
https://github.com/zeromq/libzmq/issues/2811

On Wed, Oct 10, 2018 at 10:59 AM Ziad kassam <notifications@github.com>
wrote:

[2018-10-10 10:15] ziadkassam commented on #807
How can I do this?

[2018-10-10 10:16] ziadkassam commented on #807
I put this at the beginning of the code:
 #ifdef ZMQ_BUILD_DRAFT_API

    //DRAFT Socket types.
#define ZMQ_SERVER 12
#define ZMQ_CLIENT 13
#define ZMQ_RADIO 14
#define ZMQ_DISH 15
#define ZMQ_GATHER 16
#define ZMQ_SCATTER 17
#define ZMQ_DGRAM 18
#endif

[2018-10-10 10:37] ziadkassam commented on #807
I put this part:
#ifdef ZMQ_BUILD_DRAFT_API

//DRAFT Socket types.
#define ZMQ_SERVER 12
#define ZMQ_CLIENT 13
#define ZMQ_RADIO 14
#define ZMQ_DISH 15
#define ZMQ_GATHER 16
#define ZMQ_SCATTER 17
#define ZMQ_DGRAM 18
#endif

Compiled normally, but the following error appears:
terminate called after throwing an instance of 'zmq::error_t'
  what():  Invalid argument
Aborted (core dumped)

[2018-10-10 10:44] jamesdillonharvey commented on #807
You have lost me now, I am not sure where you "put" that code?

All I can say is :

1. make sure you have configured (then compiled) libzmq with --enable-drafts
2. When you compile your code give g++ the option -DZMQ_BUILD_DRAFT_API=1

If that doesn't work then try using pkg-config as bluca suggest in the
issue I linked earlier.

On Wed, Oct 10, 2018 at 11:38 AM Ziad kassam <notifications@github.c

[2018-10-10 10:50] ziadkassam commented on #807
1. make sure you have configured (then compiled) libzmq with --enable-drafts
"Please can you tell me these steps?"
I made them like that:
./autogen.sh
./configure && make check
sudo make install
sudo ldconfig

2. When you compile your code give g++ the option -DZMQ_BUILD_DRAFT_API=1
I put the following code in the client.cpp header:
// These functions are DRAFT and disabled in stable releases, and

[2018-10-10 10:51] ziadkassam commented on #807
If that doesn't work then try using pkg-config as bluca suggest in the
issue I linked earlier.
How can I do this?

[2018-10-10 11:16] somdoron commented on #807
Run the following in the libzmq lib (assuming you already run `./autogen.sh`)

[code]
Do one of the following, depending on your build system
* Before including zmq.h do `#define ZMQ_BUILD_DRAFT_API 1`.
* Add the following argument when running gcc `-DZMQ_BUILD_DRAFT_API=1`
* Use your build system to define the flag ZMQ_BUILD_DRAFT_API.

[2018-10-10 11:56] ziadkassam commented on #807
still not working:

error: ‘ZMQ_DISH’ was not declared in this scope
     zmq::socket_t socket (context, ZMQ_DISH);

[2018-10-10 11:58] ziadkassam commented on #807
But when I put on top of the code server.cpp and client.cpp, the compile works correctly, but I receive the error:
terminate called after throwing an instance of 'zmq::error_t'
  what():  Invalid argument
Aborted (core dumped)

[2018-10-16 07:31] nayabbashasayed opened #3273 "[Help] Getting sender's IP address from multicast UDP radio socket"
# Issue description
For now I am including senders IP address as part of multicast packet. But sender's IP address may change dynamically. So It would be better to get the IP address from the packet itself. Is there any way to do that?

# Environment
Linux 3.14

* libzmq version (commit hash if unreleased): 4.2.5
* OS:
Ubuntu

[2018-10-16 16:15] kikosha opened #3274 "After unsubscribe XSUB socket receives messages sent before the unsubscribe event"
**Issue description:**
Messages that are sent by a PUB socket to an XSUB socket before XSUB sent an unsubscribe message are still received by the XSUB socket after the unsubscribe. Minimal code example below illustrates what I mean.

**Environment:**
Ubuntu 18.04.01

**libzmq version:**
I'm using zmq through its C++ binding:
libzmq5:amd64                   4.2.5-1
libzmqpp4:amd64                 4

[2018-10-16 17:44] bluca commented on #3274
XSUB sockets do not do any automated filtering, it's left to the user application. Use SUB if you want automated filtering.

[2018-10-16 17:44] #3274 closed

[2018-10-16 17:45] bluca commented on #3273
Why do you want the sender address?

[2018-10-17 06:43] AntonioGMuriana commented on #2309
Still giving error compiling with modern SDK. Having to downgrade to 10.0.14393.0... any ideas to use newest ones ?

[2018-10-17 07:56] kikosha commented on #3274
Well, then the documentation must updated accordingly, because in all places where XSUB is mentioned it states that XSUB is exactly as SUB except that it allows sending arbitrary messages to the PUB, example:
http://zguide.zeromq.org/page:all#The-Dynamic-Discovery-Problem

Also, in API section:
http://api.zeromq.org/4-2:zmq-socket#toc13

My reason for chosing XSUB over SUB was that I needed the fu

[2018-10-17 08:35] bluca commented on #3274
The flag was there but removed intentionally. Feel free to send a pr to update the docs.

[2018-10-17 10:36] guidog commented on #3273
At least there should be no technical barrier.
The information is provided by the recvfrom syscall anyway (the multicast packet is an ordinary UDP packet).
So it boils down to the usual discussion: make it available or not?

[2018-10-17 13:16] kikosha commented on #3274
Here:
http://zguide.zeromq.org/page:all#The-Dynamic-Discovery-Problem
XSUB and XPUB are _similar_ to SUB and PUB except they expose subscriptions as special messages _and the XSUB socket does not perform subscription-based message filtering. The latter can create race condition between un-subscription and incoming data, this edge case has to be handled by application logic._

In API section:
http:

[2018-10-18 19:00] teterycz commented on #3245
Hi @sigiesec,

I was running a test on the same codebase as @WallStProg and ASAN caught a race condition in the reaper thread where **process_pipe_term_ack()** is being called before **term_endpoint()** completes causing a heap-use-after-free.

In the _"freed by thread T3 here"_ section **process_term_endpoint** calls **process_command** and picks up a **pipe_term_ack**.

[code]

This is with libz

[2018-10-18 23:05] cc32d9 opened #3275 "ZMQ_PULL eventually starts to be very slow"
# Issue description

I'm using a pair of PUSH/PULL sockets in order to export the data from EOSIO `nodeos` process and store it in a database. The sender is sending the data sporadically with random peaks, and each message is varying in size from 100 bytes to few kilobytes. This constellation worked fine until I increased the amount of exported information, and also the receiver started to store m

[2018-10-19 19:49] ssbl commented on #1400
I've written a radix tree implementation with the same API as that in `trie.hpp`; it's fairly well-tested and seems to work. It could potentially be a more efficient alternative to the trie libzmq currently uses.

The repository is [here](https://github.com/ssbl/radix-tree); just wanted to confirm before proposing a somewhat big change. It won't be the exact same code, I'll adapt it to libzmq's gu

[2018-10-19 21:29] bluca commented on #1400
Have you done some performance measurement to see if there are improvements, and in which conditions? Also it needs to be C++ 98 as there are users on very old compilers

[2018-10-20 00:08] ssbl commented on #1400
I don't have any measurements yet, I'll collect some and see if there's actually an improvement in performance. Porting it to C++98 shouldn't be a problem, I think.

[2018-10-20 00:42] cc32d9 commented on #3275
It seems to be related to some conflict between MySQL and ZMQ drivers in perl. Now I issue a commit after every ZMQ message received, and it looks much more stable. I will continue testing

[2018-10-20 07:28] cc32d9 commented on #3275
no, it just lasted longer with more frequent commits, but it eventually comes to the state as described above.

[2018-10-20 20:35] mkmodrzew commented on #1688
Okay, today I spent some time to learn something about codebase and contribution. Please someone to make sure that my idea of solving that problem is correct: there should be added a socket option, let's call it `ZMQ_UNIQUE_MSG`, that while added to PUB configuration via `zmq_setsockopt()` would keep only one message per one SUB filter. Is that correct way?

[2018-10-23 02:39] ivihovsky commented on #1865
I have the same issue but for VC-2010 and I cannot find file configure.bat to run command run .\configure.bat.
I can see that I have libzmq.props file for 2015 only. May I copy it for 2010?
Otherwise where am I supposed to look for libzmq.props or configure.bat?
Thank you

[2018-10-23 11:10] ivihovsky opened #3279 "Failed to compile with VS2010"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
I have the same issue as closed issue"Failed to compile with VS2013 #1865 " but for VC-2010 and I cannot find file configure.bat to run command run .\configure.bat.
I can see that I have libzmq.props file for 2015 only. May I copy it for 2010?
Otherwise where am I supposed to look for libzmq.props or

[2018-10-23 11:17] sigiesec commented on #3279
The information on configure.bat is outdated. In addition, the checked-in solution files are deprecated. Please use cmake to generate a solution file.

[2018-10-23 12:21] sigiesec commented on #3279
The build instructions are here: https://github.com/zeromq/libzmq/blob/master/INSTALL

CMake is available from here: https://cmake.org/download/
It is a meta-build tool, which allows to generate build files for different build systems, including Visual Studio/MSBuild.

[2018-10-23 14:23] ssbl commented on #1400
I've added the radix tree and a simple benchmarking script to my fork of libzmq ([link to commit](https://github.com/ssbl/libzmq/commit/1f1cd56c34200d23699fa36b24c18319f384452a)). The script initializes both data structures with the same data, and runs a common set of queries on each. Here are the timings for running 100K queries on a data set of 10K randomly-generated keys of size 20 bytes each (

[2018-10-23 16:19] ivihovsky commented on #3279
Thank you for trying to help.
I followed your instruction but got different errors. I tried different approaches. My latest situation is like this.
///
F:\ProjectRelated\ZeroMQ\zeromq-4.2.5\cmake-make>"F:\Program Files (x86)\Microso
ft Visual Studio\2017\Enterprise\Common7\IDE\CommonExtensions\Microsoft\CMake\CM
ake\bin\cmake" -H. -G "Visual Studio 10 2010 Win64" ..
-- Using tweetnacl for CURVE se

[2018-10-23 19:47] greggwon commented on #2334
The predominant problem with signals is that it just doesn't work in a multi-threaded environment.  Getting out of the kernel or out of the library with an error conveyed to the thread should not be a problem using conventional error returns.

[2018-10-24 09:14] jamesdillonharvey commented on #1400
These results look really good, especially the memory usage. I have a
market data system (ZMQ_PUB/SUB) where 100k subscriptions on a single
publisher are not uncommon so the memory saving would be useful.

My biggest issue though is on large batches of unsubscribes. Unsubscribing
large numbers of subjects/topics causes the publisher to hit 100% cpu for
many seconds.

How is the performance of your

[2018-10-24 10:14] bluca commented on #3279
Yes, I'm busy at a conference this week, will try over the weekend to do the various chores

[2018-10-24 13:01] ssbl commented on #1400
I've added a new benchmark to the [google benchmark script](https://gist.github.com/ssbl/9b4947a221518c9b8919fbd9117a000f/d06087d33aea6af1f70aa7d6af688863f4600d92) which deletes 100K randomly-generated keys from the data structure. There's a greater speedup here: 114ms for the trie vs 29ms for the radix tree, although I'm not sure how closely this random dataset resembles real-world inputs.

It se

[2018-10-24 13:12] jamesdillonharvey commented on #1400
So far the radix tree has no down sides :)

What about adding a test for insert performance?
What happens when you reach 1M keys?

On Wed, Oct 24, 2018 at 2:01 PM Shubham Lagwankar <notifications@github.com>
wrote:

[2018-10-24 14:09] ivihovsky commented on #3279
Reportedly we have issue with our current version of ZeroMQ (4.0.4). The problem is related to zmq::select_t::loop () error (https://github.com/zeromq/libzmq/issues/2149). I personally have not checked this fact but was obliged to update library.
To clone I have to ask you
As far as I understand to clone I have to install Git on my corporate computer and I am not encourage to do so, at least now u

[2018-10-24 14:40] sigiesec commented on #3279
That's a very strict policy, but you can also download the current master from https://github.com/zeromq/libzmq/archive/master.zip

[2018-10-24 15:05] ssbl commented on #1400
I added a similar [benchmark](https://gist.github.com/ssbl/9b4947a221518c9b8919fbd9117a000f/507823c27da40b3c32ca8e9b0a6b5d2121664e46) for inserts. These are the results for 100K keys:

[code]

With 1M keys:

[code]

I just realized I wasn't including the initial data about the cpu and caches in previous comments; it's essentially the same for every run.

[2018-10-24 15:22] WallStProg commented on #3245
Turns out that this issue *can* be repro'd w/pure libzmq using the code in 3186 directory from [zmqtests](https://github.com/WallStProg/zmqtests.git) -- it just needs more peers running.

The use-after-free occurs when a number of processes connect and disconnect from each other, and when the system is busy enough that some calls (e.g., to `zmq_disconnect`) get preempted and resumed at a later tim

[2018-10-24 16:02] ivihovsky commented on #3279
Yes, it is strick policy - I work for a big bank.
This time, cmake finished more successfully (with exception of some warnings for developers):
///
F:\ProjectRelated\ZeroMQ\libzmq-master\cmake-make>"F:\ProgramFiles\CMake\bin\cma
ke" -H. -G "Visual Studio 10 2010 Win64" ..
-- The C compiler identification is MSVC 16.0.40219.1
-- The CXX compiler identification is MSVC 16.0.40219.1
-- Check for work

[2018-10-24 17:23] sigiesec commented on #3279
This looks fine. Cmake does not build yet, but only generates the files you need to build. There should be a .sln file in the directory. You can build it using Visual Studio, msbuild or by calling cmake --build

[2018-10-24 18:34] ivihovsky commented on #3279
You know, now it is much beter - I have already the static library libzmq-v100-mt-4_3_1.lib (so, you gave me even more l latest code then 4.2.5). But I don't see shares library. I would expect to find a libzmq.dll file somewhere (in previous package I also have libzmq_d.dll). What should I do to get them? Probably I have to indicate some flags somewhere?
Thank you

[2018-10-25 10:36] bluca commented on #1400
Thanks for your work, this looks good, questions:

1) Does it work with just C++ 98 now?
2) You need to add the license headers to new files
3) You need to update the autoconf/automake files as well
4) There is an mtrie unit test, you should replicate it/reuse it so that we have coverage
5) The benchmark thing, is it an external dependency?

[2018-10-25 14:19] ssbl commented on #1400
1. I'm working on this, there are a couple of functions using auto and initializer lists.
2-4. Thanks, I'll make these changes now. I'm not sure about what I should update in the autoconf/automake files, though, maybe there's something I'm missing here?
5. Yes, it uses google's benchmarking library. I'm planning to move the script out of libzmq once we don't need it.

[2018-10-25 14:30] ssbl commented on #1400
Oh I see it now, thanks!

[2018-10-25 14:59] ivihovsky commented on #3279
Thank you for all your previous anwers but could you, please, help me to bring this task to the end? I don't still know how to get dll.
Thank you in advance

[2018-10-25 16:10] sigiesec commented on #3279
Hm, the default is to build both static and shared libraries. The name of the dll will look similar to the static library, i.e. not just libzmq.dll

Can you attach the build log?

[2018-10-25 16:28] ivihovsky commented on #3279
[CMakeOutput.log](https://github.com/zeromq/libzmq/files/2515909/CMakeOutput.log)
[CMakeError.log](https://github.com/zeromq/libzmq/files/2515912/CMakeError.log)

[2018-10-25 16:34] sigiesec commented on #3279
I meant the build log, i.e. the output from running msbuild or cmake --build

[2018-10-25 16:55] ivihovsky commented on #3279
[BuildSolution.log](https://github.com/zeromq/libzmq/files/2515961/BuildSolution.log)
I started VS-2010 clicking on ZeroMQ.sln and started "BuildSolution"
If I must run "cmake --build" then from what directory do I have to run it ?

[2018-10-25 17:16] sigiesec commented on #3279
No, running the build in vs is fine as well. The log says the dll is at F:\ProjectRelated\ZeroMQ\libzmq-master\cmake-make\bin\Release\libzmq-v100-mt-4_3_1.dll

[2018-10-25 19:57] ivihovsky commented on #3279
It is all fine now, but I don't understan where I can find libzmq-v100-mt-4_3_1.pdb. Usually they are created at the same directory where is dll

[2018-10-25 20:04] bofonov opened #3280 "Latency and/or Dropped Messages on Other Subscribers When One Subscriber Is Slow"
# Issue description

A connected subscriber that is too slow to process the incoming messages will occasionally cause latency spikes and/or dropped messages for other connected subscribers.

# Environment

* libzmq version (commit hash if unreleased): 4.2.5
* OS: Red Hat Enterprise Linux Server release 7.5 (Maipo)

# Minimal test code / Steps to reproduce the issue

TestServer.cpp
[code]

TestClie

[2018-10-25 21:02] ivihovsky commented on #3279
I copiled my application (which I previously ran with 4.0.4 library) and got
"Unhandled exception at 0x00007ffed67feea7 in nodeServer_0.dmp: 0xC00000FD: Stack overflow."
(nodeServer_0 is one of my modules).
Do you know what could go wrong?

just in case here is stack
 	libzmq.dll!00007ffed67feea7()
 	[Frames below may be incorrect and/or missing, no symbols loaded for libzmq.dll]
 	libzmq.dll!0000

[2018-10-25 21:56] peterdjalaliev commented on #3263
Hello, has anybody been able to investigate this?
Regards, Peter

[2018-10-26 07:15] sigiesec commented on #3279
To get a release build with pdb, you need to use the RelWithDbgInfo configuration rather than Release. That's a cmake convention.

[2018-10-26 13:28] MyraBaba opened #3282 "terminating with uncaught exception of type zmq::error_t: Operation cannot be accomplished in current state"
I have this error in Qt 👍
terminating with uncaught exception of type zmq::error_t: Operation cannot be accomplished in current state

same code working on the Clion cmake:
zocket.send(request) line producing this error.

`zmq::context_t context (1);
    zmq::socket_t zocket (context, ZMQ_REP);
    zocket.connect ("tcp://localhost:5559");

    zmq::message_t request (5);
    memcpy (request.data (

[2018-10-26 14:11] bluca commented on #3282
The reply socket, as the name suggests, can only reply, not initiate. I suggest to read the guide: http://zguide.zeromq.org/page:all

[2018-10-26 14:11] #3282 closed

[2018-10-26 16:08] ivihovsky commented on #3279
I hate to tell that but new version crashes. I substitute new library and old one couple of time and every time I use new version I have crash. here is updated stack with more useful information.
////
 	libzmq.dll!__chkstk()  + 0x37 bytes	Asm

 	libzmq.dll!zmq::select_t::add_fd(unsigned __int64 fd_, zmq::i_poll_events * events_)  Line 90 + 0x11 bytes	C++
 	libzmq.dll!zmq::tcp_listener_t::process_p

[2018-10-26 19:57] ivihovsky commented on #3279
Couse for dump "Unhandled exception at 0x00007ffecc2406e7 in nodeServer_0.dmp: 0xC00000FD: Stack overflow." As far as I understand it happens at initialization stage.

[2018-10-27 20:01] WallStProg commented on #3245
A couple of quick notes:

- I can confirm that this problem (use-after-free) exists in 4.2.5 and master, in addition to 4.2.3.

- Issue #2602 looks like a dead ringer for this one, but since the use-after-free still occurs on both 4.2.5 and master, the fix for that issue would seem to be not cover all cases.

[2018-10-29 13:48] bjovke commented on #3245
Hello @WallStProg .
Can you replace this code in `zmq::socket_base_t::term_endpoint` (socket_base.cpp):

[code]
with:

    std::vector<pipe_t *> pipes_to_terminate(std::distance(range.first, range.second));

    for (endpoints_t::iterator it = range.first; it != range.second; ++it) {
        //  If we have an associated pipe, terminate it.
        if (it->second.second != NULL) {
            pipes

[2018-10-29 15:06] bluca commented on #1400
That looks great, thanks. Two things:

1) please rebase and squash the existing commits into one (or 2 if you want to keep the benchmark test separate)
2) please add a separate commit with a relicensing grant, see https://github.com/zeromq/libzmq/blob/master/RELICENSE/README.md

After you do that open a PR and if the tests look good we can merge it.

[2018-10-29 15:34] ssbl commented on #1400
Thanks @bluca ! I'll open a PR after this is done.

[2018-10-29 21:06] bjovke commented on #3245
@WallStProg Just one additional comment. `std::distance` and `std::find` require C++11. I was lazy, sorry. If you have any issues they can be each easily replaced with `for` loop.
But this is just an idea to try. The final commits (if any) will be different.

[2018-10-29 21:15] WallStProg commented on #3245
Thanks again @bjovke !

FWIW, I've been running our torture test for about five hours now and so far it's all clean, so that's encouraging.  (It usually takes about ten minutes to trigger the UAF).

I would love to understand better what's going on here, and why this patch works -- if you can explain a bit I'd be very grateful.

[2018-10-29 21:53] bjovke commented on #3245
`int rc = process_commands (0, false);` line in `zmq::socket_base_t::term_endpoint()` might terminate the pipe (and free it).
This can be clearly seen in your stack trace:
[code]
You have properly concluded that the free and use after free happen in the same thread. **They even happen in the same function during one execution** - `zmq::socket_base_t::term_endpoint()`.

The pipe deletes (frees) its

[2018-10-30 02:05] WallStProg commented on #3245
Thanks @bjovke for your thoughtful, and detailed, reply.  I need to understand the code (and especially the shutdown sequence) better, but your explanation is a big help.

Also, ran clean with your patch for ~  7 hours, then reverted the patch and got a UAF in three minutes, so I'd say the patch is looking good.   Will continue to test and report back.

[2018-10-30 09:18] bjovke commented on #3245
@WallStProg Great!
Now what is left to do is to make this patch a little better. Mostly regarding performance.
In the meantime I guess you can use this patch if you wish.

[2018-10-30 16:40] WallStProg commented on #3245
Hi @bjovke -- if you have time to answer a few questions, I'd appreciate it very much!

Not every time, but yes it does happen that way sometimes.

That's the part that's been confusing me -- it *seems* that a pipe represents either a ZMQ socket or an endpoint, and in the latter case the endpoint address could be stored in the `pipe_t` structure itself, which would make this easy.

From a data-mod

[2018-10-30 16:53] WallStProg commented on #3245
Which is exactly what your PR does, so I guess that part at least is correct.

[2018-10-30 19:46] ivihovsky commented on #3279
If you release a new version, as you were intended, could you please let me know?
Thank you.

[2018-10-30 20:48] bjovke commented on #3245
@WallStProg
The `pipe_t` is an interface to the two way thread safe message queue. For each socket's endpoint there's one `pipe_t` so socket can send/receive data for that endpoint. For network sockets on the other side of this queue is an I/O thread which does all the actual network communication.

In this case `pipe_t` is used by a socket to communicate with endpoint. But generally this might no

[2018-10-30 21:59] bjovke commented on #3279
@ivihovsky This looks like an old issue with std::map implementation where internally few copies of FD_SETs are made, overflowing the stack.
Can you please increase the stack size in your EXE project to, for example, 2MB (default is 1MB) and try again?

[2018-10-31 20:08] bjovke commented on #3245
@WallStProg  Nice to hear that it works now.
I'm wondering now what's going on with the ZMQ_LINGER problem? Did this PR help that in any way?
If this is still happening it seems to me that it would be more appropriate to create another issue for that instead of mixing it with "use after free" because these things might not be related.

[2018-10-31 21:07] WallStProg commented on #3245
Hi @bjovke -- I haven't tested the linger issue specifically with the PR, but it's a good idea to give it a try, and I will do that and report back.

The linger issue is already being tracked separately as #3252, and we'll start banging on that now that the UAF appears to be resolved.  (The UAF was higher priority because it could conceivably cause a crash, while the linger issue is at least avoid

[2018-11-01 19:36] bluca commented on #1400
Fixed by #3286

[2018-11-01 19:36] #1400 closed

[2018-11-01 20:11] bluca commented on #3245
Fixed by #3285

[2018-11-01 20:11] #3245 closed

[2018-11-02 08:05] opedroso commented on #3263
I'll take a look at it sometime this weekend.

[2018-11-02 10:21] v-evstifeev opened #3289 "Assertion failed: (src/signaler.cpp:143)"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description

My program crashes because of a call to zmq_abort() which calls abort().

# Environment

* libzmq version: 4.2.2
* OS: Linux Debian 3.16.0-16

# Minimal test code / Steps to reproduce the issue

Program terminated with signal SIGABRT, Aborted.
#0  __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv

[2018-11-02 13:53] ivihovsky commented on #3279
Thank you, But you know, after I implemented your change server side really stopped to crash however, client side started to crash (even thought I obviously implemented that change for it too setting size to 4000000).
More then that. I finally installed GI and got another package of 0MQ from your side. Now, after cmake finished to wotk and I compile in VC2010 I have following,
///
1>------ Build s

[2018-11-02 17:10] bjovke commented on #3279
1> CMake Error at CMakeLists.txt:1394 (file):
1> file failed to open for writing (Permission denied):
1>
1> F:/ProjectRelated/ZeroMQ/libzmq-master/cmake-make/ZeroMQ.sln

Is ZeroMQ.sln opened from some other program? You have "permission denied"
for it.

On Fri, Nov 2, 2018, 14:53 ivihovsky <notifications@github.com wrote:

[2018-11-02 17:21] bjovke commented on #3279
@ivihovsky Your app is also using stack. You have to add some more if it still crashes. If the stack usage is growing without stabilizing then you might have some recursion eating it. Look also for large stack objects in your code.

[2018-11-03 02:15] DeLucaDan commented on #3169
I looked through the change log and I did not see the fix.

[2018-11-04 05:39] opedroso commented on #3263
I used LIBZMQ 4.2.5 source zip and built it using VS Studio 17 Community Edition.
I used the client/server from toonetown post above (which I download to client2.py and server2.py).
I cannot reproduce the problem.
If anybody can, please let me know steps to reproduce it.

'''
C:\Users\opedroso\source\repos\client>python client2.py
Connecting to server...
received data:b'\xff\x00\x00\x00\x00\x00\x0

[2018-11-04 10:30] bluca commented on #3263
Thanks for checking.

Could it be a mis configuration of the OS? Unrealistically small buffers set by default? Is that a thing that can be done on Windows?

[2018-11-04 14:02] bluca commented on #2109
@minrk @somdoron @sigiesec I'm thinking of reverting this, for 2 reasons:

1) Performance of zmq_poll on top of zmq_poller is quite bad, as it has to recreate the poller every time, and there's lots of overhead
2) Many users of zmq_poll want to keep using that, so it's unlikely to go away, like the old socket types

Yes, it's annoying for users of new sockets to be restricted to zmq_poller only, b

[2018-11-04 14:07] somdoron commented on #2109
We can avoid the creation of zmq_poller internally by checking if there is any thread safe socket, and revert to old algorithm.

Anyway, I'm favor of reverting this, and direct thread safe sockets users to zmq_poller API.

[2018-11-04 14:58] toonetown commented on #3263
I was seeing the crash when using the `crash-server.py` script to crash the server, but just using the hello-world c++ example. The example I built using the statically-built version of zeromq built with vs2017.

[2018-11-04 15:00] toonetown commented on #3263
One other note: when I was seeing the crash using the `server.py` script previously posted, I was just using the version of zeromq that got installed using `pip`.

[2018-11-04 16:37] skinkie commented on #1256
Don't think the topic should be closed.

[2018-11-04 17:06] Vaelatern commented on #2597
Wow I let this slide.
My cmake knowledge is still limited, but I'll try to at least install the cmake build files from the Makefile, if that's doable.

[2018-11-04 19:03] minrk commented on #2109
As long as zmq_poller is strictly more functional (accepts at least every socket type zmq_poll does), I've no objection, though I think @somdoron's proposal is better for users (I know it is for me and mine).

I feel like this doesn't take users of language bindings into account. When a new socket type is only the addition of new constants for existing APIs, end users can adopt them without any he

[2018-11-04 19:49] opedroso commented on #3263
How did you install ZMQ using pip?

On Sun, Nov 4, 2018, 16:01 Nathan Toone <notifications@github.com wrote:

[2018-11-04 19:55] toonetown commented on #3263
I just ran `pip install pyzmq`. But the reason I tried reproducing with actual zeromq (compiled from source to a static library) was to eliminate the possibility that it was pyzmq-related.

I was able to reproduce using the statically-compiled library, too (as outlined in my last comment from Oct 2nd).

[2018-11-04 20:00] toonetown commented on #3263
If it might be easier to work on this via email, feel free to reach out to me at <myfirstname>_<my last name> at symantec dot com.

[2018-11-04 21:07] bluca commented on #2109
Yes, I cannot think of any reason why that should not work, so it should be fine.

Sorry if that causes issues! But I don't think it's very feasible to support hybrid builds - there's quite a few places where, if drafts are disabled, the codepath is completely different (this includes zmq_poll by the way - it redirects to zmq_poller only in draft builds already). Trying to use draft APIs or socket

[2018-11-04 22:19] bluca commented on #2109
That said, I'll implement @somdoron suggestion, for now it will do

[2018-11-05 15:49] ivihovsky commented on #3279
But look, first error happens earlier:
1>CUSTOMBUILD : CMake error : Cannot restore timestamp F:/ProjectRelated/ZeroMQ/libzmq-master/cmake-make/CMakeFiles/generate.stamp
Besides that I am not aware about any other process which holds ZeroMQ.sln or CMakeLists.txt and procexp doesn't show a such processes either.

And I increase the stack size to 4000000, in lines with your advice, for both server a

[2018-11-05 16:22] bjovke commented on #3279
@ivihovsky Yes, and that's a CMake specific error. Doesn't have anything to do with ZeroMQ. Did you run Visual studio as administrator some time and now with normal account? If you're not sure what to do then just re-generate CMake files again.

For stack it's really hard to tell without an example. If you have a minimal example code for this issue then someone can help you. Stack usage depends on

[2018-11-05 23:02] toonetown commented on #3263
It appears that this might be due to the fact that on windows, the `recv` call is returning `WSAENOBUFS`.  Allowing that to be a "valid" error in the assert statement in `tcp_read` (tcp.cpp:267) seems to fix the issue.

According to the documentation at https://docs.microsoft.com/en-us/windows/desktop/api/winsock/nf-winsock-recv, it doesn't explicitly stat that `recv` can return `WSAENOBUFS`, but

[2018-11-05 23:08] toonetown commented on #3263
Perhaps, this might be related to the issue described at https://zeromq.jira.com/browse/LIBZMQ-195 (I found that reference in the code for `tcp_write` - where it actually *does* handle `WSAENOBUFS`.

[2018-11-05 23:09] bluca commented on #3263
On which version of Windows do you see this error?

[2018-11-05 23:11] toonetown commented on #3263
Windows 10.

I'm actually putting up a PR so it can be more easily-reviewed.  Feel free to reject it or to totally hack it apart (it's a simple proposed change...but, admittedly, I don't know all the ramifications that it may trigger)

[2018-11-05 23:14] bluca commented on #3263
It's weird because the examples you posted definitely don't have large buffers. Are you sure your OS is not configured in some strange and broken way? Can these buffers sizes be controlled by the user like on *nix?

[2018-11-05 23:18] toonetown commented on #3263
I don't know all the steps in the code that least to this state, but in the example I posted, it actually leads to calling `tcp_read` with a buffer size of 4087382412.  In https://github.com/zeromq/libzmq/blob/master/src/stream_engine.cpp#L313 the call to `get_buffer` sets the value of `buffsize` to that.  (Verified by setting breakpoints and inspecting variables in the VS debugger...as mentioned,

[2018-11-05 23:21] bluca commented on #3263
That is... not good.

[2018-11-05 23:29] toonetown commented on #3263
Perhaps it's relying on the operating system to enforce the size...given the comment in the code in that same place?

[code]

It appears that windows is *ok* with sending the buffer too big...it just errors out (and zmq is not handling the error code).  However, maybe there's a bigger issue?

[2018-11-05 23:38] toonetown commented on #3263
I have validated that on macOS at least, the size of `buff size` in stream_engine.cpp:313 is *also* set to 4087382412 when running this example python script.  In that case, however, `tcp_read` is just returning `-1` instead of asserting, as in the windows case.

[2018-11-06 00:42] bluca commented on #3263
So the data the example is sending is being interpreted as a v1 message, as that's what the first bytes look like. At some point then 4087382413 is read as the message size, which is happily used as ZMQ_MAX_MSG_SIZE is not set, and that's where it comes from. I think you fix is correct.

[2018-11-06 09:53] sigiesec commented on #3263
What I find somewhat startling is that the allocation for 4087382413 bytes apparently succeeds. Shouldn't this fail in zmq::v1_decoder_t::eight_byte_size_ready and return ENOMEM? Then we would never get to tcp_read with that size.

[2018-11-06 09:56] bluca commented on #3263
The wonders of modern virtual memory I suppose. At least on Linux, I believe until you actually try to use it it's not _really_ allocated.

[2018-11-06 10:17] opedroso commented on #3263
Maybe not really allocated physically, but the process virtual range must
have been extended such that malloc will be able to return the pointer.
Page Table Entries have to be created for that address even if they are not
yet backed by an actual page (or disk block) yet.

And because the way malloc data structures are (control data lives in
between allocations in Windows), that means that most lik

[2018-11-06 10:38] bluca commented on #3263
Fixed by https://github.com/zeromq/libzmq/pull/3297

[2018-11-06 10:38] #3263 closed

[2018-11-06 10:39] bluca commented on #3263
Linux?

Yes I have, it completes just fine, the difference is the error returned from the read syscall

[2018-11-06 13:29] WallStProg commented on #2733
FWIW, I've tried using Thread Sanitizer for similar purpose, but have not been able to get it to work.  Following is a write-up that may be helpful:

## Using TSAN w/ZeroMQ
ZeroMQ presents particular challenges w/TSAN, mostly because ZeroMQ uses non-standard synchronization techniques, which cause TSAN to report *lots of* false positives.

Some of those false positives can be eliminated by buildin

[2018-11-06 13:32] bluca commented on #2733
I have a WIP helgrind suppression file, but it's far from complete and I didn't have time to finish it: https://github.com/bluca/libzmq/commit/fb9ee9da7631f9506cbfcd6db29a284ae6e9651e

[2018-11-06 15:04] maxalmonte14 commented on #2075
I think this can help

https://gist.github.com/mathiasverraes/b66f6117e5cfc92c3fbae37c1d0a3f26

[2018-11-06 16:09] phylake commented on #1373
Did anyone run my test case?

[2018-11-06 18:54] WallStProg commented on #2733
Thanks @bluca.  Although to be clear, I haven't been trying to verify the thread-safety of libzmq -- I've simply been trying to *exclude* libzmq from TSAN's thread-checking in order to get the benefit of TSAN's checking in my own code, without a huge number of false(?) positives from libzmq.

As you point out, verifying the thread-safety of libzmq is a significant undertaking, and as such is not o

[2018-11-07 09:05] sigiesec commented on #2047
The documentation is still misleading and should be fixed.

[2018-11-07 09:06] sigiesec commented on #2798
This should still be improved.

[2018-11-07 12:42] bluca commented on #2047
@sigiesec I excluded a few labels (you can see in the .github file), we can either use "problem repro" for issues like this or if you have an idea for a better-named one feel free to send a pr to update that file

[2018-11-09 07:23] ForrestSu opened #3300 "Subscribe to the same topic multiple times, send a subscription message to the publisher, and when I unsubscribe the topic one by one, only send the last unsubscribe message?"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
I used an XPUB socket to get the subscription notification, set **ZMQ_XPUB_VERBOSER** = 1, use the same socket to subscribe to the topic "**test**" multiple times, and I can receive the subscription notification. According to the ZMQ documentation [ZMQ_UNSUBSCRIBE](http://api.zeromq.org/4-2:zmq-setso

[2018-11-09 10:15] bluca commented on #3300
The _VERBOSER option allows to pass duplicated subscriptions from _different_ sub sockets, as the default behaviour is to only pass unique subscriptions across _all_ clients. The filtering is done from the client side, as it's a huge resource saver.

Yes, the documentation could be a bit clearer about that.

Why do you need to receive duplicated unsubs from the same client? What's the use case?

[2018-11-10 04:49] crocket opened #3302 "libzmq project doesn't have reference to C4.1"
# Issue description

It is one of the core projects of zeromq. Yet, I do not see reference to C4.1 in this project.

Did developers decide to not observe or stick to C4.1?

C4.1 is the best contribution policy that I have ever seen so far. If there is a better alternative, let me know.

[2018-11-10 10:02] bluca commented on #3302
It's linked in the pr template, feel free to send a pr to mention it elsewhere too https://github.com/zeromq/libzmq/blob/master/.github/PULL_REQUEST_TEMPLATE.md

[2018-11-10 19:47] #3302 closed

[2018-11-12 02:45] ForrestSu commented on #3300
Thank you. I maybe no need receive duplicated unsubs from the same client, I just used **_VERBOSER** option in the project, and wanted to verify the feature of _VERBOSER.
[ZMQ_XPUB_VERBOSER](http://api.zeromq.org/4-2:zmq-setsockopt#toc59) it said:

I gree with you, the documentation need a bit clearer about _VERBOSER_.

### Here is my understanding, is this correct?
I found the _VERBOSER option al

[2018-11-12 10:06] bluca commented on #3300
This behavior is asymmetrical, which may be a bit confusing.

Yes that is correct, and it's due to historical reasons in the implementation which we cannot change anymore without breaking backward compatibility. Feel free to send a PR to amend the documentation.

I do not know why it was added, I suppose someone wanted to do manual refcounting in their application.

[2018-11-12 12:19] ForrestSu commented on #3300
I reviewed the history issue #448 about _VERBOSE, via git blame.

XSUB/XPUB, so that ZMQ_XPUB_VERBOSE doesn't get blocked by forwarding
devices (as long as the devices all use ZMQ_XPUB_VERBOSE)

Consider for forwarding devices (eg: sockets proxy).

the author `John Muehlhausen` only modified the subscription.
_So, maybe unsubscription has the same problem?_

[2018-11-12 15:12] bluca commented on #3300
Perhaps, but nobody complained in 6 years about that. If you need such a change, it will need to be a new option as we cannot break backward compatibility. Feel free to send a PR to implement it.

[2018-11-13 01:10] christose opened #3305 "DealerSocket stacks on recv on DealerRouter disconnection"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
I have a DealerSocket in C++ (client) and a RouterSocket in C# (server).  On clients connection to the server, server sends messages periodically. When I stop RouterSocket then client hangs inside the
DealerSocket.recv(&reply);
I also monitor client events so on ZMQ_EVENT_DISCONNECTED is where I am t

[2018-11-13 08:14] cielavenir commented on #2333
I personally found that `fixing CMAKE_CONFIGURATION_TYPES to Release and re-Confuguring` fixes the issue.
But the issue that cmake tries to generate vcproj to link against libzmq.dll remains. So in my project I settled with hard-coding `get_target_property(libzmq_LIBRARIES libzmq IMPORTED_IMPLIB_RELEASE)`.

[2018-11-13 10:50] bluca commented on #3305
Please read the zguide http://zguide.zeromq.org/ - you can either use timeouts or polling.

[2018-11-13 10:50] #3305 closed

[2018-11-13 11:19] christose commented on #3305
I already did :), but perhaps I didn't understand well how poller works in c++, in c# is something I already use.

Here's what I came up with back then when I was trying with poller:
`       zmq::pollitem_t poller [1];

	//void *poller = zmq_poller_new();
	poller[0].socket = socket;
	poller[0].events = ZMQ_POLLIN;

	//zmq::active_poller_t active_poller;
	//zmq_poller_add(poller, socket, ZMQ_POLLIN

[2018-11-17 19:56] brubakerjeff opened #3307 "Compiling libzmq (Android Things 1.06 on Raspberry PI) and termux under android"
Hi,
I'm trying to compile on Android Things 1.06 with a raspberry PI under termux and receiving the following. Any help would be appreciated.

pkg install libtool autoconf automake pkg-config
git clone https://github.com/zeromq/libzmq.git
cd libzmq
git checkout tags/v4.2.5
....
$ ./autogen.sh
autoreconf: Entering directory `.'
autoreconf: configure.ac: not using Gettext
autoreconf: running: acloca

[2018-11-18 19:43] malikkirchner opened #3309 "69 out of 104 unit tests fail under Clang thread sanitizer"
# Issue description

Using the Clang thread sanitizer most of the unit tests fail due to race conditions. They all pass (except 9 skipped) without sanitizer.

# Environment

* libzmq version (commit hash if unreleased): v4.2.5 (d062edd8c142384792955796329baf1e5a3377cd)
* OS: Arch Linux, x86_64 (kernel 4.19.2)

# Minimal test code / Steps to reproduce the issue

Compile and test with:
CFLAGS= -marc

[2018-11-18 20:35] malikkirchner commented on #3309
Hi bluca,

it is a tool, that discovers data races using compiler instrumentation and a support library, please find details at https://clang.llvm.org/docs/ThreadSanitizer.html. I use it in my CI to make "sure" my code is sane. There might be rare false positives and it cannot guarantee to discover all data races.

I took a quick look to the stack traces in the test-suite.log. The good news is, th

[2018-11-18 20:38] bluca commented on #3309
These are false positives. That's because that tool doesn't know (and it shouldn't of course) about the ad-hoc lock-free queue implementation. So you can just ignore them.

[2018-11-18 20:38] #3309 closed

[2018-11-18 20:47] malikkirchner commented on #3309
Ok, I cannot really assess that at the moment.

[2018-11-19 01:01] brubakerjeff commented on #3307
Just tried compiling under lineage OS 14.1 (android 7.1 derivative) with termux and received the same error.

[2018-11-19 16:46] ocoanet opened #3311 "The implementation of ZMQ_TOS is obsolete on Windows"
# Issue description

ZMQ_TOS is implemented using `setsockopt(socket, IPPROTO_IP, IP_TOS, ...)`.

The IP_TOS option has been obsolete for a long time on Windows. It has no effect on recent Windows versions. To quote the [documentation](https://docs.microsoft.com/en-us/windows/desktop/winsock/ipproto-ip-socket-options):

# Environment

* libzmq version: All versions.
* OS: Windows. I do not know th

[2018-11-19 16:54] bluca commented on #3311
Changing existing behaviour is not an option, so converting the existing TOS is the right way. Note that it needs to work all the way back to Windows XP. Feel free to send a PR.

[2018-11-20 03:58] #3307 closed

[2018-11-20 10:29] bluca commented on #3311
Having too many options to do the same thing is just confusing. And it will break cross-platform applications.

[2018-11-20 11:08] ocoanet commented on #3311
I thought that the ZMQ_TOS_MODE option could be implemented for all platforms. But I get your point.

So, for Windows, IP_TOS options should be set when it is supported by the platform. When it is not supported, the ZMQ_TOS value should be converted to a DSCP value and the new QoS API should be used.

However, I would be interested to be able to specify a DSCP class, because setting this socket op

[2018-11-21 15:01] paololucente opened #3313 "Assertion failed: (src/mailbox.cpp:99)"
# Issue description
I'm from a project called pmacct ( https://github.com/pmacct/pmacct ) which can optionally make use of ZeroMQ for passing messages internally. I got three reports in the last three weeks of users compiling pmacct against ZeroMQ 4.2.5 and getting a failed assertion message back:

shell> nfacctd -f ./nfacctd.detailed.conf
Assertion failed: ok (src/mailbox.cpp:99)
Aborted (core du

[2018-11-21 15:16] bluca commented on #3313
are you using a socket from multiple threads?

[2018-11-21 18:56] paololucente commented on #3313
Yes and no. zmq_socket() is called in one thread, followed-up by a call zmq_threadstart() passing the socket as argument; then only that specific thread uses the created socket. Effectively the issue happens on trying to read for the first time from the socket in the thread. I will correct the issue, test all and report back. Thanks, Paolo

[2018-11-21 19:03] bluca commented on #3313
ok, I'll close this in the meanwhile, reopen it if when the socket is opened and used from a single thread only it still happens

[2018-11-21 19:03] #3313 closed

[2018-11-23 01:47] paololucente commented on #3313
Hi @bluca ,

Unfortunately the change did not help. Just FYI this is the patch i made (  https://github.com/pmacct/pmacct/commit/b1b61ce61f3338fcf32aa976b4caeb5bef3db55c ) but it still bails out on the same call as before, that is, the first use of the socket inside p_zmq_zap_handler().

Is it possible it does not like that the socket is part of a structure passed as argument of zmq_threadstart()

[2018-11-24 13:35] ADDubovik commented on #3160
The behaviour of zmq_getsockopt is really need to be corrected as topicstarter says.

[2018-11-29 19:58] aaronovz1 opened #3316 "Custom memory alignment for message data"
We have a memory alignment requirement for our image processing algorithms and need to send image data, that when received, is aligned to 32 byte address boundary. I don't currently see a way in ZMQ to define a custom alignment value.

Is there any fundamental reason why custom memory alignment and/or allocators couldn't be added to ZMQ?
It would be ideal to be able to define it for select sockets

[2018-11-30 12:14] bluca commented on #3316
Data is received in batched, reused buffers to implement zero copy, so that's not possible. There's an option to disable zero copy receives that you can set and that will give you word aligned buffers, at the price of halving performances or worse in most use cases.

[2018-11-30 15:46] lp35 opened #3317 "zmq_unbind with ZMQ_SERVER is disconnection clients."
# Issue description

zmq_unbind on a ZMQ_SERVER socket is closing the connection with already connected clients.

We should be able to unbind from an endpoint, and rebind to another endpoint withotu disconnecting already connect clients.

# Environment

* libzmq version 4.2.5:
* OS: Windows 7

# Minimal test code / Steps to reproduce the issue

1. Create a couple of ZMQ_CLIENT/ZMQ_SERVER sockets.

[2018-11-30 16:09] bluca commented on #3317
The point of unbinding is to stop pipes connected to that endpoint.

[2018-11-30 18:02] lp35 commented on #3317
What is the difference with zmq_close then?

[2018-11-30 19:05] bluca commented on #3317
that one can bind to multiple endpoints, and unbind only one

[2018-12-02 10:39] liuqidev commented on #1808
Same problem on Jupyter Notebook. I have reinstall anaconda and jupyter, but:
[code]

[2018-12-03 09:19] lp35 commented on #3317
Ok, so how I can know which "pipes" are connected to a specific endpoint? The remote endpoint does not seems to be closed gracefully, and I would like to send a last packet before closing the ep.

[2018-12-03 09:37] bluca commented on #3317
That is implemented by the application. You can use router/dealer with the id to identify sockets.

[2018-12-04 13:33] o-u-p opened #3318 "undefined reference in mingw when link static library."
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
I'm trying to compile a static libzmq.a in windows using mingw, I tried both the configure and Makefile.mingw32 file and got libzmq.a, but neither woked,  here is the output:

--

# Environment

* libzmq version (commit hash if unreleased): zeromq-4.3.0
* OS: windows 64bit

# Minimal test code / Step

[2018-12-05 15:11] hgourvest opened #3319 "abort in zmq::tcp_listener_t::accept"
last commit id: f615b8fdfc94d2129ee0223100c4e4a7d5d1b93d

It seem to be an unexpected error code that is not in this list:

        errno_assert (errno == EAGAIN || errno == EWOULDBLOCK || errno == EINTR
                      || errno == ECONNABORTED || errno == EPROTO
                      || errno == ENOBUFS || errno == ENOMEM || errno == EMFILE
                      || errno == ENFILE);

unfotu

[2018-12-05 17:16] hgourvest commented on #3319
I got it: EINVAL = 22

[2018-12-05 17:31] hgourvest commented on #3319
The problem occur when I desactivate and reactivate the wifi on my phone, if I add EINVAL to the list it not crash anymore, but I don't know it is the right thing to do. Any advice?

[2018-12-05 17:50] hgourvest commented on #3319
BTW this is the Android permissions I use:
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

[2018-12-05 17:51] hgourvest commented on #3319
android.permission.INTERNET
android.permission.ACCESS_NETWORK_STATE
android.permission.ACCESS_WIFI_STATE

[2018-12-07 16:58] jcourreges opened #3320 "Build error with gcc on OpenBSD"
# Issue description
zeromq fails to build using gcc on OpenBSD. This is not visible using the clang compiler, like done by default on mainstream architectures like amd64, i386, arm and arm64.

# Environment

* libzmq version (commit hash if unreleased):
0MQ version 4.3.1, commit f615b8fdfc94d2129ee0223100c4e4a7d5d1b93d

* OS:
OpenBSD 6.4 (-current) amd64

# Minimal test code / Steps to reproduce t

[2018-12-07 17:49] francesco-romano opened #3323 "Behaviour of ZMQ_CONFLATE in PUB/SUB pattern"
# Issue description

**Note: this might be the intended behaviour.**

I am implementing a PUB/SUB pattern where there is one publisher (quite fast) and multiple subscribers (they have different rates).

I am interested in **only the most** recent message. So I thought to enable the `ZMQ_CONFLATE` options.

My understanding (just from the doc, I did not check the code) is that only the newest messa

[2018-12-09 00:01] hgourvest commented on #3319
fixed in his merge https://github.com/zeromq/libzmq/pull/3326

[2018-12-09 00:01] #3319 closed

[2018-12-09 12:44] sigiesec commented on #3318
You need to define ZMQ_STATIC when building your application/library.

[2018-12-12 03:35] joelfrederico opened #3329 "Using zmq_msg_data/zmq_msg_size after zmq_msg_close results in SIGABRT"
# Issue description

Calling zmq_msg_size/zmq_msg_data on a closed zmq_msg_t results in a ZMQ crash. It seems to me that we could remove the crash without changing the API. Both crashes are triggered off of a zmq_assert.

https://github.com/zeromq/libzmq/blob/b70d31c432f1dced4e65a83959787e7f4a3ba0d7/src/msg.cpp#L327 and https://github.com/zeromq/libzmq/blob/b70d31c432f1dced4e65a83959787e7f4a3ba0d7

[2018-12-12 22:52] joelfrederico commented on #3329
Isn't it true that the uninitialized message could randomly have the check pass yet still be bad? Unlikely perhaps... 7 valid types out of 256 possibilities = 2.7% chance of passing while still being an invalid message. That seems high!

But yes, somebody somewhere needs to own messages, so it either would have to be libzmq or the user. And I think the user owns messages, because small messages ca

[2018-12-13 00:37] bluca commented on #3329
@joelfrederico that all sounds reasonable. Would you like to update your PR to clarify that those functions can only be used on valid messages and will assert otherwise? So that there is no more ambiguity

[2018-12-13 00:50] joelfrederico commented on #3329
Oh, sure, I may do that later. I think it would be more accurate to say that those functions can only be used on valid messages and will exhibit undefined behavior otherwise? I don't want to promise an assert when one may not happen.

[2018-12-13 14:21] Prinkesh opened #3331 "High TLB ShootDowns when doing DNS resolution through glibc"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description

When the subscriber is not connected to any publisher i see huge tlb shootdown

Here is trace-cmd report for that

ZMQbg/1 thread running on core 15, other threads running on 16 and 17

          <...>-70592 [015] 483506.515818: tlb_flush:            pages:1 reason:local mm shootdown (3)

[2018-12-13 15:12] bluca commented on #3331
could be the I/O thread trying to connect the socket, try increasing the reconnect_ivl https://github.com/zeromq/libzmq/blob/master/doc/zmq_setsockopt.txt#L669 (that of course means slower response time when the publisher does come up)

[2018-12-13 17:32] bluca commented on #3331
There are in-memory queues for commands and messages

[2018-12-13 17:38] Prinkesh commented on #3331
So , in my actual application i also had other threads which had nothing to do with zmq io . So how do they share the same memory region ?

Can you point me to the code where this happens ? Is there any way to circumvent this ?

[2018-12-13 17:47] bluca commented on #3331
Are those other threads using zmq APIs?

[2018-12-13 17:48] Prinkesh commented on #3331
No

[2018-12-13 17:53] Prinkesh commented on #3331
In the sample code given , main thread doesn't use zmq api still core running the main thread show tlb shootdowns and its approximately being triggered after 100ms which the `reconnect_ivl` default interval

[2018-12-13 18:00] bluca commented on #3331
It's not using thread-local storage, so your diagnostic is probably getting confused when marking the threads

[2018-12-13 18:03] Prinkesh commented on #3331
Can you explain a bit in details and with the example code provided ?

[2018-12-13 18:08] bluca commented on #3331
Explain what?

[2018-12-13 18:15] Prinkesh commented on #3331
It's not using thread-local storage -- Whats not using thread local storage ??
, so your diagnostic --> Which Diagnostic --- I used trace_cmd and interrupts fired on other cores to verify that

[2018-12-13 18:21] bluca commented on #3331
libzmq does not use thread-local storage, so the memory is not technically owned by any one thread. In your example your main thread is obviously not doing any work, so it can't be a source of anything, hence the only logical explanation is that whatever tool that is that marks it as the source of the interrupt is wrong.

But that's all not very important any way, the relevant information is that

[2018-12-13 18:33] Prinkesh commented on #3331
each thread is assigned to an isolated-core so preemption by user process is highly unlikely

[2018-12-13 22:44] bluca commented on #3331
@Prinkesh if that is the case, try to boot with nopti on the kernel command line to disable it and see if it makes a difference

[2018-12-14 02:15] AntonioGMuriana opened #3332 "Compiling for Universal App 10.0.15036.0 or newer fails"
When compiling for Universal App I get a new error, when working with the libzmq master branch:
`missing type specifier` in `netioapi.h` line 168 and 169.

This error only occurs since 10.0.15036.0 (not with 10.0.14393.0)

_Originally posted by @AntonioGMuriana in https://github.com/zeromq/libzmq/issues/2309#issuecomment-430508779_

[2018-12-14 04:03] AntonioGMuriana commented on #2309
PR #3081 has added anothe if_nametoindex breaking compilation for UWP

[2018-12-14 07:01] Prinkesh commented on #3331
Hi tried adding the following boot params `spectre_v2=off nopti ` doesn't seems to resolve the issue

[2018-12-14 09:36] bluca commented on #3332
Could you please send a PR with a fix?

[2018-12-14 10:39] bluca commented on #3331
I'm out of ideas I'm afraid - the fact that the flushes coincide with the reconnect timer still can't really be a coincidence, so it's still my best guess that it might be somehow related to the system calls to setup the TCP socket and so on.

[2018-12-14 11:38] AntonioGMuriana commented on #2309
I've tried this solution based on the idea from https://github.com/zeromq/libzmq/issues/2309#issuecomment-278521981 here:
https://github.com/AntonioGMuriana/libzmq/commit/fae0c5033211e2b4c467d9551de4360cfc581166

But not sure about side effects, since I don't know why this code is used.

[2018-12-14 11:43] bluca commented on #2309
It's probably better to set it to 0 rather than -1, reading around. Let's start with that to fix the immediate build issue, and then eventually follow-up.

[2018-12-14 16:12] Prinkesh commented on #3331
So , after going through the syscall this is what i was able to figure out

* TLB flush calls happen in `getaddrinfo` call
[code]
* After every reconnect interval zmq lib calls this
* Flushes happens only when we try to get the address by name in this case `localhost`
* If an ip address is given everything works out fine

Yet to figure out the root cause of why the tlb flushes happen in `internal_

[2018-12-14 16:17] bluca commented on #3331
Yes, the reconnect delay can be arbitrarily long so the URLs might no longer be valid.

[2018-12-17 09:23] sigiesec commented on #3318
@o-u-p Were you able to resolve your build problem?

[2018-12-18 03:12] liuqidev commented on #1808
After:

it still shows:

[code]

[2018-12-20 17:52] tafelnl opened #3339 "Cannot SOCKET_PUSH from browser, although everything working fine from command line"
I have the following code:

**socket.php:**
[code]

**pusher.php:**
[code]

Both work fine from the command line, and I can also actually send out and receive data.

But whenever I try to execute the `pusher.php` from the browser (something that has to work in the production version eventually) nothing happens.

Does anyone know what may be causing this? All ports etc are opened up as far as I kno

[2018-12-20 18:03] bluca commented on #3339
The right repository for PHP issues is: https://github.com/mkoppanen/php-zmq

[2018-12-20 18:03] #3339 closed

[2018-12-21 05:33] lqxandxl commented on #2291
@clearday4
I use your way change message_pipe_granularity to 1000，and it`s useful,but i don`t know why it`s useful.

i use zeromq4.2.5 and openpgm in windows, use zmq_pub, sending 90000 msgs / s, 200B one message.
sub receive msgs and then speed come down to 0,and never receive msg again.

seems like in fk.cpp the ative value is 0,and always return -1,when i use function recv.

another thing is  i

[2018-12-24 06:46] lqxandxl opened #3340 "receive message reduce to 0 when using openpgm and pub/sub pattern in windows"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
when I use zeromq pub/sub pattern, send 100000 messages per second and each msg length 200 ,
sub receive message , and it stayed normal for a few minutes or for 1-3 hours, And then all of a sudden it goes down to zero, and sub can't get any more messages.

When I go down to 20,000 message per second

[2018-12-24 07:00] lqxandxl commented on #3340
seem like the pipe is not active, when i use s_recv.

just like :

https://github.com/zeromq/libzmq/pull/1649

or

https://github.com/zeromq/libzmq/issues/2228

Is it because I use openpgm?

[2018-12-24 09:37] bluca commented on #3340
Have you profiled your application?

[2018-12-24 09:51] lqxandxl commented on #3340
@bluca how to profile？ I just write a test case to test the multicast performance using zmq.

[2018-12-24 09:53] jamesdillonharvey commented on #3340
Also try using just one context thread (I see you have 60). I use openpgm
for zeromq extensively (on linux admittedly ) but see issues with anything
more than one context thread.

Issues I have seen are:
1. Data flow stopping when application overloaded but then not recovering
2. Random crashes during reconnect events often weeks after the application
is started.

Both have proved impossible (for

[2018-12-24 10:08] bluca commented on #3340
With perf or similar. Also why are there _60_ I/O threads? The application will pre-empt and context switch itself to death

[2018-12-26 08:58] lqxandxl commented on #3340
@bluca  @jamesdillonharvey
I have change the thread num to 1, but still have problem.
I debug in zeromq`s src code, and I found

in function
[code]
when sub recv msgs, after a few minutes or a few hour ,
it will exec code
[code]
sub can`t deal with any message .
then , the session still push msg into pipe to socket base, but after a while openpgm stop to push msg to session.
so sub will never rece

[2018-12-26 13:56] journey-wang opened #3342 "No Helloworld examples?"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description

# Environment

* libzmq version (commit hash if unreleased):
* OS:

# Minimal test code / Steps to reproduce the issue

1.

# What's the actual result? (include assertion message & call stack if applicable)

# What's the expected result?

[2018-12-26 15:02] bluca commented on #3342
Please see http://zguide.zeromq.org/

[2018-12-26 15:02] #3342 closed

[2018-12-26 20:13] bluca commented on #3340
There are some apparently arbitrary values set as the buffer sizes / HWM options, have you tried without those?

[2018-12-29 01:56] lqxandxl commented on #3340
when i use zmq_setsockopt(subscriber,ZMQ_SUBSCRIBE,””,0)

After some time later,it always receive a lot of wrong msg,150000msgs/s,then receive nothing

[2018-12-30 17:49] #1289 closed

[2018-12-30 17:49] #1907 closed

[2018-12-30 17:49] #1990 closed

[2018-12-30 17:49] #2669 closed

[2018-12-30 17:49] #2684 closed

[2018-12-30 17:49] #2634 closed

[2018-12-30 17:49] #2606 closed

[2018-12-30 17:49] #2556 closed

[2018-12-30 17:49] #2453 closed

[2018-12-30 17:49] #2052 closed

[2018-12-30 17:49] #2076 closed

[2018-12-30 17:49] #2059 closed

[2018-12-30 17:49] #1787 closed

[2018-12-30 17:49] #1538 closed

[2018-12-30 17:49] #1291 closed

[2018-12-30 17:49] #1509 closed

[2018-12-30 17:50] #1464 closed

[2018-12-30 17:50] #1444 closed

[2018-12-30 17:50] #851 closed

[2018-12-30 17:50] #1381 closed

[2018-12-30 17:50] #831 closed

[2018-12-30 17:50] #857 closed

[2018-12-30 17:50] #883 closed

[2018-12-30 17:50] #1052 closed

[2018-12-30 17:50] #1193 closed

[2018-12-30 17:50] #1134 closed

[2018-12-30 17:50] #1203 closed

[2018-12-30 17:50] #1277 closed

[2018-12-30 17:50] #1332 closed

[2018-12-31 00:18] #1392 closed

[2018-12-31 00:18] #1438 closed

[2018-12-31 00:18] #1450 closed

[2018-12-31 00:18] #1454 closed

[2018-12-31 00:18] #1555 closed

[2018-12-31 00:18] #1572 closed

[2018-12-31 00:18] #1575 closed

[2018-12-31 00:18] #1590 closed

[2018-12-31 00:18] #2709 closed

[2018-12-31 00:18] #2363 closed

[2018-12-31 00:18] #2330 closed

[2018-12-31 00:18] #2329 closed

[2018-12-31 00:18] #2205 closed

[2018-12-31 00:18] #2083 closed

[2018-12-31 00:18] #2058 closed

[2018-12-31 00:18] #2063 closed

[2018-12-31 00:19] #2038 closed

[2018-12-31 00:19] #2012 closed

[2018-12-31 00:19] #1769 closed

[2018-12-31 00:19] #2006 closed

[2018-12-31 00:19] #1726 closed

[2018-12-31 00:19] #1092 closed

[2018-12-31 00:19] #1095 closed

[2018-12-31 00:19] #1597 closed

[2018-12-31 00:19] #1598 closed

[2018-12-31 00:19] #2343 closed

[2018-12-31 00:19] #1195 closed

[2018-12-31 00:19] #2612 closed

[2018-12-31 00:19] #784 closed

[2018-12-31 01:08] #1903 closed

[2018-12-31 01:08] #792 closed

[2018-12-31 01:08] #1554 closed

[2018-12-31 01:08] #2586 closed

[2018-12-31 01:08] #1307 closed

[2018-12-31 01:08] #2724 closed

[2018-12-31 01:08] #1380 closed

[2018-12-31 01:08] #2739 closed

[2018-12-31 01:08] #2644 closed

[2018-12-31 01:08] #1205 closed

[2018-12-31 01:08] #2007 closed

[2018-12-31 01:08] #2218 closed

[2018-12-31 01:08] #2600 closed

[2018-12-31 01:08] #2760 closed

[2018-12-31 01:08] #2767 closed

[2018-12-31 01:08] #2725 closed

[2019-01-02 01:29] alvisisme opened #3344 "message lost in ZMQ_PAIR mode if handle the message for quiet a time"
# Issue description
message lost in ZMQ_PAIR mode if handle the message for quiet a time

# Environment

* libzmq version (commit hash if unreleased): 4.2.5
* OS: Ubuntu 18.04.1 LTS

# Minimal test code / Steps to reproduce the issue

[code]

[code]
# What's the actual result? (include assertion message & call stack if applicable)

message 1 was lost in server
[code]

quit message was lost in serv

[2019-01-02 08:21] bluca commented on #3344
Pair is a 1:1 channel, but in the example there are 3 separate client sockets connecting to the same server. Use req/rep or router/dealer for 1:N channels.

[2019-01-02 08:21] #3344 closed

[2019-01-04 07:31] wushuangge opened #3346 "ZMQ crash problem on ubuntu"
# Issue description
Here is the error message debugged from the coredump file:

[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
Core was generated by `./verifier'.
Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x00007ff5d4005cf0 in ?? ()
[Current thread is 1 (Thread 0x7ff5e8000700 (LWP 15101))]
(gdb) bt
#0

[2019-01-04 08:04] bluca commented on #3346
Are sockets being used from multiple threads?

[2019-01-04 09:47] wushuangge commented on #3346
yes,
sockets are used from multiple threads

[2019-01-04 09:53] wushuangge commented on #3346
But I've locked each socket

[2019-01-04 11:03] bluca commented on #3346
As the docs say, sockets are not thread safe. Locks on the application side are not enough. Each socket must be created, used and closed from a single thread.

[2019-01-04 11:03] #3346 closed

[2019-01-04 15:01] nikhilharmalkar opened #3347 "error while intsalling Jupyter NodeJS"
D:\project\jupyter-nodejs>npm install && node install.js

D:\project\jupyter-nodejs\node_modules\zmq>if not defined npm_config_node_gyp (node "C:\Program Files\nodejs\node_modules\npm\node_modules\npm-lifecycle\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild )  else (node "C:\Program Files\nodejs\node_modules\npm\node_modules\node-gyp\bin\node-gyp.js" rebuild )
gyp ERR! configur

[2019-01-04 15:04] bluca commented on #3347
The node.js module repository is: https://github.com/zeromq/zeromq.js

[2019-01-04 15:04] #3347 closed

[2019-01-04 16:27] AshitoshDesai opened #3348 "Anaconda is install on windows-10 64 bit ,but after sucessfull installation also the Anaconda is not showing in start menu.But it is install in user/username/Anaconda3 . But nothing is showing in start menu."
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description

# Environment

* libzmq version (commit hash if unreleased):
* OS:

# Minimal test code / Steps to reproduce the issue

1.

# What's the actual result? (include assertion message & call stack if applicable)

# What's the expected result?

[2019-01-04 16:41] bluca commented on #3348
Anaconda's repositories are here: https://github.com/Anaconda-Platform

[2019-01-04 16:41] #3348 closed

[2019-01-05 00:11] trya commented on #3323
I observed the same behavior on PUB/SUB sockets with TCP endpoints, messages seem to be delivered  only to the first connected subscriber when ZMQ_CONFLATE is enabled on the publisher. Obviously, this defeats the whole purpose of the pub/sub pattern.

[2019-01-05 06:48] AshitoshDesai opened #3349 "gyp ERR! stack Error: Can't find Python executable "C:\Users\ABhishek Desai\AppData\Local\Programs\Python\Python36-32", you can set the PYTHON env variable.Getting this error althrough i have set environment variable"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description

# Environment

* libzmq version (commit hash if unreleased):
* OS:

# Minimal test code / Steps to reproduce the issue

1.

# What's the actual result? (include assertion message & call stack if applicable)

# What's the expected result?

[2019-01-05 08:56] wushuangge opened #3350 "ZMQ multithreading problem"
Hello, I have a problem now, ZMQ mode: router-dealer, and the scenario is as follows: ZMQ receives a message in a single thread and then throws it to other threads for intensive calculation processing, so how should I send these processed messages? Since ZMQ is thread unsafe, I would like to know how ZMQ receives and sends messages with high concurrency in a single thread. Could you please provide

[2019-01-05 22:03] trya commented on #3323
Also, on a side note, messages are accumulated and memory usage increases without going down on the publisher side when more than one subscriber are connected.

Here are my use case programs: [publisher](https://gist.github.com/trya/b123bb31a8046eb09f86bd69d501932f) (send a 1 MB message every second) and [subscriber](https://gist.github.com/trya/424f7f16ed89561ad67c537be89e320c) (output message co

[2019-01-08 14:15] guidovranken opened #3351 "Remote code execution vulnerability"
# Bug details

In ```src/v2_decoder.cpp zmq::v2_decoder_t::eight_byte_size_ready()```, the attacker can provide an ```uint64_t``` of his choosing:

[code]

Then, in ```src/v2_decoder.cpp zmq::v2_decoder_t::size_ready()```, a comparison is performed to check if this peer-supplied ```msg_size_``` is within the bounds of the currently allocated block of memory:

[code]

This is inadequate because a v

[2019-01-08 15:30] bluca commented on #3351
Nice find! Could you please send a PR to fix it?

[2019-01-08 15:33] bluca commented on #3351
Given this works only without authentication, although not good, I don't think it's catastrophic either, fortunately. Public endpoint should always use CURVE/GSSAPI.

[2019-01-08 21:29] ARMINI opened #3352 "медленный я очень"
*Please use this
 template for reporting suspected bugs or requests for help.*
# Issue description

# Environment

* libzmq version (commit hash if unreleased):
* OS:

# Minimal test code / Steps to reproduce the issue

1.

# What's the actual result? (include assertion message & call stack if applicable)

# What's the expected result?

[2019-01-08 21:45] c-rack commented on #3352
Feel free to re-open with a valid problem description.

[2019-01-08 21:45] #3352 closed

[2019-01-09 02:37] zuowanbushiwo opened #3354 "Can support reliable UDP unicast ?"
This project has been reliable multicast transport using PGM，Is it possible to add a reliable udp unicast  protocol，like this https://github.com/skywind3000/kcp？  thanks！

[2019-01-09 08:34] bluca commented on #3354
There is support for UDP multicast via norm (stable) and native UDP multicast via the draft radio/dish sockets, and unreliable UDP unicast via the draft dgram socket.

If you want to implement an additional transport you are very welcome to do a and send a pull request.

[2019-01-09 12:03] bluca commented on #3351
Fixed by https://github.com/zeromq/libzmq/pull/3353

[2019-01-09 12:03] #3351 closed

[2019-01-11 14:43] #2834 closed

[2019-01-11 14:43] #2829 closed

[2019-01-11 14:43] #2828 closed

[2019-01-11 18:34] WallStProg commented on #3166
Sorry for not geting back sooner.  The original bug was in fact ours.  I'll open a new issue re: static analysis warnings.

[2019-01-11 18:37] bluca commented on #3166
I'll close this then, thanks for the update

[2019-01-11 18:37] #3166 closed

[2019-01-12 16:35] bluca commented on #3351
@guidovranken have you requested a CVE for this issue?

[2019-01-13 13:06] #2782 closed

[2019-01-13 13:14] guidovranken commented on #3351
I've just requested one, will post the ID as soon as I get it.

[2019-01-13 14:46] guidovranken commented on #3351
**CVE-2019-6250**

[2019-01-13 14:47] bluca commented on #3351
thanks

[2019-01-14 22:21] UndeadKernel opened #3362 "Problem: ZMQ_SOCKET_LIMIT and ZMQ_THREAD_PRIORITY have the same value"
# Issue description
`test_ctx_options` fails and I'm unable to identify the reasons why.
In particular, the part of the test that fails, located in `test_ctx_options.cpp`, is the second assert in:
[code]
I manually checked and the call to `zmq_ctx_set ( ctx_, ZMQ_THREAD_PRIORITY, 1)` is successful, returning `1`. However, the call to `rc = zmq_ctx_get (ctx_, ZMQ_THREAD_PRIORITY)` returns the value

[2019-01-14 22:37] bluca commented on #3362
-1 is the default, so it can't really be a coincidence. But I'm not really sure how it could possibly fail to set the parameter, and not return an error... the code is pretty straight forward: https://github.com/zeromq/libzmq/commit/22c3ecc458c46247491ee50192424d958aa6bd05

[2019-01-14 22:45] UndeadKernel commented on #3362
@bluca, it's not really returning `-1`, instead, its `65,535`. If the return value of `zmq_ctx_get` was an `unsigned short int`, then I'd interpret that result as a `-1`. The function returns however an `int`.

It's also not failing to set the priority. It fails when it retrieves it with `zmq_ctx_get`.

[2019-01-14 22:51] bluca commented on #3362
How are you getting 65,535? My point is that the only possible values are 1, which is the setting in the test, and -1, which is the default, it can't really be anything else

[2019-01-14 23:22] UndeadKernel commented on #3362
Given this code fragment modified in `test_ctx_options.cpp`:
[code]
no matter which value I put instead of `10` in the `set` call, the value printed by `printf` for the `get` call is always `65,535`.

[2019-01-14 23:36] bluca commented on #3362
I have no idea, sorry. I have never seen that anywhere, on any platform. I honestly think there is something quite wrong with that system... as you can see the code is as simple and straightforward as it can be.

[2019-01-15 07:55] sigiesec commented on #3362
Maybe there is some strange ABI difference between libzmq and the test, so the calling conventions mismatch. Can you attach the build log showing the compiler options of both the libzmq and test builds?

[2019-01-15 11:01] Wilmord commented on #1930
I use libzmq 4.0.4, Which version is this fix for?

[2019-01-15 11:03] PunshiB commented on #3318
@sigiesec  Hi , even I am getting the same issue. I didn't understand "define ZMQ_STATIC". Do you mean I need to set something like <cmake -G"Visual Studio 14 Win64" -DZMQ_STATIC=1 -DENABLE-DRAFTS=no CMakeLists.txt>. I tried building like above but it didn't worked , what value should I set to ZMQ_STATIC ?

[2019-01-15 12:09] Wilmord commented on #1930
Thanks for response. I am facing this problem while receiving message from socket on windows 7.
![image](https://user-images.githubusercontent.com/10158000/51179624-65adf000-18c6-11e9-8fdc-16ce7a1c96b8.png)
****

It was working before I did not change anything and it is giving assert now. I think that it is timing.
So if I assume that I will not see this problem If I upgrade the version, right?

[2019-01-15 12:13] bluca commented on #1930
Possibly but I can't know for sure, the best way is to try and see what happens

[2019-01-15 13:30] UndeadKernel commented on #3362
After further tests, I found that in the system where things were "working", the nice level could not be changed. Therefore, the test was being skipped due to:
[code]
in line 115 of `tests_ctx_options.cpp`.

After allowing any program to raise the nice level to whichever value, the test consistently fails in Arch GNUI/Linux.

So, to reproduce the error you just need to give processes the right to

[2019-01-15 14:00] PunshiB commented on #3318
@sigiesec  Also I notice that running `"C:\Program Files\CMake\bin\cmake.exe" -G"Visual Studio 14 Win64" -DZMQ_STATIC=1 -DLIBZMQ_INCLUDE_DIRS="C:\ZeroMQ\libzmq\include" -DLIBZMQ_LIBRARIES="C:\ZeroMQ\libzmq\builds\cmake\lib\Debug\libzmq-v140-mt-gd-4_3_1.lib" -DENABLE-DRAFTS=no CMakeLists.txt "C:\Program Files\czmq"'.` gives

`
-- Selecting Windows SDK version  to target Windows 10.0.14393.
-- The C

[2019-01-15 14:11] bluca commented on #3362
...oh boy. Spot the error...

[code]

https://github.com/zeromq/libzmq/blob/master/include/zmq.h#L214

[2019-01-15 14:17] bluca commented on #3362
That used to work because ZMQ_SOCKET_LIMIT was get-only and ZMQ_THREAD_PRIORITY was set-only. Then I added the getter for ZMQ_THREAD_PRIORITY, which actually returns ZMQ_SOCKET_LIMIT which is... 65535. Bingo.

[2019-01-15 14:24] bluca commented on #3362
We can either un-document and remove the test for the getter of ZMQ_THREAD_PRIORITY, or change its value but keep the setter working with the older value for backward-compatibility.
The getter has always been broken, so technically it's not a backward-incompatible change...

[2019-01-15 14:34] UndeadKernel commented on #3362
Would there be too many problems if `ZMQ_THREAD_PRIORITY` is assigned the value 10? Repeating values causes confusion and makes the library hard to debug.

[2019-01-15 14:39] bluca commented on #3362
It's the second solution I proposed and technically it's an ABI breakage

[2019-01-15 14:44] UndeadKernel commented on #3362
Assuming that library users directly access `ZMQ_THREAD_PRIORITY` instead of manually typing `3`, there shouldn't be problems in breaking the ABI. Or would there be?

[2019-01-15 14:49] bluca commented on #3362
With a backward compatible layer in the library as I mentioned it's fine for the setter, but the getter will never work without a rebuild

[2019-01-15 19:54] bluca commented on #3362
Actually the value can't be changed - it would be backward-compatible but not forward-compatible. Applications linked against the new version wouldn't work with the old version.

I'll un-document the getter and remove this test.

[2019-01-15 20:23] #3362 closed

[2019-01-15 20:59] #2635 closed

[2019-01-15 22:09] barjac opened #3365 "102 of 108 tests fail during build of zeromq-4.3.1"
I am trying to update our package and am hitting massive test failures. In the past a local build with tests would pass, and then fail on the official Mageia build servers, so we ignored and disabled the tests for the official build. With this version the tests fail locally also so something is obviously wrong.
Any help would be appreciated.

# Issue description
102 ctests fail

# Environment
Mage

[2019-01-15 22:51] bluca commented on #3365
That doesn't say much, log in and run a test manually. I suspect it's something like there's no networking available - you a loopback interface at the very least to run the TCP tests.
Also you really should be using autotools rather than cmake...

[2019-01-16 00:55] barjac commented on #3365
Thanks - it's behaving much better after switching to autotools. 9 tests are skipped and the rest pass OK on my local system with internet connection. Our official BS specifically does not have network connection, which explains the fails there.

[2019-01-16 00:55] #3365 closed

[2019-01-16 15:00] barjac commented on #3365
Now I have another problem. How do we build cppzmq package which requires cmake files from the zeromq build? I suspect this is why we switched to cmake in the first place.

[2019-01-16 15:04] bluca commented on #3365
It's just a header, you don't need to do any build. Copy it where you need it.

[2019-01-16 21:52] somdoron commented on #2267
Every socket has a file descriptor attached to it for signaling.
So when you add the SUB to a zmq_poll, the poll will be interrupted whenever there is something to process.
zmq_poll will then call ZMQ_EVENTS which will process the commands.

So, adding SUB to the main loop zmq_poll should allow the SUB to handle all incoming connections.
@WallStProg you are saying that is not the case?

The workar

[2019-01-17 21:43] btorpey commented on #2267
Hi Doron:

Thanks for the update.

What I'm saying is that the canonical "work-around" for this issue, originally posted by Pieter (calling `zmq_poll` to trigger `process_commands`), is not at all reliable.  Unfortunately, newbies keep getting pointed to it, but the fact is that it just flat doesn't work -- sometimes (most of the time, in fact), you "get lucky", but that's completely non-determini

[2019-01-17 21:45] WallStProg commented on #2267
Hi Doron:

Thanks for the update.

What I'm saying is that the canonical "work-around" for this issue, originally posted by Pieter (calling zmq_poll to trigger process_commands), is not at all reliable. Unfortunately, newbies keep getting pointed to it, but the fact is that it just flat doesn't work -- sometimes (most of the time, in fact), you "get lucky", but that's completely non-deterministic.

[2019-01-18 01:20] dwcullop opened #3366 "Build Failure on Windows 10 for ARM/ARM64"
# Issue description

When trying to build ZMQ for ARM/ARM64 on Windows, I get these errors:

    \src\clock.cpp(260): error C2065: 'CLOCK_MONOTONIC': undeclared identifier
    \src\clock.cpp(260): error C3861: 'clock_gettime': identifier not found

Which makes sense because that's not a Windows API.  I'm unable to build ZMQ other than with VcPkg because I am not familiar with CMake.

I also opened

[2019-01-18 08:32] sigiesec commented on #3366
Could you attach the CMakeOutput.log and maybe the generated platform.hpp?

[2019-01-18 09:50] bluca commented on #3366
There's already a clock implementation using the Windows-specific APIs. Not sure what VcPkg is, but it should use CMake, which should do the platform detection correctly. Might need some ARM-specific fixes though.

[2019-01-18 09:51] bluca commented on #3366
code is here: https://github.com/zeromq/libzmq/blob/master/src/clock.cpp

[2019-01-18 22:37] dwcullop commented on #3366
[VcPkg](https://github.com/Microsoft/vcpkg) is a package manager for C++ on Windows.  It can help easily incorporate many different libraries into your projects by compiling them locally.  It absolutely **does** use CMake.

I think the issue here is that ZMQ supports ARM and it supports Windows, but some minor changes are needed to make it support ARM on Windows (which makes sense because it's a r

[2019-01-20 16:35] sigiesec commented on #3366
Yes, you're right, there is no ARM specific implementation of rdtsc and the fallback code is Unixy.

Try adding something like
[code]

[2019-01-21 18:27] sigiesec opened #3370 "Make queue length and HWM state observable"
For a zmq_socket, the current queue length and HWM state should be observable by the application, such that this information can be integrated into application monitoring data. This might be implemented in either a push or pull way. A push way might extend the current socket monitor facility, a pull way might add new socket options that can be queried via zmq_getsockopt.

[2019-01-21 18:40] sigiesec commented on #3318
ZMQ_STATIC must be defined when calling the compiler, not cmake. So within cmake, add_definitions or target_compile_definitions would need to be called. I am not familiar with building czmq (this is more a question towards the czmq repo), so I don't know how the czmq can be configured such that it defines ZMQ_STATIC.

[2019-01-22 20:38] dwcullop commented on #3366
Thank you very much for your suggestion!  I've made the following change to the ZeroMQ source by adding the two ARM lines below.

    uint64_t zmq::clock_t::rdtsc ()
    {
     #if (defined _MSC_VER && (defined _M_IX86 || defined _M_X64))
         return __rdtsc ();
     #elif (defined _M_ARM64 || defined _M_ARM)
         return __rdpmccntr64();
     #elif (defined __GNUC__ && (defined __i386__ ||

[2019-01-22 22:16] sherwood-nyab opened #3371 "ZeroMQ does not build for QNX 6.3 with CMake"
# Issue description
I  am evaluating ZeroMQ for use with our embedded product, but we are constrained to running on QNX 6.3 (ancient) and building with GCC 3.3.5. I am cross-compiling the library on Windows using CMake within Qt Creator/MinGW. CMake generation succeeds, but compilation fails.

For example, ZeroMQ expects malloc() to be declared in <stdlib.h> but QNX declares it in <malloc.h>. This

[2019-01-23 08:40] bluca commented on #3371
Could you please send a PR with the fixes?

[2019-01-23 08:44] bluca commented on #3371
Iirc somebody in the past sent fixes for qnx - have you tried using autotools instead of cmake?

[2019-01-23 16:18] sherwood-nyab commented on #3371
I have been trying to fix it using CMake tricks without modifying any library files but have not been successful, which is why I am considering patching the code. So, if "PR" means "pull request" then no, I  have not even created a branch. I wanted first to open a conversation about this.

We use CMake for our builds so that is what I have been using. Is it possible to get the autotools to cross-c

[2019-01-23 16:31] bluca commented on #3371
yes, autotools can cross compile (and it's in fact one of its main purposes) - it's possible to update cmake too of course, it sounds like it needs something like if target = qnx then CPPFLAGS+=-isystem sys

[2019-01-24 01:05] sherwood-nyab commented on #3371
(Sorry, I unintentionally closed this issue, so I reopened it.)

I have successfully built libzmq(.a, .so, .so.5, .so.5.2.2) by modifying about a dozen files with
[code]
and
[code]
and in one case
[code]
I made these changes to a fork of libzmq-master, sherwood-nyab/libzmq. Unfortunately, due to concerns from our company management I am currently unable to create a pull request so that I can share

[2019-01-24 11:35] bluca commented on #3371
I can try to provide a fix for autoconf/cmake later today then

As mentioned the best way would be to add -isystem sys to the cppflags in cmake/autoconf, so that the code doesn't need to change, I can work on that and the C99 thing

[2019-01-24 12:05] somdoron opened #3372 "problem: pthread_cond_wait doesn't get signaled by ctrl+c"
# Issue description
pthread_cond_wait is not being in interrupted by ctrl+c and I cannot stop an app that waits on a thread safe socket.

# Environment

* libzmq version (commit hash if unreleased): master (320741f2c9740832929ec709f18b7ef6f60507c4)
* OS: fedora 29

# Minimal test code / Steps to reproduce the issue

[code]

[2019-01-24 12:54] somdoron commented on #3372
@sigiesec changed.

If using dealer instead of client the app do exit.

[2019-01-24 13:09] somdoron commented on #3372
A solution might be, to provide a context function that signal all thread safe sockets.
So a user can call it when interrupted. CZMQ will probably do it by default.

[2019-01-24 13:30] bluca commented on #3372
can't remember off the top of my head, but we are somehow doing it for the non-safe sockets right?

[2019-01-24 13:30] somdoron commented on #3372
Also, it might make a performance problem, exiting and entering a mutex...

[2019-01-24 13:32] somdoron commented on #3372
@bluca, no, the behavior of poll/select and pthread_cond_wait is different.
poll get interrupted and return EINTR, pthread_cond_wait is not.

[2019-01-24 13:36] bluca commented on #3372
ah true, forgot about that

[2019-01-24 14:23] bluca commented on #3372
I guess then an API as you suggested is the easiest thing to get it working

[2019-01-24 16:22] sherwood-nyab commented on #3371
Please, I don't want to waste your time. If I cannot get the unit tests to pass on QNX 6.3 then this library may not be a candidate for our product, so compatibility with this ancient compiler and OS would be a non-issue.

(I am aware of the 2 closed 2010 issues that mention QNX (#32 and #34), but they provide no details about the version of QNX or GCC.)

BTW, I tried '-isystem sys' (also with the

[2019-01-24 16:32] bluca commented on #3371
@sigiesec any chance unity.c could be fixed upstream to work without C99? it seems a simple change

[2019-01-24 17:08] sherwood-nyab commented on #3371
I thought that the problem might be our use of the '-pedantic' option, but removing it had no effect.

[2019-01-24 17:15] bluca commented on #3371
unity.c is embedded in the repo, so you can just modify it yourself to make it compile for now

[2019-01-24 17:37] sherwood-nyab commented on #3371
FWIW, here is the compiler command line for unity.c (the weird formatting is due to special characters in the output). One thing to note is the use of function **UnityParseOptions** on line 3.

[ 34%] Building C object libzmq/tests/CMakeFiles/unity.dir/__/external/unity/unity.c.o
C:/Data/Workspaces/3rdPartyResearch/source/libzmq-master/external/unity/unity.c: In function `UnityParseOptions':
C:/Da

[2019-01-24 19:37] bluca commented on #3371
Can you check if it builds after you change that for (int i...) to fix it for c90? It's a very simple change and it can be sent upstream

[2019-01-24 19:38] bluca commented on #3371
Also, please try with autotools - I think the compiler does support c99, but cmake does not set -std=c99

[2019-01-24 21:38] WallStProg opened #3373 "Performance regression in zmq_poll"
# Environment

* libzmq version (commit hash if unreleased): 4.2.4
* OS: CentOS 6.9

[2019-01-24 21:47] WallStProg commented on #3373
We recently switched the reference implementation of libzmq that we use from 4.2.3 (latest at the time we started develoment) to 4.3.0, partly to take advantage of some bug fixes that were made in the meantime.  (And many thanks to the contributors for those, including @bluca and @bjovke)!

We have a simple "ping-pong" microbench that we use to test for performance regressions, and we found a rath

[2019-01-24 21:48] bluca commented on #3371
ok, in the meanwhile I opened a PR to unity's upstream. If you end up needing it, we can backport it to this repo.

[2019-01-24 21:56] bluca commented on #3373
Were you using DRAFT builds beforehand too? If so that might be because of: https://github.com/zeromq/libzmq/commit/ab1607f81304a3e040690dfc0e1d084af096480e
before that, with draft enabled it directly called the poller implementation, but we got reports that performances were _much_ worse, so I changed it to do so only if there are thread safe sockets being watched, otherwise the old implementatio

[2019-01-24 21:57] bluca commented on #3373
No wait, scratch that - I thought the problem arrived in 4.3.0, but I see now it's 4.2.4 which doesn't have that fix. Try to bisect and see if you can pin point to the right commit.

[2019-01-24 22:00] somdoron commented on #3373
It worked properly, in both versions.

Thread safe sockets require creating an FD to be signaled when they are ready to be polled.
Because zmq_poll is stateless this FD has to be created on every zmq_poll iteration.

In the past, an internal FD was created even if the poll didn't include thread safe socket. The change is to only create an FD if thread safe socket is also being polled.

This change

[2019-01-24 22:02] WallStProg commented on #3373
@somdoron wrote:

But if that's the case, why wouldn't I just want to revert to the old zmq_poll implementation? It's faster, and it works.

[2019-01-24 22:04] somdoron commented on #3373
@WallStProg it might be the solution, however, for some, it was actually slower with thread-safe sockets.

[2019-01-24 22:04] WallStProg commented on #3373
But in that case, what caused the regression between 4.2.3 and 4.2.4?

[2019-01-24 22:06] WallStProg commented on #3373
@bluca wrote:

The regression exists in 4.3.0 -- we backtracked it to 4.2.4, which is where it first shows up.

[2019-01-25 17:11] sherwood-nyab commented on #3371
@bluca Can we close this? I now know that I can get libzmq to build for QNX 6.3.0. Next up is testing. I am running the tests now and I see that many test cases are failing, so I am thinking that I should create a separate issue for that.

[2019-01-25 17:15] bluca commented on #3371
You had to do some changes to the code/makefiles right? If so this issue is not really solved yet

[2019-01-25 17:34] sherwood-nyab commented on #3371
Yes, I made changes to code. I am not sure what to do next. 16 test suites (executables) are failing one or more test case (I have not collected all the details). If all the tests had passed then I was going to start over and see if I could get the library to build by first modifying the CMake files, and then modifying the code as a last resort. Now I am not sure since I have no idea about how muc

[2019-01-25 17:38] bluca commented on #3371
What exactly is failing?

[2019-01-25 17:47] sherwood-nyab commented on #3371
Here is the stdout and stderr from my test-runner script.
[stdout.txt](https://github.com/zeromq/libzmq/files/2797189/stdout.txt)
[stderr.txt](https://github.com/zeromq/libzmq/files/2797190/stderr.txt)

[2019-01-25 17:52] bluca commented on #3371
So for your application, just avoid using "ipc://*" and you'll be fine.

[2019-01-25 17:58] sherwood-nyab commented on #3371
Great news! I will proceed with my plan to update the CMake build files, including skipping the wildcard IPC bind tests.

[2019-01-25 18:19] sherwood-nyab commented on #3371
I see that these are all "address already in use" errors for zmq_bind() or bind(), and it is not clear to me that all of them are for wildcard IPC. For TCP sockets on QNX I have had issues with bind() failing with that error during unit tests, even after multiple delayed retries. I remember trying different socket options, but in some cases I could only fix it by rebooting the machine!

[2019-01-28 08:44] sigiesec commented on #3373
@somdoron In 147fe9e you mention, only the code that queries the thread-safe sockopt was extracted into a separate method. I cannot imagine how this could lead to a (perceptible) performance regression, if any.

[2019-01-28 09:18] somdoron commented on #3373
@sigiesec I agree, as I said, it doesn't make sense. However, it is the only change in the class between the versions.
Anyway ,we can check it out together on Thursday :)

[2019-01-28 18:19] sigiesec commented on #3373
Ah great, you will be at the Hackathon as well :) yes, let's give that a look on Thursday!

[2019-01-29 22:31] #3316 closed

[2019-01-30 18:50] mingwandroid commented on #1878
Just to chime in here, `make check` is not just for developers, it is also for packagers, at least for any that care that they are packaging non-broken software.

[2019-01-30 18:51] mingwandroid commented on #1878
I'm not saying zeromq is broken, but if we don't run `make check` we cannot have very much confidence that *our* builds of it are not broken.

[2019-01-30 18:53] bluca commented on #1878
make check works fine and is ran by the CI on every commit on multiple platforms, including osx

[2019-01-30 18:57] mingwandroid commented on #1878
But only if you do things that we are unable to do as packages, namely increase various system limits. Would you accept a patch that checks these limits are satisfied and skips the checks when this is not the case? I cannot abide the fact that we must apply the following patch to our builds of zeromq:

https://github.com/conda-forge/zeromq-feedstock/blob/master/recipe/0005-osx-test.patch

[2019-01-30 18:58] bluca commented on #1878
sure, pull requests are always welcome

[2019-01-30 18:59] mingwandroid commented on #1878
Great! Before I start, would you rather this was done in the CMake files or in the test source code?

[2019-01-30 19:07] bluca commented on #1878
it's probably better as a runtime check, so that it doesn't have to be done twice for autoconf too

[2019-01-31 19:55] sherwood-nyab commented on #3371
@bluca So how do I skip the wildcard IPC bind tests for QNX like for GNU/Hurd? I looked through configure.ac but did not find anything that seems related.

[2019-01-31 22:19] bluca commented on #3371
It's in Makefile.am, there should be an "if GNU ... XFAIL += ..."

[2019-02-01 01:40] sherwood-nyab commented on #3371
Thank you, that helped.
I am making progress. 79 out of 86 test executables PASS for QNXNTO after excluding the build of 3 executables, and excluding some test cases via conditional compilation. The latest test output is attached. [output.txt](https://github.com/zeromq/libzmq/files/2819694/output.txt) Most of the remaining errors are "address already in use" for the bind, a problem that I have see

[2019-02-01 07:43] bluca commented on #3371
Those are all IPC wildcard binds:

[code]

You can skip those like the others.

I suspect the root cause is that QNX, like GNU/Hurd, does not support getsockname on AF_UNIX sockets. https://github.com/zeromq/libzmq/blob/master/src/ipc_listener.cpp#L202

[2019-02-01 09:27] sigiesec opened #3376 "Assigned random tipc port is not returned by ZMQ_LAST_ENDPOINT"
# Issue description

When using a wildcard/random port number in tipc bind, the assigned number is not returned via ZMQ_LAST_ENDPOINT.

# Environment

* libzmq version (commit hash if unreleased): 4.3.1
* OS: Any

# Minimal test code / Steps to reproduce the issue

1.  Add assertion to test_address_tipc test_tipc_port_identity for ref != 0

# What's the actual result? (include assertion message &

[2019-02-01 10:02] #3376 closed

[2019-02-01 16:33] sherwood-nyab commented on #3371
Okay, but there was no conditional compilation in those files (for lines 1, 2, 4, 5; I missed the one for line 3) to exclude those tests cases for other platforms, so I did not want to exclude them only for QNX without more information. Maybe these are newer tests that have not been run on GNU/Hurd?

Based on this new information I will exclude them for QNX.

[2019-02-01 18:37] sherwood-nyab commented on #3371
I am down to these failures: [failures.txt](https://github.com/zeromq/libzmq/files/2822856/failures.txt)
**test_fork** appears to be terminating due to a SIGALARM, but I don't know why, nor to I know the source of the "Alarm clock" message.
**test_spec_push_pull** appears to end abnormally during the 'test_spec_pushpull_inproc_push_multipart_atomic_drop_block' test case.
**test_system** is failing

[2019-02-03 14:16] acsdkquery opened #3380 "zmq not sending on same binded port, when change-in uplink interface"
1.I have the uplink over ethernet connection.
2.client is enalbed with moniter events(connected/disconnected)
3.client is receiving the connected monitor event and can able to send the data, server is receiving it
4 I disconnected eth uplink and connected back after sometime , Server is  receiving any all pending data(all fine till here)
5. Now I disconnected eth uplink and connected over wifi, he

[2019-02-03 14:59] sigiesec commented on #3380
Thanks for bringing this up. Please use the issue template for the report. In particular, please add the following information:
* operating system & version
* libzmq version
* ideally, working code to reproduce this, but if this not feasible, at least the following information:
   * transport used (tcp?)
   * which side is disconnected from eth and connected via wifi, is this the client? does the

[2019-02-03 15:35] sigiesec commented on #3366
For the ARM64 problem, maybe just the include to the header is missing? (I am not sure if this is the general intrin.h, or a more specific one). You might also add a #pragma intrinsic.

For the ARM problem, the missing symbols are all defined in Advapi32.lib. For x86/x64, cmake adds this as a link dependency by default, but apparently not for ARM. Try adding this manually. I am not sure, but maybe

[2019-02-03 17:07] acsdkquery commented on #3380
Thanks for your support sigiesec!
Please find the requested information

OS ubuntu - 18.04
libzmq - 4.2.5

transport - tcp (dealer-client and router-server)
Client heartbeat is disabled, reconnect is defaulted.
router handover is disabled.

Yes, disconnected from eth and connected via wifi at client side.

Yes, client uses zmq_connect

Yes, wifi and eth on the same local network  and peer maintain

[2019-02-04 16:51] carrotIndustries opened #3385 "TCP port in ZMQ_LAST_ENDPOINT depends on global locale"
# Issue description

The TCP port formatting in `ZMQ_LAST_ENDPOINT` depends on the locale set by `std::locale::global`. With thousands grouping enabled, the port number contains commas. UDP and other ports are likely affected as well.

# Environment

* libzmq version 4.3.1
* OS: Arch Linux

# Minimal test code / Steps to reproduce the issue

[code]

# What's the actual result?
`EP tcp://127.0.0.1:

[2019-02-04 16:53] sherwood-nyab commented on #3371
The QNX 6.3 docs say that fork() conforms to POSIX Std 1003.1, 2004 Edition, which includes some draft standards.  This is from the example in the library reference:
[code]

[2019-02-04 17:04] sherwood-nyab commented on #3371
It turns out that ksh _does_ have ulimit, so **test_system** now passes.

[2019-02-04 17:05] bluca commented on #3371
does src/platform.hpp have ```#define HAVE_FORK 1``` ?

[2019-02-04 17:17] sherwood-nyab commented on #3371
The platform.hpp in the _build tree_ has
`#define HAVE_FORK
`

[2019-02-04 17:22] bluca commented on #3385
Sounds about right, could you please send a PR?

[2019-02-04 17:31] bluca commented on #3371
Ok so it's not a detection problem - are you able to check where it's actually stuck with gdb or a debugger? The test is pretty small https://github.com/zeromq/libzmq/blob/master/tests/test_fork.cpp

[2019-02-04 17:50] sherwood-nyab commented on #3371
Please hold while I learn to use gdb. The first thing I need to figure out is how to get a CMake build that puts debugging symbols into the executable. I know that I need to add the -g compiler option, but right now it appears to be building for a Release which does not include that.

[2019-02-04 18:14] sigiesec commented on #3385
I think it would be preferable to change this to use sprintf, e.g., so that this isn't dependent on the locale at all.

[2019-02-04 18:17] sigiesec commented on #3371
You need to specify -DCMAKE_BUILD_TYPE=Debug when calling cmake.

[2019-02-04 18:48] carrotIndustries commented on #3385
If I read the docs correctly, `std::locale::classic()` should have the same effect as `std::locale("C")` while being portable.

[2019-02-04 18:50] sherwood-nyab commented on #3371
Okay, the executable now has debugging symbols, but I am cross-compiling on a Windows host so (a) all the paths to the source files are Windows paths, and (b) in any case my target QNX machine does not have the source files. It's never easy!

[2019-02-04 21:02] WallStProg commented on #3373
Hope everyone had a good time at hackathon -- hopefully will be able to attend in future.

In the meantime, just curious if anyone has been able to confirm my results using code at https://github.com/WallStProg/zmqtests/tree/master/pingpong?

[2019-02-05 00:49] sherwood-nyab commented on #3371
**test_spec_pushpull** is getting hit with a **SIGPIPE**. Here is the stack backtrace for all threads: [test_spec_pushpull-backtrace.txt](https://github.com/zeromq/libzmq/files/2830315/test_spec_pushpull-backtrace.txt)
It happens in thread 1 when it calls msleep(SETTLE_TIME) on line 338.  Since that is not the first call to msleep in that function there seems to be something special about this cal

[2019-02-05 11:00] jvanstraten opened #3387 "IPC listener fails to clean up temporary socket files/directories"
# Issue description

ZeroMQ's IPC protocol fails to clean up its own temporary files in at least the following circumstances:

 - A socket is bound with URI `ipc://*`.
 - `$TMP`/`$TMPDIR`/`$TEMPDIR` environment vars are not defined, so the directory/socket file is created in the current working directory.
 - `HAVE_MKDTEMP` is defined.

That makes [this](https://github.com/zeromq/libzmq/blob/14da2a

[2019-02-05 12:17] bluca commented on #3387
We can't delete the files as the close is asynchronous, so other sockets might be reusing the same directory https://github.com/zeromq/libzmq/issues/2764

[2019-02-05 13:18] #3385 closed

[2019-02-05 14:37] sigiesec commented on #3387
I stumbled about the same issue as well when adding monitoring tests for ipc. I think #2764 is not exactly the same, as it is not about an ipc wildcard bind, which is the case here. In the current master, this leads to a ZMQ_EVENT_CLOSE_FAILED monitoring when closing a socket with an ipc wildcard bind. I fixed this in f177f2dfe961646512f2d7dab81637bd7614d925

[2019-02-05 15:05] sigiesec commented on #3373
Sorry, we somehow missed to give this a look at the hackaton, but I just did. Unfortunately, I am not able to reproduce your findings. In general, the results seem to vary much, but just with a few runs on my machine with ping -poll -control, I observed the opposite: with 4.2.3, most runs (with some outliers) showed a latency of 280-290us, while with 4.2.4, they showed a latency of 160-170us. Mayb

[2019-02-05 15:06] bluca commented on #3387
ok, that makes sense

[2019-02-05 15:35] jvanstraten commented on #3387
I can confirm that @sigiesec's PR fixes the issue in my use case/environment. Awesome response time!

[2019-02-05 16:17] #3387 closed

[2019-02-05 16:25] ccding opened #3390 "make install error on Debian"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description

make install error

# Environment

* libzmq version (commit hash if unreleased): 4.3.1
* OS: Linux 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u5 (2017-09-19) x86_64 GNU/Linux

# Minimal test code / Steps to reproduce the issue

1.  ./autogen && ./configure --prefix=$PWD && make -j && make install

# W

[2019-02-05 17:06] sigiesec commented on #3390
You cannot use the source directory as the install prefix. Just specify a different directory, e.g. one parallel to the source directory or one within the source directory.

[2019-02-05 17:39] sherwood-nyab commented on #3371
**test_fork** does not check for fork() returning -1, so in that case it will enter the parent process block. A fork error is the only thing that explains what is going on: I never see the child process on the system, and the parent process blocks on the `zmq_recv(pull, ...)` call until a SIGALARM terminates the process. (gdb reports that the "program exited normally", which I find odd. It clearly

[2019-02-05 17:43] bluca commented on #3371
did you manage to check with gdb if it's returning an error? or simply edit the test code to print it

[2019-02-05 18:03] ccding commented on #3390
Problem solved. Thanks.

[2019-02-05 18:03] #3390 closed

[2019-02-05 18:24] sherwood-nyab commented on #3371
gdb says pid is -1 and errno is 89 (ENOSYS, unknown system call).

[2019-02-05 18:37] sigiesec commented on #3269
Could you provide some example code using Boost.Asio and libzmq that reproduces this? Then I can give it a look.

[2019-02-05 18:38] bluca commented on #3371
Right - libzmq requires the use of threads. Disable that test on QNX, and in your application make sure you do the fork _before_ initialising the context

[2019-02-05 18:39] sigiesec commented on #3261
The recently added v2 monitoring events now allow identifying the connection an event is referring to showing both the source and destination (e.g. TCP) addresses, however it does not (yet) contain the routing id. The event format is now more flexible, so this information could be added.

[2019-02-05 18:39] sherwood-nyab commented on #3371
Oh! The 6.3 docs state that as well, didn't see it. So I will remove test_fork for QNXNTO.

However, shouldn't the test do something like `assert (pid >= 0)`? Or is it working as intended?

[2019-02-05 18:41] bluca commented on #3371
Yes, the test should definitely be improved

[2019-02-05 20:07] WallStProg commented on #3373
Thanks @sigiesec!

I'm guessing that the issue may have to do with the VM setup -- host and/or guest (assume that youre running Linux guest on a Windows host?).

I did reproduce from source on a different machine, with results consistent with previous results:

ping params | 4.2.3| 4.2.4
------------- | ------------- | --------------------
(none)  | 47 | 47
-poll | 53 | 55
-poll -control  | 50 | 1

[2019-02-05 20:08] d4l3k opened #3392 "TCP reset causing dropped messages with PUSH/PULL"
# Issue description

The docs say that the TCP transport is reliable, however, I'm seeing dropped messages when using iptables to forcibly reset the TCP connection. Just dropping the packets works as expected not when the connection fully drops. http://api.zeromq.org/4-2:zmq-tcp

We found this issue in a production environment when a bad kernel configuration started sending TCP reset packets.

Is

[2019-02-05 20:13] bluca commented on #3392
Reliability depends on TCP working. Artificially breaking TCP will break it in some cases.

[2019-02-05 20:18] d4l3k commented on #3392
@bluca Can you confirm that if a connection gets a TCP reset ZMQ is no longer reliable?

We encountered this in a production system without any artificial breakage. This is just the best attempt to make a simple reproduction.

[2019-02-05 20:47] bluca commented on #3392
@d4l3k I was a bit in a hurry earlier - to be more specific: if the TCP connection dies for any reason _after_ a message was sent by the application thread _and_ it was processed by the I/O thread _and_ given to the kernel, _and_ the kernel cannot recover the connection and the buffer, then that message will be lost. There are no "overlay" ACK/NACK/sequence numbers in libzmq on top of TCP - it's b

[2019-02-05 20:49] d4l3k commented on #3392
@bluca Is there a way to make a PUSH/PULL socket not clear it's queue on TCP connection drop?

Using wireshark, I'm seeing message 1375057 go through, and then the TCP connection gets reset, and then when the connection comes back it starts up with message 1687000. All those queued messages aren't ever being sent by ZMQ and just dropped.

I guess that's expected with the RFC saying "SHALL create t

[2019-02-05 20:54] d4l3k commented on #3392
@bluca I really appreciate the help.

We're just trying to be resilient to failures as possible. We're in a private DC without a direct connection to the internet and still experienced RST packets from the network.

Is there a way to tell if it's the kernel's queue or ZMQ's queue that's getting flushed? Does ZMQ's internal queue block until the message is sent on the wire by the kernel?

[2019-02-05 21:21] bluca commented on #3392
There's no observability of queues at the moment but funnily enough it's something I'm working on right now - there's a WIP PR open. With that one will be able to probe the status of the queues of a socket.

The backpressure comes from the TCP buffer. Roughly speaking, when the TCP socket write blocks, then the ZMQ internal queue will start filling up. There's no actual visibility of what the kern

[2019-02-05 21:31] bluca commented on #3392
Sure (and that happens already), but I meant to stop it _before_ the connection it's killed

[2019-02-05 21:39] somdoron commented on #3373
I also tried to run the performance and got same performance.
Linux host, no VM.

@WallStProg can you do a git bisect? it will really help to find the issue

[2019-02-05 21:45] d4l3k commented on #3392
@bluca Ah yeah, you're right, can't prevent that. It would be nice if ZMQ could handle connection failures across multiple connections though.

[2019-02-06 15:51] WallStProg commented on #3373
Interesting -- never knew about git bisect.

Anyway, here's the culprit:

[code]

FWIW, this is reliably reproduced (i.e., every time) on CentOS 6 & 7, on both bare-metal and VM.

[2019-02-06 16:05] sigiesec commented on #3373
3658b2b580c9e8b84058df11cdc1bfd68a5eec14

[2019-02-06 18:43] WallStProg commented on #3373
OK, apparently the issue with `pthread_cond_timedwait` being susceptible to the system clock being set back is a thing -- see [here](https://stackoverflow.com/questions/7121212/how-to-make-pthread-cond-timedwait-robust-against-system-clock-manipulations) and [here](https://stackoverflow.com/questions/11893992/implementing-condition-variable-timed-wait-correctly).

However, the PR seems to be a cas

[2019-02-06 19:03] somdoron commented on #3373
I'm not sure which code is this relevant to? This is only one mutex, not sure what are the lck, mutex and mtx here...

 condition variable semantic is important, before calling wait, you must enter a mutex, wait release the mutex, wait for a signal (or timeout), re-enter the mutex and only than the function release.

So we don't really call mutex->unlock, that is being done by the conditional vari

[2019-02-06 19:12] somdoron commented on #3373
@WallStProg can you try following commit:

https://github.com/somdoron/libzmq/commit/462dd36d0ee7d75f50529739e8c69f644c68e852

So the trick it, because you are using zmq_poll, the conditional variable is only being invoked with zero timeout. timedwait with zero timeout is only going to release the mutex and immediately try to enter it again. We can do this without the conditional variable, and ski

[2019-02-06 19:19] WallStProg commented on #3373
The original problem, from which this "solution" derives, is at https://github.com/zeromq/czmq/issues/1873#issuecomment-370279244.  The stated problem is that the `_sync` member is locked by another thread.  This can happen in the existing code (`condition_variable_t::wait()`) because of the race between `lck.unlock` and `mutex_->lock`, and has nothing to do with the semantics of the underlying `p

[2019-02-06 19:19] somdoron commented on #3392
@d4l3k use dafka!

http://github.com/zeromq/dafka

It is reliable... and almost ready for production use

[2019-02-06 19:28] ADDubovik opened #3394 "PUB-SUB can't recieve anything"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
Subscriber in PUB-SUB pattern can't get any data over TCP transport.
This problem was added in fresh commits somewhere - between 14da2ab629f897779299e0dd04f52d3107b3ac9f and b8b1b8def349f448f0861c6deeecae914213914c.
Others patterns are not tested.

# Environment

* libzmq version (commit hash if unre

[2019-02-06 19:30] WallStProg commented on #3373
Ooops -- I see we're talking about different things here.  My comments refer to the `wait` method defined at lines 133-150 of condition_variable.hpp.  I see now that this is the C++11 version of the Windows code -- not the Linux version.  I apologize for the confusion, but I continue to maintain that there's a race in *that* code.

Let me take a look at the Linux version, which I see now is at lin

[2019-02-06 19:31] somdoron commented on #3373
which lck.unlock are you talking about?

There is no race condition. The fix solve that.

The issue was, that you sleep for zero time and never release the mutex you don't give the background thread a chance to enqueue a command on the pipe. That was the race condition. So the application thread always kept the mutex and never release it, looping forever with zero timeout.

The fix was correct and

[2019-02-06 19:42] somdoron commented on #3373
The race condition is between the application thread and background thread. The application thread need the mutex for safety of the entire socket. The background need it in order to enqueue commands to the application thread. They always race for the mutex. However, if the application thread never release the mutex, it doesn't give the background thread a chance to enter it and enqueue a command (

[2019-02-06 21:44] WallStProg commented on #3373
@somdoron -- the patch looks like it solves the performance regression, and also improves performance overall by a small but measurable amount.

@sigiesec -- I do think that the C++11/Windows version may have a race condition (as per https://github.com/zeromq/libzmq/issues/3373#issuecomment-461138931).  I'm unable to build or test on Windows, but just want to point this out for your review.

Thank

[2019-02-06 21:50] somdoron commented on #3373
@WallStProg great news, can you report the new numbers? I will make a pull request.
I think it might be related to the version of the kernel, it might be that the new linux kernel have better performance for monotonic clock.

We should at least make sure that the windows custom conditional variable is only used on windows xp

[2019-02-06 22:18] WallStProg commented on #3373
Don't have detailed results at the moment, but the latency went from ~167us to ~41us.

Will post detailed #'s when I get a chance, prob. tmow.

[2019-02-06 22:34] somdoron commented on #3394
try to call setsockopt before connect.
Also after both, make a small sleep, something like 100ms.
The problem is that 200 messages is very fast, the connection and subscription will arrive to the publisher in that time, so you must give the subscriber some time to connect to the publisher and sent the subscription.

[2019-02-06 22:38] bluca commented on #3394
Another solution, which is more reliable, is to use ZMQ_XPUB instead of ZMQ_PUB, and to wait on the subscription message before starting to send.

[2019-02-07 04:49] ADDubovik commented on #3394
I use setsockopt.
200 ms is not very fast. 2 ms is enough to reconnect, I know. I am not a newbie with ZMQ. Usually there's 198 messages out of 200 in the code example.

This is newly-added bug. Everything was fine until commit b8b1b8def349f448f0861c6deeecae914213914c.

[2019-02-07 08:56] sigiesec commented on #3394
@ADDubovik Thanks for reporting this. I can reproduce this on my machine.

Using git bisect, I tracked it down to:
[code]
Will give 68d520ef682a2f7335c9d5e5ea1f235eed928b1b a closer look.

[2019-02-07 10:13] sigiesec commented on #3394
Actually, this is not related to any performance changes, but, as the issue title correctly states, no connection is made at all. Apparently, there were no test cases for TCP name resolution at all. I now added a test case for that, so this won't break without notice again in the future.

[2019-02-07 10:16] ADDubovik commented on #3394
Yes, really.

[2019-02-07 10:28] sigiesec opened #3397 "No test case for ZMQ_BINDTODEVICE"
There is no test case setting the ZMQ_BINDTODEVICE socket option.

[2019-02-07 10:30] sigiesec opened #3398 "No test cases for ZMQ_SNDBUF and ZMQ_RCVBUF"
There are no test case setting the ZMQ_SNDBUF or ZMQ_RCVBUF socket options.

[2019-02-07 11:07] #3394 closed

[2019-02-07 11:07] bluca commented on #3397
This is going to be tricky, as it requires root or CAP_NET_ADMIN, so it will most likely run nowhere

[2019-02-07 11:15] sigiesec commented on #3397
The travis nodes are sudo-enabled, isn't that sufficient?

[2019-02-07 11:17] bluca commented on #3397
yes, but it will need script changing to run the test as root

[2019-02-07 11:55] bluca commented on #3394
Great, thanks for the report and the fixes

[2019-02-07 12:51] simias commented on #2862
Yeah I hit that again. For the moment I still have an ugly hack were I comment the assert in zmq::udp_engine_t::out_event to ignore the failure. Obviously it's not great...

I'd be interested in implementing a cleaner solution but I'm still unsure what to do. I tried taking inspiration from the TCP code but (as mentioned in previous comments) I don't really think it makes sense to retry when sendt

[2019-02-07 14:53] #3397 closed

[2019-02-07 15:46] WallStProg opened #3403 "error building w/-DENABLE_DRAFTS=On -DWITH_DOCS=On"
# error building w/-DENABLE_DRAFTS=On  -DWITH_DOCS=On

# Environment

* libzmq version (commit hash if unreleased): 4bdb05df78d6806daa8f0b84d2901e37d2ea5981
* OS: CentOS 6.9, gcc 4.8.2

# Minimal test code / Steps to reproduce the issue

1. Build with -DENABLE_DRAFTS=On  -DWITH_DOCS=On

# What's the actual result? (include assertion message & call stack if applicable)

[code]

[2019-02-07 15:47] WallStProg commented on #3403
Tried comparing against other docs, but no obvious problems.  For now am disabling docs in build.

[2019-02-07 15:58] bluca commented on #3403
will be fixed by https://github.com/zeromq/libzmq/pull/3383

[2019-02-07 18:28] WallStProg commented on #3373
Here are detailed results on two machines -- an HP w/4x i5-2400 CPU @ 3.10GHz running CentOS6, and a brix w/4x i7-4770R CPU @ 3.20GHz (w/HT) running CentOS 7.

![image](https://user-images.githubusercontent.com/6627231/52432942-cd2c1980-2ad9-11e9-932c-52c0fb7c136a.png)

Apparently the slowdown in clock_gettime(CLOCK_MONOTONIC....) is not an issue in newer OS's (Ubuntu, Fedora), but our shop is, fo

[2019-02-07 20:02] bluca commented on #3373
Good analysis and good fix. Should we close now?

[2019-02-07 20:31] WallStProg commented on #3373
Yes -- thanks to all and esp. @somdoron  for all the help!

[2019-02-07 20:31] #3373 closed

[2019-02-08 07:52] acsdkquery commented on #3380
Hi @sigiesec, any further updates on this issue?

[2019-02-08 07:56] sigiesec commented on #3380
Sorry, unfortunately not. At first I thought it might be some obvious reason why it cannot work. But in principle, it sounds as if it might work. However, I don't know enough about the details of the Linux networking stack. Did you make this work with a raw TCP connection?