[2018-02-12 20:35] bluca commented on #2915
POSIX mutex can be initialised statically with PTHREAD_MUTEX_INITIALIZER, which _should_ mean there is no need to destroy it. It could be a solution for *nix. And for Windows we could use the fake-mutex that @sigiesec mentioned.

[code]

https://books.google.co.uk/books?id=2SAQAQAAQBAJ&pg=PA640&lpg=PA640#v=onepage&q&f=false

[2018-02-12 20:38] bluca commented on #2942
I can't seem to reproduce the crash. Did you build the library with or without draft apis?

[2018-02-12 22:01] sublee commented on #2942
@bluca Really?  I built libzmq-4.2.3 without any configuration arguments.

I guess low `SNDHWM` on `SUB` sockets reproduce the crash easier.  Would you please try it?

[code]

[2018-02-12 22:29] sublee commented on #2942
Here's my gdb backtrace:

[code]

[2018-02-12 23:21] bluca commented on #2942
No change. The program just spins forever in one of the getsockopt_events_within_many_subscriptions loops

[2018-02-12 23:41] sublee commented on #2942
@bluca I checked my own environment again.  There was `libsodium` in my system.  When I uninstalled it, the code didn't crash!  Can you run the reproduction script again after installing `libsodium`?

[2018-02-12 23:45] bluca commented on #2942
I am running with libsodium:

[code]

It doesn't make much sense - unless you are using CURVE, and it that example it's not, sodium or tweetnacl will make no difference at all.

Are you sure you didn't have multiple versions of the libraries laying around? And maybe building with one, but running with an old one or viceversa?

[2018-02-12 23:47] sublee commented on #2942
I'm sorry my comment about `libsodium` was hasty.  I removed it quickly but you already read.

Here's the comment:

[2018-02-13 00:00] sublee commented on #2942
Yes, there's only 1 libzmq on my system.

I want to explain the environment difference between us.  I downloaded zeromq-4.2.3 from [zeromq-4.2.3.tar.gz](https://github.com/zeromq/libzmq/releases/download/v4.2.3/zeromq-4.2.3.tar.gz).  I built it with `./configure && make && sudo make install`.  I ran the script with `gcc zmq_events_crash.c -L ~/usr/local/lib -lzmq && ./a.out`.

[code]

[2018-02-13 00:13] bluca commented on #2942
You are not running ldconfig - are you sure there are no other libs? What does ```ldd a.out``` say?

[2018-02-13 00:37] sublee commented on #2942
Oh, I ran `ldconfig` also.  Sorry for omitting it.

[code]

[2018-02-13 01:22] sublee commented on #2942
Anyways, I'm researching my crash.  `PUB` socket doesn't receive all of `SUBSCRIBE` messages.  So some `UNSUBSCRIBE` message can be processed without it's corresponding `SUBSCRIBE`.  I'll check whether `SUB` drops outgoing messages or `PUB` drops incoming messages.

[2018-02-13 02:02] sublee commented on #2942
I found the condition.  A `SUB` socket can drop a `SUBSCRIBE` message due to the not enough `SNDHWM`.  But it can send an `UNSUBSCRIBE` message for the dropped subscription.  Then it kills the connected `PUB` socket.

If the dropping is a normal behavior of `SUB` sockets, `PUB` socket should prevent the crash itself.  If it just crashes, we cannot keep an application safely.

[2018-02-13 03:38] sublee commented on #2942
#2252 what I reported 14 months ago came to my mind.  At that time, you pointed dropped subscriptions due to the HWM.  But I couldn't reproduce it without PyZMQ so I tried and gave up to fix it in PyZMQ.

So essentially this issue is same as that issue.  But this time, I can reproduce it without PyZMQ.  @bluca I want to make it work in your environment also.

[2018-02-13 03:47] sublee commented on #2942
How about this code?

[code]

[2018-02-13 12:02] sublee commented on #2942
Or this? (more duplicated subscriptions)

[code]

[2018-02-13 17:33] sublee commented on #2942
Here's another variance.  Many subscriptions before connecting have more change to be dropped.

[code]

[2018-02-13 17:45] bluca commented on #2942
Both programs work fine for me on both 4.2.2 and latest master - this is on Debian 9 x86_64

[2018-02-13 17:52] sigiesec commented on #2942
I tried to run this (with VS), but get the following error at the end of getsockopt_events_within_many_subscriptions:
[code]

It's in my branch https://github.com/sigiesec/libzmq/tree/fix-issue-2943

[2018-02-13 17:53] bluca commented on #2942
"topic" is an array so it shouldn't pass its address I think - gcc is more forgiving

[2018-02-13 17:55] sigiesec commented on #2942
@bluca it's not a compiler, but a run-time error

[2018-02-13 18:07] sublee commented on #2942
Does it also succeed?  I've switched the connection topology to `SUB binds` from `PUB binds`.

[code]

[2018-02-13 18:18] bluca commented on #2942
Yeah they all succeed, last one included, apart from the very first one which seems to just run forever.

[2018-02-13 22:30] bluca commented on #2942
Is there any more information that you can give? Have you tried with the latest libzmq master? Using any non-standard compiler/compiler flag? Have you tried using just the packaged library from Ubuntu?

[2018-02-13 22:58] kachanovskiy commented on #2899
#2945 fixes this for me (VS2010).

[2018-02-13 23:00] bluca commented on #2899
Thanks!

[2018-02-14 02:34] sublee commented on #2942
Okay, I should stop to edit the code.  I'm trying to reproduce the crash in Travis CI to make clear any environment differences.

I tried it with `v4.2.3` tag of `libzmq` repo.  I compiled it with only `./configure` and `make`.  And I could reproduce it at my another machine.  So I don't think there can be any non-standard flags.  I didn't try it with the packaged library.

[2018-02-14 02:50] sublee commented on #2942
It is reproduced at Travis CI!  Can you check [a crashed result](https://travis-ci.org/sublee/zmq-pubsub-crash/jobs/341249661#L901) and [the script in CI](https://github.com/sublee/zmq-pubsub-crash/blob/master/.travis.yml)?

[2018-02-14 08:36] sigiesec commented on #2942
I noticed that topic is too small, it must be made size 9 to store an 8 byte string plus 0 termination. When I change this, I get a similar assertion in VS:
[code]

[2018-02-14 09:56] sublee commented on #2942
@sigiesec Oh, thank you for the point!  I updated at https://github.com/sublee/zmq-pubsub-crash.

[2018-02-14 10:14] sigiesec commented on #2942
@bluca May this be a bug in mtrie? I wanted to add unittests for that anyway, since it is not well covered by the existing tests.

@sublee I have the test also in a branch, where I have migrated the tests to unity: https://github.com/sigiesec/libzmq/tree/fix-issue-2943

[2018-02-14 10:23] sublee commented on #2942
@sigiesec Thank you!  There's a little mistake.  It is the issue `2942` not `2943`.  Anyway, I'm happy to meet another person who is interested in this issue.

How do you think how we can fix this crash?  I think if `SUB`'s subscriptions can be ignored, `PUB` must not check `erased == 1`.  It can be `0` or `1` normally.

[2018-02-14 10:26] sigiesec commented on #2942
I renamed the branch ;)

[2018-02-14 11:03] bluca commented on #2942
I tried using older gcc (4.8 and 4.9) but still can't reproduce this problem. It's really weird. I guess the only other difference left is libc/libstdc++ - later I'll try on Ubuntu 14.04 or 16.04

[2018-02-14 11:13] bluca commented on #2942
Oh changing the array size to 9 then it does crash - interesting. WTF?

Note that the topic is not a nul-terminated string - it's an array of bytes and treated as such. The length passed as parameter is used to determine how many bytes are copied. The setsockopt will allocate a new message from scratch using the length (+1 for the initial 0/1 to signal sub/unsub):

https://github.com/zeromq/libzmq

[2018-02-14 11:19] kachanovskiy commented on #2344
This issue is also seen with VS2010 Win64, where std::map is presumably having the same issue, though the code is slightly different.

While I am not quite sure the following workaround deserves a PR (due to introducing an extra dependency), I will put it here for those who may be hitting this too (for example, being in the same situation as me: VS2010 Win64, no chance to increase stack size since

[2018-02-14 11:21] bluca commented on #2344
Sorry I'm not faimiliar at all with Windows - why is increasing the stack size not an option?

[2018-02-14 11:32] bluca commented on #2942
Ok there is some extremely bizzare undefined behaviour going on here - if you change the sprintf format to just %x it doesn't happen anymore...

[2018-02-14 12:08] sublee commented on #2942
@bluca Finally you reproduced the crash!  I was a fool. 😥

@bluca @sigiesec Do you confirm my idea?  I think `PUB` socket must not do the checksum for subscriptions and unsubscriptions.  If you confirm it, I'll make a PR to @sigiesec's branch to simply remove the `zmq_assert (erased == 1)`.  Give me a chance to contribute to ZeroMQ!

[2018-02-14 12:25] kachanovskiy commented on #2344
Stack is an attribute of a code execution, i.e. running process or a light-weight process, also known as thread. What I am developing is a DLL, and DLL is not a thread or a process, and won't be unless it is dynamically loaded and called by a running process - but then it will be running in context of a calling process, hence will have the stack of calling process. it is identical to what shared l

[2018-02-14 12:26] bluca commented on #2942
Sorry I don't think that should be removed. There is something else going on - the trigger is the length of the array the data is copied from.

[2018-02-14 12:29] bluca commented on #2942
Smells like a stack corruption - the error Simon got earlier would confirm it as well, I'll try to run it through valgrind/asan

[2018-02-14 12:33] bluca commented on #2344
IIRC this specific problem happens in the I/O thread, which we control - can the stack be increased just for that thread?

[2018-02-14 13:15] sigiesec commented on #2344
The stack size can be specified in the call to _beginthreadex: https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/beginthread-beginthreadex

[2018-02-14 15:52] sublee commented on #2942
@bluca I don't think this is a stack corruption.  Here're some proofs:

- I appended logs around [xpub.cpp#114](https://github.com/zeromq/libzmq/blob/v4.2.3/src/xpub.cpp#L114) to detect actual subscriptions which `PUB` received.  Some subscriptions were not delivered to `PUB`.
- I appended logs around [xsub.cpp#244](https://github.com/zeromq/libzmq/blob/v4.2.3/src/xsub.cpp#L244) to detect whether

[2018-02-14 17:26] bjovke commented on #2344
Well you can decrease the FD_SETSIZE if you're not going to ever need 16384
sockets during runtime. It's the main stack-eater here and the stack
consumption is proportional to 3 X FD_SETSIZE.

Greetings.

On Feb 14, 2018 14:38, "Sergey Kachanovskiy" <notifications@github.com>
wrote:

[2018-02-14 17:30] bjovke commented on #2344
I see now that it doesn't make sense I've mentioned the proportion, but
anyway, decreasing FD_SETSIZE will decrease stack consumption. One of the
solutions is to change the code to use dynamic memory allocation but this
can impact performance.

On Feb 14, 2018 18:25, "BJovke" <bjovan@gmail.com> wrote:

[2018-02-14 17:32] sigiesec commented on #2344
Another option were to build with POLLER=poll, which is, however, broken in 4.2.3, but should be fine in the current master's HEAD (we have only recently added CI tests for that).

[2018-02-14 19:13] somdoron commented on #2941
you can use them with zmq_poller.

Also you can use them with other event loops api, however it is a little more complicated.
We might have to expose a nicer api for that.

[2018-02-14 21:02] CyrusTheVirusG opened #2948 "Infinite socket SYN after .disconnect() and .close()"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description

Sockets keep attempting to reconnect after being closed.

# Environment
* libzmq version (commit hash if unreleased):
commit 4c7c9b87bf18b2561e65305dabe5a9bc97624ae1
4.1.6 & 4.2.4
* OS:

OSX, latest

# Minimal test code / Steps to reproduce the issue

    import zmq.green as zmq
    import socket

[2018-02-14 21:09] CyrusTheVirusG commented on #2948
I suppose this could also be a memory leak whereas the socket is not being cleaned up properly.

[2018-02-14 23:27] bluca commented on #2948
Set linger to 0 if you want a socket to discard queued messages and close immediately

[2018-02-15 00:28] CyrusTheVirusG commented on #2948
It still makes absolutely no sense. It might make sense on a disconnect if you intend on reconnecting at some point in the future but closing the socket and destroying it should terminate this behavior.

Anyhow setting any linger seems to correct, so thanks.

[2018-02-15 00:39] CyrusTheVirusG commented on #2948
Additionally, the documentation says the default value should be 30 seconds. Not infinity.

http://api.zeromq.org/4-2:zmq-setsockopt#toc37

[2018-02-15 11:03] bluca commented on #2948
I would recommend reading the zguide as it explains many of the default behaviours and their reasons - http://zguide.zeromq.org/

Great, closing then.

Sorry about that, it was a mistake in the documentation that went unnoticed. It was fixed last year in https://github.com/zeromq/libzmq/issues/2845

[2018-02-15 11:03] #2948 closed

[2018-02-16 10:37] sigiesec opened #2949 "Unit tests not recognized by code coverage measurement"
The unit tests are not recognized by the code coverage measurement. If I read Makefile.am correctly, only the shared library is instrumented for coverage measurement, but the unit tests are run against the static library.

I am not that familiar with either Makefile.am nor gcov. Is it sufficient/adequate to just apply the same flags ($(CODE_COVERAGE_*FLAGS)) to the the build of libzmq.a as well?

[2018-02-16 11:13] bluca commented on #2949
If I remember correctly how it works, adding that flags to the unit tests flags should do the trick - have you tried that?

[2018-02-16 11:17] sigiesec commented on #2949
Not yet, but I will try :)

[2018-02-16 12:14] sigiesec commented on #2949
Looks good now, thanks for the hint :)

[2018-02-17 07:44] sublee commented on #2942
@bluca Can we exclude the topic length from the suspects?  Is there any risk if we remove the assertion of `erased == 1`?

[2018-02-17 11:43] bluca commented on #2942
Sorry but I'm not a huge fan of removing error checks - at the very least we need to understand what condition it was added to guard against, and why it is wrong and how to relax it. And possibly with tests - how is the unit test for mtrie coming along?

Especially in this case - compiling with address sanitizer shows some stash smashing is going on:

[code]

Use -fsanitize=address with a decently

[2018-02-17 12:04] sublee commented on #2942
@bluca I'm not doubtful of `topic[9]`.  `topic[8]` in the original code was perfectly wrong.  As you said, `topic[9]` is the right code.  Even though `topic[8]` has the memory issue, the `mtrie` crash is not related to that.

The `mtrie` crash is caused by not paired `SUBSCRIBE` and `UNSUBSCRIBE` messages.  It is a possible normal behavior of `SUB` or `XSUB` sockets when they exceed the `SNDHWM`.

[2018-02-17 12:05] sublee commented on #2942
@sigiesec Thank you for the idea!  I'll send a PR you soon.

[2018-02-17 12:23] bluca commented on #2942
I am doubtful - the topic is 8 bytes, so why is your example requiring a larger array? It doesn't make any sense

[2018-02-17 13:10] sublee commented on #2942
@bluca Okay, I won't remove the assertion.  But is it okay that checking existence before `PUB` removes a subscription?  There will be no assertion removal.

[2018-02-17 13:11] sublee commented on #2942
@bluca Yes, the topic is 8 bytes.  But I've used `sprintf()`.  It appends `\0` after the content.  So it needs 9 bytes to be stored.  It makes sense.  Doesn't it?

[2018-02-17 13:26] sublee commented on #2942
I'm sorry for trying to remove the assertion hastily.  But I want to move the conversation onto unpaired `SUBSCRIBE`-`UNSUBSCRIBE`.  It is the most important point to rescue applications which use ZeroMQ PUB/SUB from this crash.  I want to hear @bluca your opinion about it.  You are the expert so your opinion will be influential to me.

I think `topic[9]` is completely out of this issue.  Just `sp

[2018-02-17 13:29] bjovke commented on #2942
`     sprintf(topic, "%08x", j);`

I've tried removing the assert `zmq_assert (erased == 1);`
Now it runs for longer time and **_sometimes_** crashes on a totally unrelated place (Windows 64 bit build):

_Unhandled exception at 0x00007FFC3305DE0E (ntdll.dll) in test_1.exe: 0xC0000005: Access violation writing location 0x0000000000000024._

It's because of simultaneous write access to family_entrie

[2018-02-17 13:34] bjovke commented on #2942
With 1 millisecond delay on Windows sometimes unhandled exception still happens but with 10 millisecond delay everything works fine.

[2018-02-17 13:39] sublee commented on #2942
@bjovke Thank you to inspect this issue.

When I appended some logs to debug it, I didn't see duplicated `UNSUBSCRIBE` messages.  Here's what I saw:

1. `SUB` drops some outgoing `SUBSCRIBE` due to `SNDHWM`, or `PUB` drops some incoming `SUBSCRIBE` due to `RCVHWM`.  Both can happen.
2. So `PUB` doesn't know that `SUB` subscribes the topic.
3. `SUB` and `PUB` does **NOT** drop `UNSUBSCRIBE`.
4. So

[2018-02-17 13:54] bjovke commented on #2942
Well I didn't say that ZMQ_UNSUBSCRIBE messages are duplicates.
Since you example is running in a loop the same topics and SUB are repeatedly used hence the PUB can observe two consecutive ZMQ_UNSUBSCRIBEs if messages between them are lost or messages are processed out of order.

Since with added delays this is not happening, my guess is that this issue can be observed only when PUB and SUB are on

[2018-02-17 14:09] sublee commented on #2942
@bjovke Oh, I misunderstood.  Anyways, `SNDHWM=0` on `SUB` sockets and `RCVHWM=0` on the `PUB` socket fixes the crash without any delays.  Can you try it in your environment?

[code]

I don't agree your guess.  Here're counterexamples:

This crash is not only in the example code.  My production servers are having it currently(I'll fix it with the unlimited HWM at the next maintenance window.)  The

[2018-02-17 14:34] bjovke commented on #2942
Yes, you're right about the network latency, I've removed that text from my comment.

Everything works fine with hwm = 0 for some time and I get an already mentioned unhandled exception on Windows. But this is not related to this assert issue.

Either the logic for detecting cases like this needs to be added to the code or it might be enough just to remove the assert. It needs to be investigated.

[2018-02-17 14:48] sublee commented on #2942
I prefer removing the assertion and making `mtrie::rm()` return `false` if `erased == 0`.  But I'm not an expert so you guys' opinion is more important.

Before we fix this issue, we must warn about the crash for the PUB/SUB pattern users.  The `SNDHWM` and `RCVHWM` documentation should suggest `0` for `PUB`/`SUB` sockets.

[2018-02-17 15:37] sigiesec commented on #2942
@bluca Maybe I find some time tomorrow to add sufficient tests, so that we can discuss consistency of mtrie behaviour.

At the moment my impression is that the assertion is too strict within mtrie, but it may well be worth an assertion at the call site. I did not dig into the larger picture yet.

[2018-02-17 16:14] bjovke commented on #2942
The assert is probably there in order to make sure that unsubscribe from a SUB actually deleted a corresponding pipe from `pipes ` set and there are no dangling pipes there. Dangling pipes can, in a long-running program, pile up and exhaust the RAM.

But in this case SUB is sending unsubscribe to a subscription which never reached the PUB, thus the subscription is non-existent on PUB side. I guess

[2018-02-18 03:59] sublee commented on #2942
@bjovke Thank you to agree my hypothesis!

I saw `PUB` side HWM exceeding also, but it doesn't seem to cause the crash.  I couldn't reproduce the crash with `SUB.SNDHWM=0` and `PUB.RCVHWM=1` now.  So I think that your idea, the sent subscription checking on `SUB` sockets, would work well.

[2018-02-19 06:55] sublee commented on #2942
@bluca I'm looking forward to your opinion on my hypothesis: successful `UNSUBSCRIBE` messages, which are after dropped `SUBSCRIBE` messages, cause the crash on the `PUB` side.  Please review whether this crash mechanism is possible or not.

[2018-02-19 17:12] eponsko opened #2952 "Problem: Missing support for TIPC Port Identities"
TIPC supports addressing with location independent addresses (**Port Names**) using a distributed lookup table (`{type,instance}`), and location dependent addresses (**Port Identities**) using randomly assigned port numbers (`<NodeId:Ref>`). The NodeId corresponds to the node address and the reference number is automatically assigned when the socket is created, similar to binding a TCP/UDP port to

[2018-02-19 17:26] bluca commented on #2952
Fixed by https://github.com/zeromq/libzmq/pull/2951

Tests for this would be much welcome

[2018-02-19 17:26] #2952 closed

[2018-02-20 07:46] K0n63n opened #2953 "PUB / SUB not working when subscriber started before publisher"
# Issue description

Same as https://github.com/zeromq/clrzmq4/issues/141 , but I'm using libzmq directly and also have the same problem. Therefor I'm registering this case here instead. It works fine for version 4.1.6

# Environment

* libzmq version: 4.2.3
* OS: Windows 10

# Minimal test code / Steps to reproduce the issue

1.  Any simple subscriber which is started before the publisher

# What

[2018-02-20 08:10] K0n63n opened #2954 "Crash in select_t on windows"
# Issue description

Getting a crash in libzmq at select_t::is_retired_fd()

![callcrash](https://user-images.githubusercontent.com/16082841/36413414-344782d2-1616-11e8-9d70-25d9382fe262.png)

# Environment

* libzmq version: 4.2.3, usepoll = false, compiled with msvc: v140, dynamic, release
* OS: Windows 10

# Minimal test code / Steps to reproduce the issue

1.  Polling a router socket, exact sa

[2018-02-20 08:18] sigiesec commented on #2954
Can you try again with the current master? There have been several fixes in select.cpp since 4.2.3.

If it still happens, can you please post self-contained code that reproduces the issue?

[2018-02-20 08:46] K0n63n commented on #2954
Ok, just tested with the current master and it looks fine now

[2018-02-20 08:46] #2954 closed

[2018-02-20 08:51] K0n63n commented on #2953
Just tested it with the current master and it looks like it is fixed now.

[2018-02-20 08:51] #2953 closed

[2018-02-20 08:53] sigiesec commented on #2954
Great :) Probably this was fixed by #2943

[2018-02-20 12:36] minrk commented on #2941
zmq_poller can be used with an existing eventloop? Note that blocking polls other than the eventloop's own are not allowed, so I need to wake an existing system select (kqueue/epoll/uvloop/etc.) call when an event arrives on a zmq socket. How can I get an FD that can be used in this way from the DISH/RADIO sockets?

[2018-02-20 13:53] somdoron commented on #2941
Yes, so we need a function to get the zmq_poller FD. which is the FD of the zmq_poller signaler, from here:

https://github.com/zeromq/libzmq/blob/master/src/socket_poller.hpp#L106

We have an optimization now that only create the signaler if we have a thread safe socket in the poller (like DISH or RADIO).

Anyway, add that FD to your eventloop and when signaled call zmq_poller_wait with zero time

[2018-02-20 14:46] 61t opened #2955 "Install 4.2.3 from repository hanging in CentOS 6"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description

Install zeromq-devel 4.2.3 from repository hanging in CentOS 6

# Environment

* libzmq version (commit hash if unreleased): zeromq-devel 4.2.3
* OS: CentOS release 6.9 (Final) in Google Cloud Platform

# Minimal test code / Steps to reproduce the issue

exactly follow below link:
https://software.o

[2018-02-20 14:56] bluca commented on #2955
We don't host those servers so there's nothing we can do. It works fine for me and others so it's either a temporary hiccup or a problem with your internet connection. I suggest to simply try again.

[2018-02-20 14:56] #2955 closed

[2018-02-20 15:00] 61t commented on #2955
The most weird thing is I can wget all these rpm packages in the box.

e.g.
[code]

But I just cannot use yum to install it.

Any suggestion master?

[2018-02-20 15:03] 61t commented on #2955
@bluca

[2018-02-20 15:03] bluca commented on #2955
I have no idea how yum works, sorry. Try asking on a CentOS support board/channel - there is nothing zeromq-specific about these packages or repositories, it's just standard stuff.

[2018-02-20 15:04] 61t commented on #2955
Thanks for reply. I will try it and if any luck I will update here.

[2018-02-21 12:09] somdoron commented on #2911
was this solved? I remember seeing a PR about this.
If not let me know and I will take a look

[2018-02-21 12:12] somdoron commented on #2805
@sigiesec not sure if it helpful but NetMQ is using IO Completion Ports. It required some work to make it work.

You can read more here:
http://somdoron.com/2014/11/netmq-iocp/

[2018-02-21 13:09] sigiesec commented on #2805
@somdoron Thanks, I already read your post ;) If I understand it correctly, all users of polling within libzmq must be changed to the reactive model, and then there can be an adapter that maps to the current poller_t API for the existing polling mechanisms. Very high level, but would you agree insofar?

[2018-02-21 13:58] somdoron commented on #2805
only the internal poller have to change, the external one (aka zmq_poll and zmq_poller) should stay as is.

The internal one and internal threading have to change, I can dig the commit of netmq if it will help you.
It is kind of big change and not sure will give the same performance for non-windows OSes.

[2018-02-21 14:01] sigiesec commented on #2805
Yes, a link to the relevant changes would be great.

Of course the internal and external pollers can be changed independently, but why do you suggest only to change the internal poller?

[2018-02-21 17:00] somdoron commented on #2805
the external poller is polling over very few FDs, usually 2 or 3. Even on linux zeromq is using poll and not epoll for the external poller. So there is no need to invest in IOCP for the external poller, you will not see any performance gain.

[2018-02-21 17:03] sigiesec commented on #2805
Ok good to know that, thanks!

[2018-02-21 17:07] somdoron commented on #2805
this is the main commit:

https://github.com/zeromq/netmq/commit/99abdf8e84b3e341fffc1a2d8cd20741882eb1d0

Also I created a library for that called AsyncIO which wrap IOCP with nice API that fits .net.

I think it will also make your life easier to create such a library to wrap kqueue,epoll,IOCP,poll and select and provide simple API to zeromq.

[2018-02-22 01:48] wbb1975 commented on #2103
Hi Bluca,

    Sorry to reply so late because I am focusing solving libzmq related issue to ensure the stability of our application.  Currently we have commented out zmq::zmq_abort (errstr) from err.hpp line #133 (errno_assert macro), although we still can see exception message sometimes but never crash again, and the application can run normally.

Best Regards!
Bingbing

[2018-02-22 08:35] maony opened #2957 "unit_test compile error when used for my own project's dependent library"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description

in my own project, libzmq was used as one of the depentent library.

that is, there exist one top cmake file in my project.

then, when compile unit_test file, unittest_pooller.cpp unittest_ypipe.cpp, there will be compile error，

/unittests/unittest_poller.cpp:22:22: fatal error: poller.hpp: No suc

[2018-02-22 09:10] bluca commented on #2957
@sigiesec could you please have a look when you have a moment?

[2018-02-22 09:12] bluca commented on #2957
@maony sounds like you are embedding the code directly in your repository - consider using the Ubuntu packages and pkgconfig instead, it will make your life so much easier

[2018-02-22 12:56] maony commented on #2957
sorry to have not decribed problem clearly.
my project have many dependentions on other libraries, so we have constructed one auto-build tool to pull all of the git projects to keep up with the newest version.

[2018-02-22 12:58] maony commented on #2957
besides, project should support x86/gpu/arm linux platform meantime.

[2018-02-22 13:30] bluca commented on #2957
Ubuntu does have arm builds - you should use what the distribution provides if it's there, so you avoid these kind of issues

[2018-02-22 14:54] maony commented on #2957
sorry for missing some info.
host os: ubuntu
target os: arm-linux
we use cross-compile tool-chains. thanks for your advice, we have changed to the latest release version.

[2018-02-22 16:44] 61t opened #2958 "Which tool/app does it use to draw diagram in The Guide of ZeroMQ"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description

Which tool/app does it use to draw diagram in The Guide of ZeroMQ

# Environment

* libzmq version (commit hash if unreleased): n/a
* OS: n/a

# Minimal test code / Steps to reproduce the issue

n/a

# What's the actual result? (include assertion message & call stack if applicable)

n/a

# What's th

[2018-02-22 16:46] 61t commented on #2958
As I prefer to do prototyping the same as in The Guide, that is brilliant.

[2018-02-22 16:55] bluca commented on #2958
This is something you'll want to ask on the zguide repository, which you can find here: https://github.com/booksbyus/zguide

[2018-02-22 16:55] #2958 closed

[2018-02-22 17:02] 61t commented on #2958
Thanks @bluca

[2018-02-22 17:08] sigiesec commented on #2957
I don't know if including our CMakeLists.txt is a supported use case? I have never done something like that before for an external library. I am no cmake expert :(

[2018-02-22 17:13] bluca commented on #2957
Yeah I don't think that's supported or recommended in any way - the existing findpackage stuff should be used instead

[2018-02-22 21:11] aaronovz1 commented on #2915
ZMQ wraps mutex with mutex_t, what way do you recommend that would allow this one problematic static mutex to be initialized using PTHREAD_MUTEX_INITIALIZER? Extend the class with something like static_mutex_t? Or an argument passed into constructor?

[2018-02-22 21:36] bluca commented on #2915
as far as I understand it can't use the class because then it won't be initialised statically and it also will have a destructor which is what is causing the issue in the first place - so the only solution is some ugly hack and just use pthread APIs inline in that file

[2018-02-25 20:31] bluca commented on #2820
Upon further review, there is space for improving the current docs. Will push changes soon that will clarify that these options only affect duplicates.

[2018-02-26 20:40] Vaelatern opened #2959 "Possibly unexpected side effect of setting a socket option"
# Issue description

When a person calls, from czmq in my case, `zsock_set_curve_server(self, 0)`, or `int myint = 0; zmq_setsockopt(self, ZMQ_CURVE_SERVER, &myint, sizeof(int))`, there is a side effect, from the perspective of the user, that instead of using CURVE encryption the socket is switched to NULL encryption.

https://github.com/zeromq/libzmq/blob/master/src/options.cpp#L451

To compare:

[2018-02-26 20:50] bluca commented on #2959
0 means disable, 1 means enable - this documented: https://github.com/zeromq/libzmq/blob/master/doc/zmq_setsockopt.txt#L198

[2018-02-26 20:59] Vaelatern commented on #2959
Then consistency with the `ZMQ_GSSAPI_SERVER` option might be desired?

[2018-02-26 21:12] bluca commented on #2959
These are stable APIs, so the behaviour is no longer allowed to change

[2018-02-26 21:21] #2959 closed

[2018-02-27 14:21] msune opened #2961 "Entire context hangs ~20secs if DNS can't be reached while resolving a domain name of a socket"
# Issue description

It seems that, if there is no connectivity to the internet, but the system has the DNS configured (e.g. `8.8.8.8`), in a single ZMQ context with 2 sockets:

1) Direct IP `tcp://192.168.0.1:4321`
2) Domain name `tcp://backup.acme.com:4321`

Connection (1) experiments huge delays (~20 - 30s) on TX and RX of packets. It seems that the root cause is that `worker_routine` calls `ge

[2018-02-27 14:22] msune commented on #2961
@ maintainers

I can work on a fix, but I would need some advice on how to fix it properly.

[2018-02-27 14:40] msune commented on #2961
Thinking out loud here;

Solving this issue may also increase performance when domain names are not cached by the system, since during the RTT to the DNS all sockets in the context are blocked.

[2018-02-27 14:55] bluca commented on #2961
I don't think this can be fixed in any way - but you can create more than one I/O thread, and the sockets should be divided between them

[2018-02-27 14:55] bluca commented on #2961
without breaking anything else I mean

[2018-02-28 15:07] eponsko commented on #2911
@somdoron Well the solution posted above seems to fix the issue, but the performance seems a bit underwhelming, I'm not sure what I should expect however. Since I'm not very familiar with the code there I thought it would be best if someone who understands it has a look.

[2018-02-28 20:00] mesegura opened #2962 "test_pair_tcp.cpp test hangs inside the bounce() function call"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
The test_pair_tcp.cpp test hangs inside the bounce() function call, specifically the first zmq_recv() call. I've traced this to zmq_recv() => s_recvmsg() => s_->recv() => process_commands() => mailbox->recv() => signaler.wait() => select(). It seems xrecv() fails and it goes into a blocking wait.

#

[2018-02-28 20:12] bluca commented on #2962
From my reply to the ML:

[code]

[2018-02-28 22:24] mesegura commented on #2962
I tried to add socket monitors to check the handshake, but it hangs when trying to read in an event from the monitor socket in the first call to `get_monitor_event()`. It appears to be the same problem with receiving when I called `bounce()` from testutils.hpp.
[code]

[2018-02-28 23:12] bluca commented on #2962
It's a new platform right? My best guess is that polling is not working - in the unittest directory there's a poller test, try that one

[2018-02-28 23:15] mesegura commented on #2962
Yes, its a new platform that maybe should be added to the repo once I get it working. I'll try the poller test next and let you know how it goes. Thank you.

[2018-03-01 02:56] mesegura commented on #2962
I've resolved it! It's working on Vxworks 6.8!

[2018-03-01 03:38] laplaceyang commented on #2871
I test your code with the situation of 150 hwm in each side, and I just see 300 msgs buffered.

Then, as the first code of your issue, which set the sndhwm to 0, should recv all msg. Because the 0 of hwm means infinite. See [pipe.cpp#L524](https://github.com/zeromq/libzmq/blob/master/src/pipe.cpp#L524).

Thus, it's the right behavior.

[2018-03-01 08:35] bluca commented on #2962
Great, feel free to send a PR if you have any code changes. I'm not familiar with vxworks, che IPC code relies on Unix file based sockets, it might not be supported on that system, check it out.

[2018-03-01 11:17] bluca commented on #2961
@msune did you try with multiple I/O threads?

[2018-03-01 11:17] bluca commented on #2957
@maony have you tried with the findpackage functionality instead?

[2018-03-01 11:17] #2949 closed

[2018-03-01 11:20] bluca commented on #2931
@Jehannum505 closing since this does not appear to have changed in libzmq. Please reopen if you manage to reproduce a regression using only libzmq, without the Java layer.

[2018-03-01 11:20] #2931 closed

[2018-03-01 11:21] msune commented on #2961
Hi @bluca

Yes I did. That was the initial work-around we did, and ofc it works.

I think a non-reachable DNS can be considered a corner case, but not so much this:

Ofc, most of the applications open the sockets at bootstrap, so it might be another corner case (and the reason no one has posted this issue yet, afaik).

Do you think is worth spending time on creating a separate thread to do the res

[2018-03-01 11:30] bluca commented on #2961
It would most likely be quite a lot of work and refactoring - quite risky too, so extensive tests and unit tests would need to be written as well, which should ideally include implementing a mock DNS API to simulate the various conditions (in the file-level unit tests).

It could probably be connected to this feature request: https://github.com/zeromq/libzmq/issues/2297

I'm not sure it would be w

[2018-03-01 11:33] msune commented on #2961
Ok, I agree.

I definetely don't have time for this right now. And I still have the work on the `poller`, which I think is much more important. Btw, sorry about that; I am completely overloaded these last months, but I have it as pending still. Please let me know if there are some deadlines for the poller issue.

thanks

[2018-03-01 11:38] bluca commented on #2961
No worries, and no deadlines. Thanks for your work!

[2018-03-01 14:50] mesegura commented on #2962
VxWorks does have IPC (AF_UNIX) through the Connection-Oriented Message Passing protocol (COMP) component of the Kernel, but the socket name format is different, e.g. "ipc:///comp/socket/0x345". Abstract IPC sockets resolve to "ipc:///comp/socket/0xN" where N is some hex number. Also, there is no SOCK_STREAM socket type for AF_UNIX, only SOCK_SEQPACKET.

When I try the socket monitor code with IPC

[2018-03-01 14:57] bluca commented on #2962
Check what the event is - probably an error.

ipc:// uses SOCK_STREAM, if VxWorks doesn't support it you'll have to provide a different implementation.

I'm not sure how the VxWorks kernel works, but at least in Linux nowadays a TCP loopback (127.0.0.1) connection is not too different from AF_UNIX connection, so you might get away with skipping it entirely and just use TCP.

[2018-03-01 17:25] mesegura commented on #2962
I think I'll use your TCP workaround if I need inter process communications. I think I'll be using inproc:// and TCP mostly.

I'll send a PR once I've cleaned up my code changes a bit.

[2018-03-01 18:12] bluca commented on #2962
If IPC does not work, remember to add the ifdefs to disable it via ifdefs like on windows, for example: https://github.com/zeromq/libzmq/blob/master/src/ipc_connecter.cpp#L33

[2018-03-01 19:11] mesegura commented on #2962
I shifted and added a few things in my main() of my test routine, and I noticed that the server socket events don't have a ZMQ_EVENT_CLOSED, but instead a ZMQ_EVENT_DISCONNECTED in its place.
[code]
Also, even though the TCP/IP socket transfers in `bounce()` pass, the `zmq_ctx_term()` call hangs if I comment out the following:

[code]

[2018-03-01 20:16] bluca commented on #2962
The events can depend on which order things happen in the background, so that's ok. Set linger to 0 just after you create the sockets to avoid the context waiting for all messages to be delivered (other events I imagine)

[2018-03-01 20:49] mesegura commented on #2962
That makes sense. The original test_pair_tcp.cpp passes/doesn't hang.

[2018-03-01 20:57] #2962 closed

[2018-03-01 21:08] minrk commented on #2941
ok, so at the pyzmq level I can mimic the existing FD behavior on sockets by:

1. instantiating a poller per socket
2. aliasing the FD on these sockets to to the signaler on the poller

right?

Is the signaler only for the draft sockets or will it be a polling API that works for all sockets?

[2018-03-02 15:48] pavel-pimenov opened #2963 "PVS Studio 6.22 analysis report"
Report:
http://www.fly-server.ru/pvs-studio/libzmq

[2018-03-02 15:51] bluca commented on #2963
Could you please give a bit more details of what this is and how to reproduce results?

[2018-03-02 16:02] pavel-pimenov commented on #2963
Reproduce result: install https://www.viva64.com/en/pvs-studio/

![default](https://user-images.githubusercontent.com/920705/36908376-16b06ac0-1e4c-11e8-936c-911e98943b3f.png)

[2018-03-02 17:46] bluca commented on #2942
@sublee please try again from latest master

[2018-03-02 21:17] bluca commented on #2915
@sigiesec I tried an implementation on Windows - tests seems to pass, could you please have a quick look and let me know if it would work? It uses a static CriticalSection and it initialises it with InitOnceExecuteOnce:

https://github.com/bluca/libzmq/commit/d0602f08952c35e3e42506d9685f8e21c9c52057

[2018-03-03 07:35] skaes commented on #2830
I recently try to upgrade an application I'm running from 4.1.4 to 4.2.3. Memory usage went up from around 10G to 40G. I ran the app through a leak detector and discovered the same stack trace as above, using the ileaks tool on OS X.

I then used git bisect to find the commit which introduced the leak, it is this one:  b2718149e07e4f31aeefca38fe577ab94b9bbecd.

Still trying to wrap my head around

[2018-03-03 07:36] skaes commented on #2830
The leak is present in all code releases since b2718149e07e4f31aeefca38fe577ab94b9bbecd.

[2018-03-03 11:19] bluca commented on #2830
Can you provide a unit test that reproduces the problem clearly? None of the current tests show any issue with valgrind.
Note that increased memory usage does not automatically equate to leak. It is expected that usage at runtime went up, it's a trade-off for a big performance boost thanks to the new zero copy receive.

[2018-03-03 11:21] bluca commented on #2830
@santupari this is a leak. The APIs to close sockets and contexts have to be used.

[2018-03-03 12:12] skaes commented on #2830
@bluca I investigated a bit further. For my test case, it is actually not a leak. It's just increased memory usage. I found this by writing a message producer and testing the application against ist. While running, ileaks reported leaks. But after stopping it, and keeping the conmer running, the leaks were gone. I suspect both valgrind and ileaks cannot properly detect that there are still valid r

[2018-03-03 12:31] bluca commented on #2830
It depends on the workload. Buffers are pre-allocated in batches of ~18KB (8KB data + 10KB metadata, configurable at build time) and then the engine tries is best to fill them without stalling the pipeline. Which means in the very worst case scenario - a truckload of messages just above the stack-only message size (33 bytes) that are scattered enough to avoid being batched, you get a ~500x increas

[2018-03-03 12:31] #2830 closed

[2018-03-03 12:37] bluca commented on #2963
Feel free to triage them to separate false positives from real issue and send fixes.

[2018-03-03 12:46] skaes commented on #2830
@bluca I do not have strict memory constraints, but 40G versus 10G is not acceptable and the performance was just fine for my use case. Also, I'm neither faint of heart nor a novice programmer and this big refactoring you're talking about was just a single commit. I will probably give it a shot.

[2018-03-03 12:55] bluca commented on #2830
That commit is just a small adjustment and one of many - do a diff between 4.1 and 4.2 of all the engine, decoder and allocator source files to get an idea of what happened

[2018-03-03 12:55] skaes commented on #2830
k

[2018-03-03 13:03] skaes commented on #2830
@bluca thanks for the hints.

[2018-03-03 13:31] bluca commented on #2830
@skaes basically, you'd have to reimplement a new decoder with associated allocator - I think for what you want, you might get away with replicating the previous behaviour by simply tweaking the parameters used by the current decoder. One of which is in the config.hpp (but there is no autoconf/cmake flag for it yet):

https://github.com/zeromq/libzmq/blob/master/src/config.hpp#L59

This is the siz

[2018-03-03 14:55] santupari commented on #2830
@bluca We have identified the root cause for the issue in our code. It is actually related to ZMQ identity of workers connecting to broker. If there is more than one worker connected to broker with the same ZMQ identity, only one pipe-pair and other resources allocated for those connections are cleaned up. After changing the behavior of the ZMQ identity we found that all the pipe-pairs were gettin

[2018-03-05 03:09] cuteshell opened #2968 "zmq_socket assert failed on signaler.cpp:589 with errno set to ENOTSOCK"
# Issue description
when I create a ZMQ_PAIR socket using zmq_socket in multithread program, restart the program all the time, then the error occurs sometimes.

# Environment
OS is windows 10
IDE is visual studio 2013

* libzmq version (commit hash if unreleased):
zmq version is 4.2.3 released

* OS:
windows 10
# Minimal test code / Steps to reproduce the issue

create the socket in a thread using

[2018-03-05 03:55] sublee commented on #2942
@bluca Okay, I'll see.

[2018-03-05 03:59] sublee commented on #2942
@bluca There's no more crash.  Finally, this issue seems to be fixed!  Thank you so much for you guys' hard work to fix it.

[2018-03-05 03:59] #2942 closed

[2018-03-05 09:25] skaes commented on #2830
@bluca I have implemented a context option ZMQ_ZERO_COPY to specify whether the v2_decoder should use the zero copy strategy or not. The patches are on my forks for libzmq https://github.com/skaes/libzmq/commit/afa63b5ca6c55d27c02148816d5f7f9d3a2fd9f5 and https://github.com/skaes/czmq/commit/4ce7199e26a7efe653bfaa156559aa5d28896f8e. The changes were actually relatively straightforward, once I unde

[2018-03-05 09:54] bluca commented on #2830
Looks fine to me (I didn't remember where the decision to allocate on-the-fly was made, thought it was more complex - nicely spotted).

Some TODOs:

1) Please call the option _ZERO_COPY_RECV or something similar - as I am (slowly) working on zero-copy send (using a new kernel API) so it would get confusing
2) Please also add the new definition in this private header since it's DRAFT, otherwise the

[2018-03-05 10:03] skaes commented on #2830
Thx for the feedback. Will incorporate your suggestions.

[2018-03-05 10:16] sigiesec commented on #2968
This sounds like some race/memory corruption in your program, though it is hard to tell without having the program. Can you reduce your program to a minimal test case that reproduces the problem?

[2018-03-05 10:18] sigiesec commented on #2957
Can you send a PR to fix that?

[2018-03-05 11:00] bluca commented on #2915
@sigiesec ping

[2018-03-05 11:39] sigiesec commented on #2915
So this does not introduce a global library shutdown function, right?
I don't think this is a viable solution :( Since DeleteCriticalSection is never called, leak detectors will complain, and I don't think this is a good idea.
I think the only way to implement this without a global library shutdown function is to implement a spin-lock with atomics.

[2018-03-05 11:48] bluca commented on #2915
So it leaks even if it's on the stack? Bummer. Why can't Windows do POSIX...

[2018-03-05 11:49] bluca commented on #2915
I'll send a PR with the POSIX fix then, given the problem was reported on Linux. Then a Windows solution can be added later if needed.

[2018-03-05 12:00] sigiesec commented on #2915
What do you mean by "on the stack"? It is a global variable... It is not really specified if there are other resources associated with it (kernel objects), this might depend on the Windows version.

Besides that, a pthread implementation might also cause a leak if pthread_mutex_destroy is not called.

[2018-03-05 12:05] sigiesec commented on #2915
After thinking a bit more about this, also the POSIX solution does not solve the problem, since the initialization order is also undefined within a link unit. Either the global variables must be made static locals (with proper thread-safe initialization equivalent to std::call_once), or explicit global library initialization/shutdown functions must be provided.

[2018-03-05 12:05] bluca commented on #2915
I mean, it's not malloc'ed, so memory associated with it will (should?) not leak - but you are right and there might be other resources, I really don't know how it works, just implemented based on the MSDN API description.

For POSIX, from what I can read it's safe to skip the _destroy when using the static initialiser, as that was the purpose, on BSD (and so on OSX) and Linux.

[2018-03-05 13:10] sigiesec commented on #2915
No, that can't be. Global variables are initialized in an undefined order of compilation units within a link unit. This has nothing to do with what PTHREAD_MUTEX_INITIALIZER actually does.

If you have a.cpp containing
[code]

and b.cpp containing
[code]

the order in which x and y are initialized is undefined (and so the value of y is undefined). It may differ even for different linker runs.

[2018-03-05 13:34] bluca commented on #2915
Sure but this is just a single file - the mutex is not referenced from anywhere else, so why is it a problem?

[2018-03-05 13:43] sigiesec commented on #2915
Ok, I see my example didn't hit the point.

Suppose a.cpp contains
[code]
and b.cpp contains
[code]
The problem is still the same. x may or may not be initialized when get_x is called during initialization of y.

Or, somewhat closer to our stuff with a.cpp:
[code]
and b.cpp
[code]

This might initialize y to 42, but it might also trigger the assertion, depending on the random initialization order

[2018-03-05 13:49] bluca commented on #2915
But in those examples (and in the links you pasted) there are 2 globals, with a dependency. The problem is that there is no ordering enforcement in that dependency. I understand that.

But in this case there is only one global variable - the mutex. Which is called at some point after zmq_ctx_new() is called at some pointer after main() - and main() will always be called after all globals are initi

[2018-03-05 13:51] sigiesec commented on #2915
No, in the issue there is such a global variable depending on another. However, while the equivalent of a.cpp is in libzmq, the equivalent of b.cpp is not part of libzmq, but of the application.

[2018-03-05 13:56] sigiesec commented on #2915
With C++11, this can portably be solved by local thread-safe statics, initialized using std::call_once. local statics have always been initialized on first use, but before C++11, this was not required to be done in a thread-safe manner (gcc supports this for quite some time AFAIK, but MSVC did not support this until VS2012 or so).

So I don't think this can be solved at all portably for pre-C++11

[2018-03-05 14:29] bluca commented on #2915
Sorry but I still don't get it - the context is just a pointer. It will get initialised after main(). How can it race with the global mutex?

[2018-03-05 14:34] sigiesec commented on #2915
Consider b.cpp:
[code]
zmq_ctx_new is called in the ctor of zmqpp::context.

[2018-03-05 15:33] sigiesec commented on #2915
Please have a look at https://github.com/ZMQers/libzmq/compare/837bdf161ca7...8cdfc8b9dd9a

[2018-03-05 15:45] bluca commented on #2915
Ah right - so the problem is introduced by the wrapper also introducing a class into the mix. Got it.

[2018-03-05 15:49] bluca commented on #2915
The diff looks fine, thanks

[2018-03-06 07:43] faisal00813 commented on #1063
The above workaround does work for armv7. But it does now work for arm64.
I have tried following commands...

`./autogen.sh`
`./configure --enable-static --disable-shared --host=aarch64-linux-android --prefix=$OUTPUT_DIR LDFLAGS="-L$OUTPUT_DIR/lib" CPPFLAGS="-fPIC -I$OUTPUT_DIR/include" LIBS="-lgcc" --with-libsodium=no --disable-curve-keygen --enable-drafts=no --enable-libunwind=no`

then edited M

[2018-03-06 08:25] faisal00813 commented on #2894
For any trying to replicate the issue mentioned above do the below changes in android-build-helper.sh in builds directory

These changes have been done for arm64

`ANDROID_BUILD_SYSROOT="${ANDROID_NDK_ROOT}/platforms/android-21/arch-${TOOLCHAIN_ARCH}"`

`function _android_build_opts_process_cxx_stl {
    case "${ANDROID_BUILD_CXXSTL}" in
    stlport_static)
        LIBS+=" -lstlport_static"

[2018-03-06 08:36] somdoron commented on #2941
Yes.

The signaler is only for the draft (thread-safe) sockets.

You also need to make a PR to libzmq that expose the zmq_poller FD (zmq_poller_fd).

[2018-03-06 09:18] #2915 closed

[2018-03-06 11:22] bluca commented on #2894
As you can see in the CI scripts:

https://github.com/zeromq/libzmq/blob/master/builds/android/ci_build.sh

Our toolchain only supports NDK r11 and ABi 4.9. I think in newer versions google moved from GCC to clang, and thus the scripts in builds/android would need to be updated.

Feel free to do so and send a PR with the fixes - but I'm afraid personally I'm not very familiar with Android developm

[2018-03-07 01:21] cuteshell commented on #2968
Thanks, I cann't reproduces the problem now .no memory overflow or double free have been found yet.  I encounter zmq_socket return succcess and zmq_msg_send return nonsock sometimes.  May be it caused by a virus? I will continue to check my own code and the running environment.

[2018-03-07 08:32] hzdx200 opened #2975 "Are there some zmq logs to say "ZMQ_PUSH socket enters the mute state""
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
Version used is 4.0-x
I used ZMQ push-pull peers to communicate; push peer is used in windows, pull peer is used in linux;
peer works ok for 4 hours more or less, suddenly push peer block here: 'zmq_send' message fucntion, (I don't know why and when, it's wired to me now) and also the app cannot be t

[2018-03-07 08:34] hzdx200 commented on #2975
I forgot to say: thanks in advance...

[2018-03-07 09:31] sigiesec commented on #2975
It's hard to say why you cannot terminate your application. This is nothing that libzmq directly controls.

But yes, without setting a send timeout, zmq_send might block forever. Since the problem resolves when you restart the PUSH side only, it could be a bug on that side.

Can you try with a more recent libzmq version (4.2.3 or master) at least on the PUSH side?

[2018-03-07 09:31] bluca commented on #2975
Ctrl c depends entirely on your application, there is no signal handling in libzmq.

To avoid blocking when sending, use the ZMQ_DONTWAIT flag in zmq_msg_send and it will return -1 with errno EAGAIN if it would have blocked. See the zmq_msg_send manage.

[2018-03-07 11:14] hzdx200 commented on #2975
Thanks a  lot for your comments. @sigiesec and @bluca.
I will try to add timeout or ZMQ_DONTWAIT flag firstly, if this still happen, I will try to upgrade the libzmq version.
This issue can be closed and new findings can be shared later in new issue ticket.

[2018-03-07 11:14] #2975 closed

[2018-03-07 14:53] faisal00813 commented on #2894
Yes, Clang is prefered now.

Unfortunately, I am also new to android builds and native binary builds.

Any help from experts will be deeply appreciated.
TIA.

[2018-03-08 12:34] greggwon commented on #1434
The problem with zeromq poll, is that you can't reliably "read all the messages" before "poll", and then poll for an edge triggered event, without some kind of atomic bridge between the two steps.  Why is it that we can't have the returned FD just be "the fd", so that poll(2) just works?   This is an extremely poor choice of implementation and completely violates the "unix" standard for how poll(2

[2018-03-08 15:45] garlick commented on #1434
I think the idea is that you can _either_ use zmq_poll() directly on zeromq sockets and get level-triggered semantics on messages as per usual, _or_ you can use poll(2) on the ZMQ_FD in combination with ZMQ_EVENTS.

ZMQ_FD / ZMQ_EVENTS works reliably with poll(2) if used correctly, though it is tricky.  See above.

ZMQ_FD can't be "the fd" because a zeromq socket can have multiple fd's (to support

[2018-03-08 16:08] garlick commented on #2941
inproc connections at least used to work with ZMQ_FD  / ZMQ_EVENTS - see discussion in #1434.  If that is changing, I will have to do something about it as my application depends heavily on inproc, ipc, and tcp sockets integrated with libev.

Ideally I'd like to support the new socket types too, so thank you for raising this issue @minrk.

[2018-03-08 16:35] minrk commented on #2941
@somdoron thanks for the info! I'll wait to support the draft sockets until there's an API that works for all zmq sockets.

@garlick my comment about inproc was based on my reading of that Issue that there have been problems with inproc + ZMQ_FD, I could be wrong! I don't think the situation has changed, so maybe #1434 was just another misunderstanding of edge-triggered FD behavior and it's only t

[2018-03-08 16:51] garlick commented on #2941
@minrk - thanks for that clarification.  My experience is that inproc works fine with ZMQ_FD at least with libzmq-4.2.2 and earlier.

[2018-03-09 13:46] zavodnyrichard opened #2978 "Cross compiling using MXE fails on CMake - Cannot link to ws2_32 or ws2"
I'm trying to cross-compile my project (currently testing on hwclient.cpp and hwserver.cpp examples) using MXE for Windows platform, unfortunately I have some issues with linking the library using the MXE CMake wrapper (`i686-w64-mingw32.static-cmake ..`), however the plain CMake is good (`cmake ..`). According to [https://github.com/mxe/mxe/issues/2074#issuecomment-371713532](https://github.com/m

[2018-03-09 21:22] kachanovskiy opened #2979 "VS2010 build issue due to incomplete C++11 support"
# Issue description
libzmq does not build with VS2010 due to incomplete C++11 support, here's the error message:
[code]

# Environment
* libzmq - master branch
* OS: Windows
* VS2010

[2018-03-09 21:46] sigiesec commented on #2979
Closed by #2980

[2018-03-09 21:46] #2979 closed

[2018-03-10 18:47] zavodnyrichard commented on #2978
Is it possible to disable the need of this libraries?

[2018-03-12 10:58] bluca commented on #2963
Some fixes in: https://github.com/zeromq/libzmq/pull/2984

[2018-03-12 13:51] wittmeie opened #2985 "CMake import targets do not have the target-property IMPORTED_LOCATION_<CONFIG> set"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
The CMake import-targets, generated by the Windows install rules, do not have the `IMPORTED_LOCATION_<CONFIG>` property set. Hence, it is not possible for a consumer project to install the ZeroMQ DLL as part of their packaging (e.g. via `install(FILES $<TARGET_FILE:${IMPORT_TARGET}> INSTALL_PATH)`)

[2018-03-12 14:00] #2978 closed

[2018-03-12 14:08] sigiesec commented on #2985
Do you know how to achieve that? It would be great if you sent a PR :)

[2018-03-12 15:41] bluca commented on #2985
Fixed by https://github.com/zeromq/libzmq/pull/2986

[2018-03-12 15:41] #2985 closed

[2018-03-13 10:34] bluca commented on #1542
This was fixed a good while ago, which version are you using?

[2018-03-13 15:25] lsarumi commented on #2585
was this ever resolved? I'm seeing the same issue. I've test on 4.0.5, 4.0.8 and 4.2.3. fails on the exact same assert Invalid argument (src/session_base.cpp:665) . That's the error from v4.2.3

I found that the first subscriber to the pgm on the same server works just fine. Additional subscribers are the ones that fail. my test address was "epgm://10.249.40.148;239.0.10.3:32170"

[2018-03-13 15:31] bluca commented on #2585
Don't think so - PRs are welcome, there are a few hints in this thread

[2018-03-13 16:30] wittmeie opened #2989 "CMake: Linker PDB install rule does not work when Visual Studio generators are used"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
1. When using the CMake Visual Studio solution generators, CMake generates multi-configuration projects. Hence, the variable `CMAKE_BUILD_TYPE` is not set and the CMake install rule for the linker PDB (CMakeLists.txt:1123) fails. Even setting the `CMAKE_BUILD_TYPE` variable explicitly does not solve

[2018-03-14 07:27] sigiesec commented on #2989
Just a thought: were it possible to require a CMake 3.1.3 only under Windows/Visual C++, if the commands requiring the new version are contained in an ``if (MSVC)`` block?

[2018-03-14 08:18] bluca commented on #2989
Bear in mind we have users on Windows XP, so only if it is available all the way down

[2018-03-14 08:45] wittmeie commented on #2989
I guess that could work. I could also check whether there is a way to determine the used CMake generator but that would also result in an additional if-statement (if single-configuration generator, else ...). Also not great.
Is there a CI test for Windows XP which could validate whether 3.1.3 is working properly under XP? The installer is available here: https://cmake.org/files/v3.1/

[2018-03-14 16:38] nightlark opened #2991 "New invalid argument error in libzmq, mutex.hpp:142"
# Issue description
One of the unit test suites we have finishes all of the test cases (which involve starting up and shutting down zmq, probably at least 50 times), but then there is an invalid argument error by zmq after boost reports the number of test cases that have passed. The first time observing this issue was on March 9th, but we cache builds of dependencies. The cached version on our dev

[2018-03-14 16:46] bluca commented on #2991
It's fixed in the latest master

[2018-03-15 04:26] jinhz opened #2993 "fd leak use zmq api"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
fd not released call zmq_close( ) with pattern ZMQ_REQ  and ZMQ_DEALER

# Environment

* libzmq version (commit hash if unreleased): ØMQ/4.2.3 and 4.1.6
* OS: Linux 66e6a3224aea 4.4.0-116-generic #140~14.04.1-Ubuntu SMP Fri Feb 16 09:25:20 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

# Minimal test code

[2018-03-15 08:17] sigiesec commented on #2993
One thing to note here is that zmq_close works asynchronously, so the socket is unlikely to be actually closed on return of zmq_close. ZeroMQ uses various fds internally, depending on the polling mechanism configured at build time. Actually, since you did not connect or bind your socket, none of the fds will be a socket used for external communication.

[2018-03-15 09:11] bluca commented on #2993
As Simon said the close is asynchronous - your own test shows that after destroying the context, which is synchronous, everything is fine, so I'll mark this as solved.

[2018-03-15 09:11] #2993 closed

[2018-03-15 12:59] bluca commented on #2991
@nightlark did you have any chance to try the latest master?

[2018-03-15 12:59] bluca commented on #2989
Don't think we have any tests for XP unfortunately, as I'm not aware of any free-for-oss CI that provide XP images.

Is there any way to fix this bug without a new version of CMake? Doesn't matter if it's more verbose, as long as it does the job

[2018-03-15 13:57] wittmeie commented on #2989
No idea yet - but multi-configuration projects are inherently *evil* in my opinion! ;-) Without CMake handling the absolute path of the PDB there is almost no way to do this properly. And I think that was also the reason why generator expressions were added in CMake 3.x.

I was experimenting with explicitly setting the PDB_OUTPUT_DIRECTORY and the PDB_NAME properties but still, VS is adding subfol

[2018-03-15 14:46] bluca commented on #2991
Today's changes won't affect that. Could you try with this commit? https://github.com/zeromq/libzmq/commit/9bd2d3f9374edc0dec11c08dd663a0879b370e20

[2018-03-15 15:08] nightlark commented on #2991
I'm running a build with that commit now. Pretty much what I found yesterday from the merged PR commits is:
2960 - works
2967 - works
2970 - works
-----------------------
2971 - doesn't work
2973 - doesn't work
2974 - works (merge for commit 9bd2d3f)
2976 - doesn't work (merge for reverting 2974)
2956 - doesn't work

[2018-03-15 15:30] sigiesec commented on #2991
@bluca You probably assume that this is related to the mutex in random.cpp, right? Maybe that isn't the case at all. It would be good to have some more information, i.e. the stack traces of all threads when the assertion occurs.

[2018-03-15 15:50] nightlark commented on #2991
Commit 9bd2d3f works. I need to figure out how to get a stack trace out of travis.

[2018-03-15 16:04] sigiesec commented on #2991
Okay, then it probably is related to the destruction order somehow. I had a look at where context_t is used in your code, but did not find something suspicous after giving it a quick look.
I think it will be quite complex to get a stack trace out of travis.

Maybe you can reproduce it locally within gdb?

[2018-03-15 16:47] nightlark commented on #2991
I'll see if I can update my Linux vm and get a stack trace later today or tomorrow.

[2018-03-15 23:58] asddsa1137 commented on #2763
Also experiencing this issue on libzmq 4.2.3 (using C++).
Noticed that then this issue occurs we can see quite a lot of data in tcp socket queue (Recv-Q on SUB side and Send-Q on PUB side in ss output). TCP connections on both sides are in ESTABLISHED state.

[2018-03-16 09:06] sigiesec commented on #2911
@eponsko So maybe you can send a PR with the fix you posted above? Then we can close this issue about the assertion failure. You can open another issue regarding the performance then. Mixing both aspects in this issue is a bit confusing.

[2018-03-16 09:16] sigiesec opened #2996 "Extensive redundancies in Makefile.am"
Makefile.am contains extensive redundancies, which makes them hard to read and maintain. I am not at all familiar with autotools, but I cannot imagine that this is necessary.

One example is the specification of flags and link libraries for the test programs, for example:
[code]

Since these apply to many test programs (in the end, to all test programs), it would be desirable to only specify these

[2018-03-16 09:28] bluca commented on #2996
Recursive automake is a pain in the back, full of bugs, race conditions and various issues, so it's really not something we should do

[2018-03-16 11:47] kachanovskiy opened #2997 "VS2010 build broken"
# Issue description
VS2010 build is broken due to bundled Unity framework:

[code]
troublemaker is the following line in unity.c:
[code]

which is C99+ thing (variable declaration in for init expression), hence cannot be handled properly by VS2010 (which only supports a very limited subset of C99).

This can be solved by:
1) moving declaration outside the for loop, i.e.
[code]
2) telling VS2010 to

[2018-03-16 12:53] eponsko commented on #2911
@sigiesec Sure, will do!

[2018-03-16 15:00] bluca commented on #2996
There are global flags but those affect everything (AM_CPPFLAGS etc), not sure if there are test-specific ones - automake is very verbose and very obnoxious, unfortunately

[2018-03-16 21:56] nightlark commented on #2991
I was able to reproduce it locally within gdb.

Program received signal SIGABRT, Aborted.
0x00002aaaacb9e1f7 in __GI_raise (sig=sig@entry=6) at ../nptl/sysdeps/unix/sysv/linux/raise.c:56

Thread 2 (Thread 0x2aaaad12c700 (LWP 158139)):
[code]

Thread 1 (Thread 0x2aaaaab19940 (LWP 158132)):
[code]

[2018-03-16 22:02] bluca commented on #2991
What's zmqContextManager ?

[2018-03-17 15:57] lytboris opened #3000 "XPUB subscription messages are lost when IPv6 is enabled"
# Issue description
When IPv6 is enabled on XPUB socket, no subscription events (regardless of ZMQ_XPUB_VERBOSE and/or ZMQ_XPUB_VERBOSER being set) can be read from socket. zmq_recv will block forever.

# Environment

* libzmq version (commit hash if unreleased): 4.2.2 and 4.2.3
* OS: FreeBSD

# Minimal test code / Steps to reproduce the issue
https://github.com/lytboris/libzmq/commit/ea2db8961d4a

[2018-03-17 17:20] bluca commented on #3000
That test enables IPv6 only on the PUB socket, not on the SUB. If you do that on the SUB it will then work.
There's a zmq_ctx_set option if you want to enable IPv6 globally.

[2018-03-17 17:20] #3000 closed

[2018-03-17 17:22] lytboris commented on #3000
Indeed, thanks.

[2018-03-19 09:39] sigiesec commented on #2991
Is this cleanup done by a function explicitly registered by atexit? From the stack trace, it appears so (__run_exit_handlers). This cleanup function may only be registered *after* the first zmq context is created, since this triggers a library initialization, and the cleanup must be done in the reverse order.
Unfortunately, this libzmq library init/cleanup cannot be controlled explicitly at the mo

[2018-03-19 10:27] bluca commented on #2991
@sigiesec I think this fix is causing more troubles than the original bug it fixed :-( that's on me, as I started this whole global init/deinit rigamarole.

I think we should stop doing this with libsodium. The API does say it's not thread safe, but nobody ever reported an issue with it in all these years.

The original issue is that with Tweetnacl there was a file descriptor leak: https://github.

[2018-03-19 11:12] sigiesec commented on #2991
@bluca I am not completely sure what you are exactly referring to by "this fix". Do you suggest to revert #2636?

If that's the case, I tend to agree :)

This is still not a clean AND easy-to-use solution would be to provide zmq_global_init and zmq_global_cleanup functions, which must be explicitly called by the application and *by default* initialize/cleanup libsodium, but can be configured (at c

[2018-03-19 11:20] bluca commented on #2991
Not completely reverting - just removing ```if defined (ZMQ_USE_LIBSODIUM)``` so that it applies only to older Linux using Tweetnacl, which should be a minority of use cases or nil.

I really don't like the idea of adding more mandatory APIs - it makes using the library more difficult and convoluted. It's also a backward-incompatible change so we can't do it anyway :-/
Same for static builds, as y

[2018-03-19 11:36] sigiesec commented on #2991
Ok, but you refer to part of the changes from #2636. If you create a PR, I will give it another look to be sure we talk about the same thing.

Hm yes, maybe it could be done in a way that is not mandatory. rabbitmq-c also has a similar problem with its use of openssl, but the solution there is also not completely clean. It allows to optionally explicitly initialize openssl, and in that case, it sk

[2018-03-19 16:25] #2991 closed

[2018-03-19 17:04] bluca opened #3003 "Problem: new socket types (RADIO/DISH/CLIENT/SERVER) are not defined in the ZMTP RFC"
They should be documented together with the older socket types, so that other implementors of ZMTP have a common spec: https://rfc.zeromq.org/spec:37/ZMTP

[2018-03-19 17:25] eponsko opened #3004 "Problem: No message batching in the UDP engine"
Using RADIO/DISH over UDP unicast/multicast results in a fairly low amounts of messages per seconds compared to its TCP counterpart (with about a factor of 10). One reason for this could be the lack of message batching when using UDP.

Current message format on UDP is (in my understanding):

Perhaps it could be modifed to something like this to allow batching?

I'm not sure how batching is handled

[2018-03-19 18:06] bluca commented on #2911
Fixed by https://github.com/zeromq/libzmq/pull/3002

[2018-03-19 18:06] #2911 closed

[2018-03-19 18:22] nightlark commented on #2991
After trying with the changes in #3001, I'm still seeing the same mutex error. Is there a CMake option that can be used to tell it not to use the global random init/deinit? Something that achieves the same effect as overriding the value of ZMQ_HAVE_THREADSAFE_STATIC_LOCAL_INIT might work.

[2018-03-19 18:30] bluca commented on #2991
There is no option and you shouldn't define anything new - are you using libsodium or tweetnacl?

[2018-03-19 19:08] nightlark commented on #2991
The build for the zmq library says it is using tweetnacl, but I don't think we are using any encryption in our code.

[2018-03-19 19:12] bluca commented on #2991
Switch to libsodium - tweetnacl shouldn't be used anywhere but in development

[2018-03-19 19:53] bluca opened #3005 "Problem: no documentation for zmq_timers* APIs"
These new APIs need to be documented before they can be declared as STABLE.

[2018-03-19 19:54] bluca commented on #3005
@somdoron when you have time, it would be great to get manpages for these - then we can mark them as STABLE since they haven't changed in a long time

[2018-03-19 20:29] nightlark commented on #2991
Thanks! libsodium doesn't have the mutex problem -- since we aren't using tweetnacl or libsodium, would ENABLE_CURVE=OFF disable both of them?

[2018-03-19 20:37] bluca commented on #2991
Yes that's correct

[2018-03-20 01:48] chrisjbillington opened #3006 "use of tweetnacl is considerably slower than libsodium"
Tweetnacl seems to result in [considerably slower encryption than libsodium](https://github.com/zeromq/pyzmq/issues/1148) (about a factor of 10 - see linked issue for an example with pyzmq). I've been prodding packagers to try and get libsodium linked as required in packages when used by pyzmq, but for both the pip wheels and [Anaconda package](https://github.com/ContinuumIO/anaconda-issues/issues

[2018-03-20 07:44] sigiesec commented on #3006
This mainly addresses tweetnacl rather than libzmq. Libzmq merely packages tweetnacl. Apart from that, tweetnacl is inherently slower than libsodium. Tweetnacl is small and portable, while libsodium contains many optimizations for different platforms.

I am not sure, but doesn't pyzmq use a dynamic build of libzmq, i.e. a DLL? Then you can exchange the packaged DLL by another built against libsodi

[2018-03-20 07:45] evoskuil commented on #3006
The Visual Studio builds include the option to link libsodium.

[2018-03-20 07:56] bluca commented on #3006
Nobody should use tweetnacl in production. Speed is the last of its problems. It has not been audited, it's never updated. Libsodium on the other hand it's maintained, audited, gets security updates and is highly optimised with hardware acceleration support. Tell the packagers to switch to libsodium ASAP before they end up with a security nightmare on their hands.

I'm beginning to think it was no

[2018-03-20 07:56] #3006 closed

[2018-03-20 10:49] chrisjbillington commented on #3006
I can do whatever I can with my own packages, but my users are going to be installing pyzmq via either conda or pip, and it's not really within my ability to build and maintain binary packages for all platforms to ensure all my users have good crypto. I was not aware that tweetnacl was not considered production worthy (other than the speed thing), and would agree that something not production-wort

[2018-03-20 11:42] bluca commented on #3006
Sorry for the hassle. But as I said we don't have cryptographers working with us so we have to thread extremely carefully around that piece of code.

The production problem is that it's not audited and there's no maintenance support for it, unlike for libsodium, so it's extremely risky to blindly trust its crypto primitives.

If that can help, libzmq and pyzmq are built with GCC on all Linux distr

[2018-03-20 20:02] prutschman opened #3010 "s_recv in zhelpers.h is incompatible with auto-assigned DEALER identities in v3.0 and later"
The C examples in the guide make frequent use of the helper function s_recv (in zhelpers.h) to receive frames. It maps received frames to C strings, and as a result, is incompatible with embedded null characters.

The examples in the guide for router sockets use s_recv to get the dealer identity. These examples also have the dealers explicitly set C-string compatible identities. As a result, the e

[2018-03-20 20:04] prutschman commented on #3010
To the documentation's credit, this is called out in the section "A Minor Note on Strings." It would be worth including the caveat that the library itself will generate identities inconsistent with the assumption stated there.

[2018-03-20 20:09] bluca commented on #3010
The guide's repository is not here, it's at this link: https://github.com/booksbyus/zguide
Please open an issue, or even better a PR with a fix, on that repository

[2018-03-20 20:09] #3010 closed

[2018-03-20 20:16] prutschman commented on #3010
Sorry about that. Re-filed at https://github.com/booksbyus/zguide/issues/733

[2018-03-20 23:43] bluca commented on #3006
That sounds quite complicated -  I would suggest to just focus on getting that Windows binary rebuilt with libsodium. It's supported and it works out of the box - not sure why that Windows package system doesn't use it. Drop them and find an alternative maybe?

[2018-03-21 16:03] aytekinar opened #3012 "Source install does not pass any tests"
### Environment

I am using Arch Linux with the following:

[code]

### Steps to reproduce

I run the following set of commands on my `fish` shell to install `v4.2.3` from source:

[code]

The last command returns with error. I have attached the corresponding [cmake.log](https://github.com/zeromq/libzmq/files/1834084/cmake.log), [build.log](https://github.com/zeromq/libzmq/files/1834083/build.log)

[2018-03-21 16:53] bluca commented on #3012
Don't use ninja - nobody supports it. Just use make.

[2018-03-21 17:02] aytekinar commented on #3012
FYI, dropping the `-G Ninja` results in the same. I think the problem is on the line below:

https://github.com/zeromq/libzmq/blob/7fb3bdd59a506d3c6dc8de45aeb64dc37b8c9b95/CMakeLists.txt#L301

When I change my compiler with `env CC=/usr/bin/clang CXX=/usr/bin/clang++ cmake ...` and compile with LLVM, that switch is ignored by LLVM and everything proceeds as normal. Then, when I disable `LIBZMQ_WER

[2018-03-21 17:08] sigiesec commented on #3012
I think -errwarn is an option of the Sun compiler, probably this check is supposed to fail with gcc.
But apparently it doesn't with your gcc version (7.3.0), which is very recent, and probably not widely used yet.

[2018-03-21 17:11] aytekinar commented on #3012
I see. I think it passes this option directly to `ld`, which creates other problems, I assume, by checking the build log. For now, I will disable WERROR, then?

[2018-03-21 17:12] sigiesec commented on #3012
Can you try to change this to
[code]

If it works, please send a PR with the change :)

[2018-03-21 19:37] #3012 closed

[2018-03-21 21:53] #2854 closed

[2018-03-22 16:53] sanshaw1 opened #3017 "Not able to execute ZMQ_TCP_KEEPALIVE for my application."
I have an application that uses ZMQ Pub-Sub Model. I have an algorithm in my sub side that if the socket remains idle for 40 seconds it should disconnect and reconnect again. Now, I want to remove this algorithm. Instead i want to use TCP KeepAlive Packets so that my socket does not remain idle and thus my sub does not disconnect and connect frequently.
Please find my code below:

zmq_socket_t soc

[2018-03-23 04:36] sanshaw1 commented on #3017
i have added TCP_KeepALIVE code and TCP_keepAlive_IDLE  code. My problem is that publisher is not sending TCP packets to the SUB so what is happening is the socket is remaining idle, Once the socket remains idle for around 40s, sub thinks that something is blocking and tries to disconnect and reconnect itself. what i want is to send TCP keepalive packets to the sub from the pub. How can i achieve

[2018-03-23 08:13] bluca commented on #3017
The default on Linux is very long, are you sure setting the options is not making things nworse?
Try to set them on the client as well.
There are also heartbeat options - it's the same as keepalives but at the ZMQ protocol layer so it's platform independent

[2018-03-24 07:39] akzi commented on #2068
the filter work at sub socket,or at the pub socket.if sub don't call `ZMQ_SUBSCRIBE` to subscribe any thing ,msg will send to pub tcp layer socket ?

[2018-03-24 08:49] bluca commented on #2068
At the pub socket

[2018-03-24 10:28] bluca commented on #2957
@maony any update?

[2018-03-24 10:29] bluca commented on #2968
@cuteshell any update?

[2018-03-24 10:31] bluca commented on #2880
Closing as it does not appear there are problems left

[2018-03-24 10:31] #2880 closed

[2018-03-24 10:32] bluca commented on #2877
@sergey-shilov have you managed to set up curve or kerberos for auth and encryption?

[2018-03-24 10:35] bluca commented on #2871
@9ee1 have you managed to clarify all doubts? Here's the docs for the HWM options:
https://github.com/zeromq/libzmq/blob/master/doc/zmq_getsockopt.txt#L540
https://github.com/zeromq/libzmq/blob/master/doc/zmq_setsockopt.txt#L624

[2018-03-24 10:36] bluca commented on #2849
No updates and problem seemed unrelated to libzmq, closing

[2018-03-24 10:36] #2849 closed

[2018-03-24 10:38] bluca commented on #2835
Closing since with the new release the performance appears on par

[2018-03-24 10:38] #2835 closed

[2018-03-24 10:41] bluca commented on #2831
Closing since the problem was identified as the lack of SNDMORE flag

[2018-03-24 10:41] #2831 closed

[2018-03-24 10:48] bluca commented on #2780
No updates, closing

[2018-03-24 10:48] #2780 closed

[2018-03-24 10:50] bluca commented on #2687
Haven't seen this failure in a long time, so I'll close this for now

[2018-03-24 10:50] #2687 closed

[2018-03-24 10:51] bluca commented on #2653
@sigiesec I think you implemented this, right?

[2018-03-24 10:52] bluca commented on #2617
@lacombar any update?

[2018-03-24 10:53] bluca commented on #2604
@mpaffolter did you manage to run that test?

[2018-03-24 11:02] bluca commented on #2598
No answer, closing

[2018-03-24 11:02] #2598 closed

[2018-03-24 11:05] bluca commented on #2563
We've got other PRs are reports that mingw is working fine, so closing

[2018-03-24 11:05] #2563 closed

[2018-03-24 11:06] bluca commented on #2505
Fixed by https://github.com/zeromq/libzmq/pull/2527

[2018-03-24 11:06] #2505 closed

[2018-03-24 11:07] bluca commented on #2402
Closing since the problem was the extra close()

[2018-03-24 11:07] #2402 closed

[2018-03-24 11:08] bluca commented on #2366
No reply so assuming those links had enough information available, closing

[2018-03-24 11:08] #2366 closed

[2018-03-24 11:10] bluca commented on #2309
ZMQ_HAVE_WINDOWS_UWP was added, so closing this issue

[2018-03-24 11:10] #2309 closed

[2018-03-24 11:11] bluca commented on #2291
No further update in a year, assuming fixed when moving from 4.1.x to 4.2.x, closing

[2018-03-24 11:11] #2291 closed

[2018-03-24 11:14] bluca commented on #2269
No further updates, assuming the information provided was enough, closing for housekeeping

[2018-03-24 11:14] #2269 closed

[2018-03-24 11:14] bluca commented on #2232
No answer in 2 years, closing for housekeeping

[2018-03-24 11:14] #2232 closed

[2018-03-24 11:15] bluca commented on #2194
mingw has been reported to be working in other PRs, so closing

[2018-03-24 11:15] #2194 closed

[2018-03-24 11:16] bluca commented on #2185
We don't do RCs anymore, so I'll close this

[2018-03-24 11:16] #2185 closed

[2018-03-24 11:33] bluca commented on #2154
The public header is used also in C, not only C++, and changing it now could have unintended consequences. Closing.

[2018-03-24 11:33] #2154 closed

[2018-03-24 11:33] bluca commented on #2153
No follow-up in more than a year, closing.

[2018-03-24 11:33] #2153 closed

[2018-03-24 11:41] #2080 closed

[2018-03-24 11:43] bluca commented on #2005
Tests are working on Windows with CMake as per the Appveyor CI results, so closing

[2018-03-24 11:43] #2005 closed

[2018-03-24 11:45] bluca commented on #1904
Fixed by https://github.com/zeromq/libzmq/pull/2183

[2018-03-24 11:45] #1904 closed

[2018-03-24 11:47] bluca commented on #1890
ZMQ_DONTWAIT as Simon said will help, and also using the protocol's heartbeat option will help for the other problem by automatically dropping queues of disconnected peers, without having to do it at the application level. Hence closing.

[2018-03-24 11:47] #1890 closed

[2018-03-24 11:48] bluca commented on #1876
This was solved a while ago with the introduction of the build time draft switch.

[2018-03-24 11:48] #1876 closed

[2018-03-24 11:48] bluca commented on #1850
The problem is solved in 4.2, so we can close this issue.

[2018-03-24 11:48] #1850 closed

[2018-03-24 11:54] bluca commented on #1644
Fixed by #1643

[2018-03-24 11:54] #1644 closed

[2018-03-24 11:55] bluca commented on #1627
No repro found, closing

[2018-03-24 11:55] #1627 closed

[2018-03-24 12:00] bluca commented on #1329
No answer, closing, open again if necessary

[2018-03-24 12:00] #1329 closed

[2018-03-24 12:05] bluca commented on #806
We don't provide Windows binaries directly anymore (other projects like Conda do it instead), so closing this issue.

[2018-03-24 12:05] #806 closed

[2018-03-24 20:15] elfring commented on #2154
How do you think about to avoid that this software [depends on undefined behaviour](https://www.securecoding.cert.org/confluence/display/c/CC.+Undefined+Behavior#CC.UndefinedBehavior-ub_106 "Avoiding undefined behaviour?")?

[2018-03-26 10:01] rhkarls commented on #1808
I had this problem (Win 10), but it was solved by uninstalling Nexus Access Client - if that is of any use to anyone else

[2018-03-26 10:38] sigiesec commented on #2154
@bluca I can't relate your comment to the issue. Identifiers starting with _ are also reserved in C: https://wiki.sei.cmu.edu/confluence/display/c/DCL37-C.+Do+not+declare+or+define+a+reserved+identifier

I also don't see how changing this could have unintended consequences. Libzmq uses other macros starting with ZMQ_, so it should also be possible to use a header guard starting with ZMQ_, which re

[2018-03-26 10:57] bluca commented on #2154
Consider a spaghetti project (I've seen things...) that due to recursive inclusion ends up with multiple versions of libzmq in the preprocessor path - right now it works as we have been ABI and API compatible for years. Changing the include guards means they will suddenly start failing to build.

It's not worth the risk, as I'm pretty sure the ISO committee(s) are not going to add __ZMQ keywords o

[2018-03-26 12:01] sigiesec commented on #2154
I agree that this is probably not a high priority with respect to the direct consequences I can imagine.

However, the point is not that the __ZMQ* identifier will be assigned a specific meaning in the C or C++ standard (this is indeed very unlikely), but that it is reserved for use by a compiler implementation. I cannot really imagine that some other consequence except for a broken build results

[2018-03-26 12:52] aytekinar opened #3021 "Version mismatch in shared library"
### Issue description

There seems to be a version mismatch when building shared libraries using `cmake`.

### Environment

I am using

[code]

and I build using `cmake` and the github repository as follows:

[code]

### Expected Output

I would expect to have `libzmq.so.4.2.5` instead of `libzmq.so.5.1.5`. Am I missing something?

[2018-03-26 12:54] bluca commented on #3021
The shared library file is named after the ABI version, not the library version. They are different and serve different purposes.

[2018-03-26 12:54] #3021 closed

[2018-03-26 14:02] sigiesec opened #3022 "zmq_poller_wait_all corner case"
# Issue description

Inconsistent handling of zmq_poller_wait_all corner case. With n_events == 0, it should be allowed to pass NULL as events, since events may not be dereferenced anyway.

# Environment

* libzmq version (commit hash if unreleased):  #4.2.3
* OS: any

# Minimal test code / Steps to reproduce the issue

[code]

# What's the actual result? (include assertion message & call stack if

[2018-03-26 14:27] bluca commented on #3022
Not sure, sorry, haven't really used this API yet - @somdoron what do you think?

[2018-03-26 14:42] minrk opened #3023 "Problem: releases do not include files required for cmake"
# Issue description

libzmq releases do not include files required to build with cmake.

# Environment

* libzmq version (commit hash if unreleased): c8a1c4542d13b6492949e7525f4fe8da266cac2b

# Minimal test code / Steps to reproduce the issue

[code]

# What's the actual result?

[code]

# What's the expected result?

Start building zeromq

# Proposed fix:

To protect against these issues, the tes

[2018-03-27 14:13] minrk opened #3025 "Cannot build unittests with VC9 due to stdint.h"
# Issue description

The new unity unittests cannot be built with VC9 on Windows

The tests build and run successfully on VC9 with zeromq-4.2.3.

# Environment

* libzmq version (commit hash if unreleased): 4.2.5
* OS: windows, VC9 (for Python 2.7)

Builds and tests succeed with unmodified 4.2.3.

# Minimal test code / Steps to reproduce the issue

[code]

# What's the actual result? (include asse

[2018-03-27 16:35] bluca commented on #3025
@sigiesec could you please have a look when you have a moment? Thanks!

[2018-03-27 16:36] #3023 closed

[2018-03-27 16:41] sigiesec commented on #3025
Try changing
[code]
to
[code]
in the tests/CMakeLists.txt.

[2018-03-27 17:14] sigiesec commented on #3025
@minrk If it works, could you send a PR that sets this as described if building with VS2008? Probably, it would also be good to add a appveyor VS2008 build job to the libzmq appveyor.xml, so such problems get caught before a release.

[2018-03-27 20:46] 9ee1 commented on #2871
@bluca Yes, my doubts have been clarified. Thanks to everyone that has provided feedback. I think though the docs can be updated to clarify the end-to-end behavior. Can I open a pull request to edit the docs at the links you provided?

[2018-03-27 20:50] bluca commented on #2871
sure

[2018-03-27 21:18] dirkdokter opened #3026 "Build.bat script incorrect for Visual Studio 2017 Enterprise"
# Issue description
When building using build.bat in the VS2017 Enterprise Dev Command Prompt, the build script fails, due to an incorrectly determined value of VSVER.

C:\ROOT_PATH\libzmq\builds\msvc\build>build.bat
*** ERROR, build tools not found: Microsoft Visual Studio **ri.0**\VC\vcvarsall.bat`

Variables in build.bat script:
`%VSINSTALLDIR%  = C:\Program Files (x86)\Microsoft Visual Studio\

[2018-03-27 21:58] bluca commented on #3026
Could you send a or to fix it?

[2018-03-27 22:26] dirkdokter commented on #3026
Sure! Will be next week though.

[2018-03-28 07:57] sigiesec opened #3028 "Failure in 4.2.5 when zmq_poller_destroy is called after zmq_ctx_term"
# Issue description

When you have a poller, which  is terminated because the zmq context was terminated, you still need to destroy it with zmq_poller_destroy. This causes an assertion.

IIRC, this worked fine in 4.2.3

# Environment

* libzmq version (commit hash if unreleased): 4.2.5
* OS: Windows 7 64-bit

# Minimal test code / Steps to reproduce the issue

See test case in https://github.com/s

[2018-03-28 10:27] #3028 closed

[2018-03-28 12:19] sigiesec opened #3030 "Add cygwin CI jobs on Appveyor"
Currently, there are no cygwin CI jobs on Appveyor, but it should be supported. To ensure that support does not break unnoticed, CI jobs should be added.

[2018-03-28 12:19] sigiesec opened #3031 "Add mingw CI jobs on Appveyor"
Currently, there are no mingw CI jobs on Appveyor, but it should be supported. To ensure that support does not break unnoticed, CI jobs should be added.

[2018-03-28 13:43] bluca commented on #3030
Would be nice indeed, is it possible at all on Appveyor to use different toolchains than visual studio?

[2018-03-28 13:45] sigiesec commented on #3030
Yes, they have both cygwin and mingw installed by default.

[2018-03-28 13:46] bluca commented on #3030
Ah great, I had no idea

[2018-03-28 13:51] sigiesec commented on #3030
Here is example where builds are run using cygwin and mingw:
https://github.com/libyal/libbde/blob/master/appveyor.yml

[2018-03-28 13:52] sigiesec commented on #3030
In the best case, it suffices to start the ci_build.sh used on travis in a cygwin/mingw bash. But probably there are some caveats ;)

[2018-03-28 14:35] SylvainCorlay opened #3033 "Windows import library installed in wrong location as of `4.2.5`"
`libzmq.lib` gets installed under `PREFIX/bin` instead of `PREFIX/lib` as of libzmq 4.2.5, while the behavior was still correct in 4.2.3.

As a consequence, libzmq is broken on windows for any package that needs to link with it.

(when building with gtest).

[2018-03-28 14:36] SylvainCorlay commented on #3033
cc @minrk @JohanMabille

[2018-03-28 15:08] #3033 closed

[2018-03-29 08:10] StevePER opened #3034 "Problem: Unable to bind UDP to wildcard port"
# Issue description

With TCP it's possible to bind to any available port by specifying a port of 0 or *. I would like the ability to do the same with UDP.

It seems trivial to add this capability to udp_address_t::resolve using the same logic as tcp_address_t::resolve, as follows:

    //  Allow 0 specifically, to detect invalid port error in atoi if not
    uint16_t port;
    if (port_str == "*"

[2018-03-30 09:57] xudonglei commented on #1144
you have solved  the problem? @nexcvon

[2018-03-30 10:00] xudonglei commented on #1708
You have solved the problem @bjovke

[2018-04-01 17:17] newliteral opened #3035 "Problem: join() method limitations"
# Issue description
I'm using newest radio/dish sockets. The join() method accepts group name until 15 characters. Will the restriction be saved in the future? Thanks.

# Environment

* libzmq version (commit hash if unreleased): 4.2.3 with drafts
* OS: Lubuntu 17.10

# Minimal test code / Steps to reproduce the issue

[code]

[2018-04-02 03:34] James-Castles commented on #2830
@santupari
Hi santupari , I meet the same problem as you ,so can you share with me your solutions?
thank you

[2018-04-02 20:42] msune opened #3036 "tweetnacl.c: broken compilation -pedantic and C++ comments (gcc-4.92)"
# Issue description

Compilation with gcc/g++-4.9 configured as follows:

`marc@Beluga:~/personal/msune/libzmq2/build$ ../configure --disable-drafts --enable-debug --disable-silent-rules `

Is broken due to `tweetnacl.c` having C++-like comments:

[code]

# Environment

* libzmq version `2aa54d662048f420ac0dbd5d9b46559963a675f2`
* OS:  Debian8

# Minimal test code / Steps to reproduce the issue

1

[2018-04-02 20:43] msune commented on #3036
Suggested to disable (all) warnings on that (external?) file via `pragma`

[2018-04-02 20:49] bluca commented on #3036
I'll fix that, but since you are on Debian libzmq is already there - if you want newer versions you can add the repository:

https://software.opensuse.org/download.html?project=network%3Amessaging%3Azeromq%3Agit-stable&package=libzmq3-dev

[2018-04-02 20:50] msune commented on #3036
Just wanted to rise this.

I was just wanting to compile sources with `no-drafts` and `enable-debug` for #2742. I will fix comments for the moment.

[2018-04-02 22:01] bluca commented on #3035
Don't think so as it's part of the protocol - in what use case would more be needed?

[2018-04-03 00:28] newliteral commented on #3035
I'm using zmq for events multicasting on the HTML5 SSE connections. For my opinion, minimal group length must be about 24 bytes for storing UUID with small prefix. Increasing valid length is a technical problem?

[2018-04-03 07:32] #3036 closed

[2018-04-03 10:13] bluca commented on #3035
The way this was implemented is such that the group is part of the message metadata, rather than being a different frame. That's because with RADIO/DISH there is (intentionally) no support for metadata.

This limits the size to 16 bytes, as that's how much can be crammed in the available space: https://github.com/zeromq/libzmq/blob/master/src/msg.hpp#L180

This is very unlikely to change for that

[2018-04-03 14:27] newliteral commented on #3035
Well. Please, document this.
Standard PUB/SUB socket has no required functions for me. Thanks.

[2018-04-03 14:42] bluca opened #3038 "Problem: RADIO/DISH APis missing documentation"
APIs like zmq_join do not have manpages. They should be documented before the API can be declared stable.

[2018-04-03 14:43] bluca commented on #3035
Yes it should definitely be documented - most of the DRAFT APIs are missing documentation, as they are still under development. I opened https://github.com/zeromq/libzmq/issues/3038 to track this.

Not sure what you mean by that? What's missing?

[2018-04-03 19:00] newliteral commented on #3035
I need multicasting in "many-to-many" mode, where each server process is a both consumer and a producer. Losses are acceptable.
In case TCP PUB/SUB, it's possible with [proxy](http://zguide.zeromq.org/page%3aall#The-Dynamic-Discovery-Problem) or bus topology, but it is complex, thread-unsafe and potencially blocking if the consumer's network buffer is overflowed. And for performance reasons it is

[2018-04-03 19:04] bluca commented on #3035
Not sure sorry, this is a question for @somdoron

[2018-04-03 20:45] santupari commented on #2830
@James-Castles
In our design we are setting the identity of the worker (service provider) socket and then make a connection with broker. On the broker side, there is one router socket accepting connections from these workers (ZMQ internally creates pipe-pair for every connection).
If there are more than one worker which uses the same socket identity, when these workers disconnect broker closes onl

[2018-04-03 23:48] Atrosha commented on #2859
I have this issue with pkg-config already installed on Ubuntu 16.04.

I'd tried to add PKG_CONFIG_PATH dirs

Command **echo $(pkg-config --variable pc_path pkg-config)${PKG_CONFIG_PATH:+:}${PKG_CONFIG_PATH}** result
`/usr/local/lib/x86_64-linux-gnu/pkgconfig:/usr/local/lib/pkgconfig:/usr/local/share/pkgconfig:/usr/lib/x86_64-linux-gnu/pkgconfig:/usr/lib/pkgconfig:/usr/share/pkgconfig:/usr/local/li

[2018-04-04 03:32] James-Castles commented on #2830
@santupari  Thanks for your reply .

[2018-04-04 03:32] James-Castles commented on #2830
@santupari  Thanks for your reply .

[2018-04-04 09:48] bluca commented on #2989
Fixed by https://github.com/zeromq/libzmq/pull/3040

[2018-04-04 09:48] #2989 closed

[2018-04-06 14:09] haf commented on #1573
This reproduces the crash pretty well:

[code]

Crashes directly.

However, there's only one concurrent access to the socket, even though any thread of the thread pool can perform the access.

[2018-04-06 14:15] bluca commented on #1573
As the documentation says, you cannot use sockets from multiple threads

[2018-04-06 14:30] haf commented on #1573
@bluca Well, I'm not. Not at the same time. Does ZMQ keep track of thread ids?

[2018-04-06 14:32] bluca commented on #1573
The documentation doesn't say sockets cannot be used from multiple threads as long as it's not at the same time - it says sockets cannot be used from multiple threads, period

[2018-04-06 14:33] haf commented on #1573
Does ZMQ keep track of thread ids?

[2018-04-06 20:10] vit1251 commented on #1573
Let's I little clear my 3 years ago question ;)
Python have thread steal mechanism when you start more than one Python thread.
Python create OS thread pool and thread select idle Python thread and do it.
When Python lock on operation Python thread may switch to another Python thread and switch again and again.
I think that Python should implement some bind mechanism for thread like it in golang de

[2018-04-06 21:53] bluca commented on #1573
It doesn't "know" what's in another thread, data structures used in communications between the application thread and the I/O thread are not thread safe by design, hence the warning in the documentation

If you want thread-safe sockets, build with DRAFT (with all that entails, including API breakages with no warning) and use the new thread-safe socket types

[2018-04-07 08:03] haf commented on #1573
@bluca Thanks for your continuous support/interaction trying to help us understand. Much appreciated.

I understand threads fairly well and when this phrase is used it's normally used about data structures that are mutated, e.g. this is not thread safe in any way of the phrase:

[code]

But this is safe, even though dictionary is *not thread safe*:

[code]

The latter will cause the access to the

[2018-04-07 11:35] bluca commented on #1573
The data structure used is a lockfree single-writer single-reader queue, you can find the implementation in the repository if you want to know all the details, but what's important for the users is only that each socket _must_ be used from a single thread only

[2018-04-10 04:17] Mayi-Keiji commented on #2830
@santupari  Hi santupari, I meet the same problems as you , here is my usage of REP and REQ ,please help to check whether it is right or not .
1) I create a server using zsock_new_rep("inproc://server")
2) Create 3 client using zsock_new_req("inproc://server") ,and the client is always run.
3) Sometimes I will create temporary client using zsock_new_req("inproc://server") and then close it using
z

[2018-04-10 13:39] mrvn commented on #2822
Also keep in mind that send messages on sockets linger. The socket won't be freed until the linger timeout has passed.

The default is 30s and your loop will clearly open more than 1000 sockets in 30s. So I would call this expected behaviour.

Things to test:
1) set LINGER timeout to 0
2) add a usleep() or yield() to give the IO processes time to clean up
3) when zmq_socket fails do sleep(1) and r

[2018-04-10 13:51] mrvn commented on #2759
Note that for PAIR I read the docs as you must only connect one socket at a time. You are trying to connect multiple and then strange things happen.

Somewhere in the middle it was said to also deadlock with just one sender? Is that still the case? Or does it now only deadlock when doing something PAIR was not designed for?

If the later then maybe changing the docs to say MUST instead of CAN woul

[2018-04-10 14:40] mpaffolter commented on #2604
@bluca Sorry, no.

[2018-04-10 15:25] bluca commented on #2604
Ok, will consider it solved and close then. Reopen if you find issues again.

[2018-04-10 15:25] #2604 closed

[2018-04-10 23:39] 9ee1 commented on #2871
@bluca, I added a Pull Request with the proposed documentation additions. I will close this ticket and welcome any comments on the pull request itself. Thanks!

[2018-04-10 23:39] #2871 closed

[2018-04-11 06:57] gdamore commented on #1808
Legacy nanomsg had this problem too.  Martin's use of assertions to catch otherwise reasonable conditions is a mistake.  For nanomsg I've simply removed the assertion -- "unsignaling" either works, or it doesn't.  ECONNRESET (10054) is harmless in this case.

Now, its also the case that a) dynamic port allocation is far superior (I did this in NNG, and there are ways to ensure that it doesn't inte

[2018-04-11 12:58] WallStProg commented on #2759
Nope.

If you want to comment on this issue, then please read and run the code: https://github.com/WallStProg/zmqtests.git

[2018-04-11 21:00] mingwandroid commented on #3006
@bluca, for the record, the history here is that `zeromq` has been in a very state (unusable due to race conditions) on Windows since at least last September when I first tried to use it with `pyzmq` and for that reason I was forced to not use it with, and not using it means not using libsodium, obviously.

It's only now that 4.2.4 has been released that it works again thanks to the [efforts](http

[2018-04-12 01:51] James-Castles opened #3042 "Build Error for ZMQ 4.2.5"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
@bluca
When build ZMQ 4.2.5, I meet some errors ,

# Environment

* libzmq version (4.2.5):
* OS:
linux
# Minimal test code / Steps to reproduce the issue

1.  When build it using command  :

./configure --host=arm-brcm-linux-gnueabi --prefix=$LO_SDK_TOP_DIR       \
                LIBS=-L$LO_SDK_LIB

[2018-04-12 04:29] bdangit commented on #1462
I recently was not able to pass this specific test within `test_filter_ipc`: https://github.com/zeromq/libzmq/blob/master/tests/test_filter_ipc.cpp#L144

In order to get it to pass, I had to make sure that my user was actually in another group.  `gpasswd -a someuser anothergroup`.  ref: https://github.com/habitat-sh/core-plans/blob/master/zeromq/plan.sh#L22-L25

[2018-04-12 05:57] nayabbashasayed opened #3043 "App crashed with abort signal"
Hi again,

I am using radio / dish communication between multiple devices. I see that app is crashing at least once in a few hours with the abort signal from ZeroMQ library. I couldn't find the exact reason for that crash though I have the following debug information regarding this.

#0  0xb6bb4424 in __GI_raise (sig=sig@entry=6) at libpthread/nptl/sysdeps/unix/sysv/linux/raise.c:67
#1  0xb6bae7f0

[2018-04-12 07:08] bluca commented on #3042
What are the compiler, libc and libstdc++ versions?

[2018-04-12 07:15] bluca commented on #1462
It's probably not a good idea to build things as root... Perhaps the the test could skip if you'd is 0?

[2018-04-12 07:17] bluca commented on #3043
This suggests that the application is corrupting the stack, try running it in valgrind, it should spot these problems

Without at least a full decoded backtrace it's impossible to see what's happening

[2018-04-13 01:37] James-Castles commented on #3042
Hi bluca， Version information as below:
libc-2.5.so
libc.so.6
libform.so.5.6
libmenu.so.5
libnsl.so.1
libnss_hesiod.so.2
libpanel.so.5.6
libSegFault.so
libstdc++.so.6.0.9

Thank you

[2018-04-14 14:41] nishsharma001 commented on #2319
Guys,
           This is requirement that we were looking for in our application as well. Has this been addressed in any form ?
Please guide.

[2018-04-14 15:12] bluca commented on #2319
It has not - pull requests are welcome

[2018-04-16 06:40] acsearle opened #3046 "Aborts when iOS abuses EBADF to report a socket has been reclaimed"
# Issue description

ZeroMQ intermittently calls abort() on iOS.

iOS abuses EBADF to report that a socket can no longer be used because its resources have been reclaimed while the app was in the background.  Apple documents this behaviour here:

https://developer.apple.com/library/content/technotes/tn2277/_index.html#//apple_ref/doc/uid/DTS40010841-CH1-SUBSECTION3

ZeroMQ asserts on the errno val

[2018-04-16 08:31] sigiesec commented on #3046
There is no libzmq version 4.3.2, you probably meant 4.2.3?

[2018-04-16 08:43] acsearle commented on #3046
Sorry, corrected.

[2018-04-17 13:01] bluca commented on #3017
Any update?

[2018-04-17 13:02] bluca commented on #2968
No updates, closing. Reopen if the issue returns.

[2018-04-17 13:02] #2968 closed

[2018-04-17 13:03] bluca commented on #2957
No updates, closing. Reopen if the issue persists.

[2018-04-17 13:03] #2957 closed

[2018-04-17 13:45] bluca commented on #2961
Might or might not be relevant/interesting/related: https://tools.ietf.org/html/rfc8305

[2018-04-18 08:53] Jack-Ji opened #3048 "inproc ZMQ_CLIENT/ZMQ_SERVER communication is halted"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
I've been trying to prototype using ZMQ_CLIENT/ZMQ_SERVER sockets.
The server thread's ZMQ_SERVER socket binds to endpoint inproc://temp,
and 2 client threads' ZMQ_CLIENT sockets connect to the endpoint. Server
and client thread send messages to each other, after a while threads are halted.
Funny thi

[2018-04-18 09:59] bluca commented on #3048
http://api.zeromq.org/4-2:zmq-msg-send

That will deallocate the message, possibly before there was time to send it

[2018-04-18 10:06] Jack-Ji commented on #3048
Thanks for the note, I've removed unnecessary zmq_msg_close() and re-run the test, threads are halted still.

[2018-04-20 07:54] laplaceyang commented on #3048
I just test your code within master version and v4.2.5 of ZeroMQ, but I cannot replay your problem.
I use CentOS 6.5, and I'm not sure if it's the OS that affect perform of program.

[2018-04-20 08:12] Jack-Ji commented on #3048
BTW, version of my kernel is 4.15.0-2-amd64. In case that's helpful for anyone.

[2018-04-20 17:56] korbes opened #3050 "ZMQ_SERVER and ZMQ_CLIENT and draft situation"
# Issue description

I'm trying to use ZMQ_SERVER/ZMQ_CLIENT sockets, but they are only available if libzmq is compiled with draft API. However, they are not documented as draft API (like the RADIO/DISH are in http://api.zeromq.org/4-2:zmq-socket) and neither are the routing_id functions (http://api.zeromq.org/4-2:zmq-msg-set-routing-id and http://api.zeromq.org/4-2:zmq-msg-routing-id)

# What's t

[2018-04-23 05:58] JehuShaw opened #3051 "Occasional exceptions to closing the program"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
Occasional exceptions to closing the program.

Exception Time: 24:23:56 (2018-4-20)
Error code: 0
mem:85096 vmem:36660 read:8799 write:89038 cpu:1
Process ID=9512, Thread ID=8276
Exception code: 40000015 {致命的应用程序退出}
%hs
Fault address:  75A3C54F 01:0000B54F
File: C:\Windows\syswow64\KERNELBASE.dll
EAX

[2018-04-23 06:49] sigiesec commented on #3051
Please include at least the exact assertion message, including the libzmq source file name and line number.

Can you also try the latest libzmq version 4.2.5 and see if the problem persists? There have been several fixes to the Windows specific code since 4.1.5

[2018-04-23 10:33] kybu opened #3052 "What is the official way to build zeromq on Windows?"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description

I am trying to compile 4.2.5 on Windows 10. I already tried VS2017 and VS2010 using solution files in
the `build/` directory. I also tried VS2010 using cmake. I can get the zeromq dll compiled in the release mode, but it crashes either during tests run by ctest or when using in my project.

Is there

[2018-04-23 12:28] kybu commented on #3052
It seems like this is an issue of the FD_SETSIZE value being quite big and the stack size limit on Windows. I think that the cmake build needs to be modified to set the stack size for test binaries in order for them to pass. That also suggests, that tests are not being run on Windows when doing a zeromq release.

[2018-04-23 12:38] bluca commented on #3052
https://github.com/zeromq/libzmq/blob/master/INSTALL#L49

[2018-04-23 12:43] kybu commented on #3052
Thanks. However, that does not change the fact, that ctest fails to run tests. That has to be taken care of in cmake scripts.

[2018-04-23 12:45] bluca commented on #3052
I'm not familiar with the Windows build, can you send a PR to fix it?

[2018-04-23 13:15] kybu commented on #3052
Sure, I can.

Do you know, whether there is any CI process before making an oficial zeromq release? Is there any Windows build being tested?

[2018-04-23 13:29] bluca commented on #3052
we have appveyor builds:

https://ci.appveyor.com/project/zeromq/libzmq
https://github.com/zeromq/libzmq/blob/master/appveyor.yml

[2018-04-23 17:14] bluca commented on #3050
Yes they are draft - I'll fix the doc

[2018-04-23 17:17] #3050 closed

[2018-04-25 02:12] yangguanglu opened #3054 "windows version crashed"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
when run some time ,my program crashed .It seems like just happen on windows, Mac and linux are both ok.

# Environment

* libzmq version (commit hash if unreleased):
* OS:
4.2.1 and master
# Minimal test code / Steps to reproduce the issue

1.

# What's the actual result? (include assertion message

[2018-04-25 07:27] bluca commented on #3054
Please provide code to reproduce the issue

[2018-04-25 08:27] phuong17889 commented on #2075
same problem with osx 10.13.3 and AMPPS using php 5.6 :(

[2018-04-25 16:59] dimovnike commented on #216
I am experiencing the same issue in PHP, with libzmq 4.2.3. Is there a fix or a workaround for this problem?

[2018-04-25 17:04] dimovnike commented on #216
Also its worth mentioning that i tested with HWM=10 and 100, while sending hundred of messages per second. The result is the same.

[2018-04-25 19:32] dimovnike commented on #216
turns out, messages are stored in TCP buffers. That's why only small messages show this behavior.

[2018-04-26 02:31] yangguanglu commented on #3054
sorry I cannot find where it is.but I think the memory is alway increase.the call stack is this:

mvsd.exe!_invoke_watson(const wchar_t * expression, const wchar_t * function_name, const wchar_t * file_name, unsigned int line_number, unsigned __int64 reserved) 行 204 C++
  mvsd.exe!_invalid_parameter(const wchar_t * const expression, const wchar_t * const function_name, const wchar_t * const file_n

[2018-04-26 02:47] laplaceyang commented on #3054
Are you use two-way communication mode of zmq socket, but only recv never send / (only send never recv)?

For example:
1. use router but only send never recv or only recv never send.
2. use delear or other two-way communication mode and the usage is same as 1

I once used zmq socket described as example, and the memory always increased. And I solved it by solution descibed here [isuess2747](https:

[2018-04-26 14:15] dennisklein opened #3056 "CMake build broken from dist tarball"
# Issue description

When invoking the cmake build from the dist tarballs attached to each release, it will abort, because files are missing in the dist tarball, but are present in the git repo.

# Environment

* libzmq version (commit hash if unreleased): 4.2.5
* OS: MacOS and Linux

# Minimal test code / Steps to reproduce the issue

[code]

# What's the actual result? (include assertion message

[2018-04-26 14:32] bluca commented on #3056
This has been already fixed in master

[2018-04-26 14:32] #3056 closed

[2018-04-26 15:01] will133 opened #3057 "Out-of-order message and slow performance when closing and reconnecting socket"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
I have posted this on pyzmq but it may be an issue in the library itself (https://github.com/zeromq/pyzmq/issues/1171).  Essentially I have an application where it would do a connect, send a message, close.  It then can potentially reconnect, send another message, and close the socket.  I've experien

[2018-04-26 15:11] bluca commented on #3057
zmq_close is asynchronous.

You cannot expect ordering between different connections - it just doesn't make sense. Use the same socket if you require ordering between messages, or implement reordering in your application using monotonically increasing sequence number.
If you don't want to drop messages, set linger to unlimited.

[2018-04-26 16:52] will133 commented on #3057
I think I'm ok with the async order (it's unexpected but I'll accept that).  I think this is a question of the close() call.  Can you tell me though what actually would happen when you call close()?  Since the connect/send/close calls are all async, is it possible to have the close() happen before the connection is established so the send can be lost?

[2018-04-26 17:07] bluca commented on #3057
Yes, depending on the linger value - to test it, simply connect to a non-existing endpoint and close the socket.
If you don't want that, you can set the linger to unlimited.

[2018-04-26 22:33] bluca commented on #3057
In general though, constantly creating and destroying sockets is an anti-pattern - it's configuration code paths, so performance will be terrible, and they are generally async operations.
What you want is long lived threads and sockets - see the actor pattern in CZMQ https://github.com/zeromq/czmq#zactor---simple-actor-framework

[2018-04-27 11:33] lxffff1990 commented on #3054
I think I found the problem. I found that there are some macros about assert in err.hpp in the libzmq library, include a lot of fprintf (stderr...
When I call fprintf in main function like this:
     for (int i = 0; i < 5; i++)
     {
         std::thread([]() {
             while(1)
                 fprintf(stderr, "connect error, %d/r/n", WSAGetLastError());
         }).detach();
     }

Dump oc

[2018-04-27 15:26] yangguanglu commented on #3054
@laplaceyang thank you for your solution.can you answer the one upstairs~

[2018-04-27 18:08] dvstans opened #3059 "Assertion in Curve with Custom ZAP Handler and Client-Side Binds"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description

I get a ZeroMQ assertion on connections when I configure a client process (the side that connects, not binds) as a curve server with a custom ZAP handler. (This configuration is backwards from the examples I've looked at - in that usually the curve server is the side the binds, and the client connec

[2018-04-27 18:13] bluca commented on #3059
There have been a few changes in ZAP in the latest version, can you try again?
You can find pre-built packages for Ubuntu here: https://software.opensuse.org/download.html?project=network%3Amessaging%3Azeromq%3Agit-stable&package=libzmq3-dev

[2018-04-27 18:50] dvstans commented on #3059
The latest build fixed this - thanks! Now that my code is working, I see that the client continues to try to connect even after getting denied with a 400 code. That's not really a problem, but is there a way to reduce the rate that the client retries (looks like about every 250 ms currently)?

[2018-04-27 18:52] bluca commented on #3059
See ZMQ_RECONNECT_IVL http://api.zeromq.org/4-2:zmq-setsockopt

[2018-04-27 18:52] #3059 closed

[2018-04-27 19:46] tomlankhorst commented on #3056
As a quick fix, I downloaded [clang-format-check.sh.in](https://github.com/zeromq/libzmq/raw/v4.2.5/builds/cmake/clang-format-check.sh.in
) to `builds/cmake`

[2018-04-27 22:30] zpincus opened #3060 "REQ sockets terminate TCP connection after first heartbeat if ZMQ_HEARTBEAT_IVL is set."
# Issue description
I have verified that the ZMTP 3.1 heartbeat protocol works great with PUB/SUB sockets. However, when I tried to turn it on for a REQ/REP pair, I encountered immediate failures on the REQ-socket side.

Looking at traffic with wireshark shows that after the first cycle of PING/PONG packets, the REQ socket sends a TCP FIN, and then silently fails to send any further data or attemp

[2018-04-28 02:27] lxffff1990 commented on #3054
@sigiesec I debugged the source code, crashed in the recv_failable():379 line, the source code is:
<img width="335" alt="image" src="https://user-images.githubusercontent.com/19180081/39390861-a1fd3560-4acd-11e8-94fb-478d5404c763.png">
it is the MACRO wsa_assert
<img width="397" alt="image" src="https://user-images.githubusercontent.com/19180081/39390881-dcf273d8-4acd-11e8-98a0-b3dc95c40a96.png">

[2018-04-28 11:52] bluca opened #3061 "Problem: ZMTP 3.1 ping/pong context not implemented"
ZMTP 3.1 adds PING/PONG commands as heartbeat options that libzmq implements. The PING commands can add a context following the TTL (an arbitrary payload) which the PONG is supposed to echo back, but libzmq does not implement this.

https://rfc.zeromq.org/spec:37/ZMTP

[2018-04-28 11:53] bluca commented on #3060
Thanks for the report, the issue is in the REQ socket session handling, I'll send a PR shortly.

[2018-04-28 11:59] bluca opened #3062 "Problem: ZMTP 3.1 SUBSCRIBE command not supported"
ZMTP 3.1 defines a new SUBSCRIBE command that XSUB/SUB can send to XPUB/PUB to subscribe to topics, as opposed as sending a payload message. libzmq does not implement this yet.

https://rfc.zeromq.org/spec:37/ZMTP/

[2018-04-28 15:41] #3060 closed

[2018-04-30 13:09] simias opened #3069 "Loose validation in address parsing code"
# Issue description

The current TCP address parsing code (as currently implemented in `tcp_address.cpp`) is not very strict and will silently accept bogus address formats, sometimes with weird results that might be tricky to debug. In particular it allows ambiguous `IPv6:port` specifications and it does not validate that the port is actually valid.

# Environment

* libzmq version (commit hash if

[2018-04-30 13:17] bluca commented on #3069
You figured out the problem yourself - so the first change you propose cannot be done, as avoiding regressions in existing, working applications is more important than guarding against silly mistakes.

Feel free to send a PR to fix the second one.

[2018-04-30 16:04] antonymayi opened #3071 "TIPC multicast not working on same host"
# Issue description
TIPC multicast should work within the same host (they have a demo in the tipcutils which proves it) but doesn't seem to be working (or there is no way to enable it) with zeromq PUB/SUB (it works fine over the net but not locally between two processes).

# Environment

* libzmq version (commit hash if unreleased): 4.2.5
* OS: Ubnutu 17.10 - kernel 4.13

# Minimal test code / Ste

[2018-04-30 16:12] bluca commented on #3071
@eponsko any idea what could be the issue?

[2018-04-30 17:07] talkhasib opened #3072 "Assertion failed: false (../zeromq-4.2.3/src/pipe.cpp:431)"
I connected a DEALER socket of a client to a PUB port on the server by mistake.
When I tried to terminate the connection, The process crashed

Assertion failed: false (../zeromq-4.2.3/src/pipe.cpp:431)
#0  0xb59ff610 in /usr/lib/libzmq.so.5 (?+0x0)
#1  0xb5a0f4b4 in /usr/lib/libzmq.so.5 (?+0x0)
#2  0xb5a20410 in /usr/lib/libzmq.so.5 (?+0x0)

How would you handle such a situation without causing yo

[2018-04-30 17:13] bluca commented on #3072
You don't - it's a programming error

[2018-04-30 17:25] will133 commented on #3057
I don't usually disconnect/reconnect the socket like my test case.  I was debugging why a message would get dropped upon one reconnect call.  The sequence is really:

[code]

For some very difficult to reproduce case either send_multipart() message would get dropped occasionally.  This is even if I set the linger for the socket to be 5000 (5 seconds), which I figured would be enough time to send b

[2018-04-30 17:27] talkhasib commented on #3072
In my case, the URL of the server is passed to the process on a different socket.
So, its more of a config error than a programming error.

How would you gracefully exit such a state or not enter it in the first place?

[2018-04-30 17:30] bluca commented on #3057
Multiparts messages are atomic - either all parts are sent or none is.
I don't understand why you set a limited linger and a random sleep, rather than simply setting the linger to -1 given it seems you don't want to drop.

[2018-04-30 17:31] will133 commented on #3057
The problem is the server that I'm connecting to can be down, so setting a linger of -1 would be hanging the process forever.

[2018-04-30 17:37] bluca commented on #3072
Again, you don't - fix the config and the logic handling it so that wrong data is not used

[2018-04-30 17:38] bluca commented on #3057
Then change your application protocol to send a receipt message back instead of relying on random sleeps

[2018-04-30 17:49] sigiesec commented on #3072
Hm, that doesn't sound to be a viable solution to me, since the cause is not constrained to the local process.

Instead of a misconfiguration, imagine a peer that does not implement the ZMTP protocol correctly. This shouldn't crash the other peer in any case.

[2018-05-02 09:52] lxffff1990 commented on #3054
@sigiesec Hello, I found another problem, in my program,I set stdout stdin,stderr encoding like:
#ifdef _MSC_VER
    if (_setmode(_fileno(file), _O_U8TEXT) == -1)
        throw std::runtime_error("Could not set STDIO to utf8 mode.");
#endif
Then it may be gbk by default in libzmq .
The different iostream encoding in different libraries may cause this problem.
Actually, I don't want other libraries

[2018-05-02 10:12] laplaceyang opened #3073 "Problem: Why call msg->init() after msg->close()"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description

In [xsub.cpp#117](https://github.com/zeromq/libzmq/blob/master/src/xsub.cpp#L117), after send msg to endpoint of pub. Why should we call msg->init() after msg->close() called at line 115
[code]

In the same file of [xsub.cpp#247](https://github.com/zeromq/libzmq/blob/master/src/xsub.cpp#L247), we ju

[2018-05-02 10:45] bluca commented on #3073
init() will reset the data structures - in the first case, the message is owned by the application, so in principle they could access it - in the second one by the library so there's no need to do that as it will go out of scope

[2018-05-02 10:45] #3073 closed

[2018-05-02 11:32] sigiesec commented on #3054
@lxffff1990
Please do not post screenshots of the code, copy the code or even better link to the code line in the repository such as
https://github.com/zeromq/libzmq/blob/4726f7262d076ed0b20111cfcdc0df6b33cf7c82/src/signaler.cpp#L379

In normal operation, libzmq will not write to stderr. As I wrote before, it will only do so if it encounters an internal error and calls abort immediately afterwards

[2018-05-02 17:30] bluca commented on #2961
@msune thanks to a PR just merged the name resolution has been refactored into its own module, and is now covered by unittests, so if you want to tackle this challenge there's now a solid base to start on

[2018-05-02 22:55] mmortal03 commented on #1808
I wonder if using NetWorx's WFP driver can also cause this, or if it's just NetWorx's TDI driver. I'm pretty sure I was using the WFP driver, and I was still experiencing this issue.

You can check the file properties of networx.sys in C:\Windows\System32\drivers, and the details tab will tell you whether you are using the TDI or WFP driver.

[2018-05-03 03:05] yangguanglu commented on #3054
@sigiesec I agree, thank you!

[2018-05-03 03:05] #3054 closed

[2018-05-03 09:14] msune opened #3076 "Problem: zmq_poll returns EBADFD with NULL FDs/ZMQ sockets (zmq_poller backend)"
# Issue description

In previous releases `zmq_poll` was ignoring `zmq_pollitem_t` entries  `fd == -1` and `sock== NULL`. This was consistent with the `poll`/`epoll` behaviour:

[code]

and is something desirable for `zmq_poller` (and `zmq_poller`) IMHO.

With the introduction of `zmq_poller()` as the default backend implementation of `zmq_poll() (`HAVE_ZMQ_POLLER` not configurable(?))`, this is b

[2018-05-03 09:17] bluca commented on #3076
IMHO zmq_poll's implementation should stay separate from zpoller. There are also performance concerns I think.

[2018-05-03 09:27] msune commented on #3076
I am almost sure it wasn't, but let me compile a fresh copy from master HEAD

[2018-05-03 09:35] msune commented on #3076
Humm... I am confused.

A simple `./configure` seems to enable drafts by default (?), although there is no `--disable-drafts` rather only `--enable-drafts`:

[code]

Anyhow, with this configure, the default backend is `zmq_poller()`:

[code]

[code]

[2018-05-03 09:41] msune commented on #3076
Using `--disable-drafts` works (as expected) and doesn't use `zmq_poller()`. So:

1. `zmq_poller()` behaves differently than `zmq_poll()` for NULL/-1 items
1. Cosmetics in `configure.ac` help string

I am not sure it's a good idea to have drafts enabled by default in `configure`.

[2018-05-03 10:14] bluca commented on #3076
It's only enabled by default in git repositories - the request to change it that way came from developers, you can find it in the old PRs/issues.
It's not enabled by default with release tarballs.

[2018-05-03 13:40] bluca commented on #2212
I would suggest to do the same as the other multicast transport do w.r.t. default binding, so that there are the least surprises

[2018-05-03 13:59] msune commented on #3076
@bluca understood. Renamed issue to better reflect the problem.

[2018-05-03 13:59] simias commented on #2212
Agreed, I need to figure out what PGM does.

[2018-05-03 20:17] bluca commented on #3076
@somdoron I would like to move back zmq_poll to use its own implementation - I am of course happy to maintain it.
Besides this issue, which might be solvable in other ways, and other potential behaviour changes, I have concerns w.r.t. performances, given the zmq_poller_poll implementation always mallocs once per call, while zmq_poll doesn't (unless it polls on more than 16 sockets - quite uncommon

[2018-05-03 21:32] bluca commented on #2212
Let's keep them in sync for now - it's still in draft stage so we can eventually change if there are complaints

[2018-05-04 07:08] sigiesec commented on #3076
@bluca Do you also intend to undeprecate zmq_poll? I thought it is intended to be superseded by zmq_poller_*

[2018-05-04 07:34] bluca commented on #3076
Not necessarily - but until it's there, I think it should have its own implementation

[2018-05-04 09:02] sigiesec commented on #3076
Ok, this actually simplifies things, since currently there are implementations of zmq_poll with and without zqm_poller, so there is no additional maintenance effort at all

[2018-05-04 10:49] eponsko commented on #3071
Hm I think you've ran into a kernel bug, there was a race-condition that occurred if the the latency between the two TIPC sockets was too low (should be fixed in kernel 4.16). What happens in kernels 4.8 -> 4.15 is that  the internal handling in the TIPC module does not set the underlying TIPC socket to readable (or maybe it was writeable) in case the TIPC handshake is too quick. There's two ways

[2018-05-04 11:55] bluca commented on #3071
The delayed handshake is not nice - so IMHO if it's confirmed and it has been fixed we can simply document it.
We could also ask that the fix gets backported to the 4.9 and 4.14 LTS branches.

[2018-05-04 12:27] bluca commented on #3071
great, thanks!

[2018-05-04 12:30] eponsko commented on #3071
There's also ongoing efforts to change the TIPC address structure, from the current hierarchical Z.C.N format to a flat 128-bit value (IIRC). I think it will be backwards compatible but that's another issue that might come up here soon.

[2018-05-05 21:15] shadoweye14 opened #3079 "libzmq.lib(tcp_address.obj) : error LNK2019: unresolved external symbol"
# Issue description
Attempting to compile libzmq source on windows results in multiple linking errors regardless of the configuration used. I added a the `libzmq/include` directory as a additional include directory for the project.

# Environment

* libzmq version (commit hash if unreleased): current master (https://github.com/zeromq/libzmq/commit/363fa7892d43fe6e78339f7d7c5a0460167d3f6b)
* OS: Wi

[2018-05-05 22:25] antonymayi commented on #3071
tried with 4.16 kernel, works great, thanks!

[2018-05-05 22:26] #3071 closed

[2018-05-06 09:50] sigiesec commented on #3079
Unfortunately, there is no CI for the checked in sln files, so they tend to break. The cmake build is fine. Could you use that?

[2018-05-06 17:37] antonymayi opened #3080 "TIPC M:N Pub/Sub multicast not working"
# Issue description
TIPC transport is capable of multicasting so one would expect this allows to operate pub-sub topology in M:N configuration. I am able to get 1:N pub-sub working but when adding more publishers, only messages from the first one are received.

I must admin it is not entirely clean to me how the TIPC service address/range should be used in this case (even after reading http://tipc

[2018-05-07 04:50] antonymayi commented on #3080
btw. tried also with a 4 node cluster making all of the publishers (2) and subscribers (2) truly network-distributed but with a similar result (only one publisher working).

[2018-05-07 13:08] yuntinghill commented on #3079
add tcp_address.hpp and tcp_address.cpp into sloution can slove this problem.

[2018-05-07 14:44] andyshi2008 opened #3082 "Using standard pgm or OpenPGM?"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
Now I'm using zmq4.2.5 + OpenPGM5.2.122 on Windows platform(Visual Studio 2010). When sending rapid and large datas(50,000 packs per second), sometime the application crashed, the debug infomation is openpgm lib vector out of range. I'm using miru's built openpgm lib, cannot get more info.

 Is there

[2018-05-07 20:31] eponsko commented on #3080
Hi,
I think in this case what you should actually get is load balancing between the two subscribers (on the phone so can't verify). What should happen is that the two publishers bind to the same service and the subscribers almost randomly chooses one of them (with preference for one the same machine).
You could verify this by separating the subscribing socket to it's own script.

What also should

[2018-05-07 22:08] antonymayi commented on #3080
Hi Pontus,

thanks for your help (again). You are right explaining the loadbalancing - when decoupling the subscribers into separate process I can demonstrate the publisher failover as you described it.

This all goes well along the TIPC documented features per the http://tipc.sourceforge.net/messaging.html which describes this scenario as:

(there is slight difference in their and my scenario as

[2018-05-08 02:43] andyshi2008 commented on #3082
must use openpgm. issue closed.

[2018-05-08 02:43] #3082 closed

[2018-05-08 09:48] jorikcaljouw commented on #3079
Both files are in the solution in the libzmq project when I open it from Visual Studio. I saw from [this blog](https://blogs.mathworks.com/simulink/2018/05/01/communicating-with-an-external-application-for-co-simulation), that it was possible to build libzmq with VS2015 earlier this year, so I checked out commit: 8e8009ec5d55b11945fe2a8c12c1a3bdf12c4686 and I was able to build with that, so someth

[2018-05-08 09:57] bluca commented on #3079
There are new files:

src/ip_resolver.cpp
src/ip_resolver.hpp

Perhaps those are missing?

[2018-05-08 10:39] jorikcaljouw commented on #3079
Yes, that was it. After adding them in the solution I can now build correctly. I have only tested it with VS 2015, so I will only change that solution. But I would expect the same diff to work for other versions.

[2018-05-08 10:44] sigiesec commented on #3079
@bluca I think we either
* need CI for these checked-in solution files (for *all* supported VS versions),
* declare them explicitly as unsupported but still accept PRs fixing them, or
* declare them explicitly as unsupported, stop fixing them, and remove them in a timely manner.
I strongly urge to pursue the latter option.

I don't think it is justified to have this, it poses a significant mainten

[2018-05-08 10:49] bluca commented on #3079
@jorikcaljouw could you please send a PR?

@sigiesec I have no opinion on these solutions - can't recall why they were added in the first place.

[2018-05-08 11:29] sigiesec commented on #3079
@bluca The checked-in solution files predate the CMake build. The former were in 2009 added with https://github.com/zeromq/libzmq/commit/f895426c1885729f4a4a20b1eb543a92915aed85, the latter in 2012 with https://github.com/zeromq/libzmq/commit/58f7c2179f2db84a87b734d6262ed3bbae342346.

[2018-05-08 11:45] jorikcaljouw commented on #3079
I have a branch on my forked repo, but am having some issues with (I guess) line endings. I only changed the vcxproj file, but in the diff it shows many more diffs: https://github.com/zeromq/libzmq/compare/master...jorikcaljouw:fix_vs2015_solution. As a result I haven't created the PR yet.

If CMake is newer and recommended, maybe it's better to remove the msvc solutions all together instead of th

[2018-05-08 11:49] bluca commented on #3079
Just do a ```git add -p path/to/solution``` instead of add -A or commit -a

[2018-05-08 12:15] shadoweye14 commented on #3079
This issue occurred in VS 2017 Edition I think. Also I do feel the issues were with
src/ip_resolver.cpp
src/ip_resolver.hpp
Thanks!

[2018-05-08 12:17] #3079 closed

[2018-05-08 19:14] bluca commented on #3071
That commit has also been backported to the 4.14 LTS. 4.9 LTS is not affected.

[2018-05-08 21:30] antonymayi commented on #3080
Very comprehensive, thanks.

I'll go through the TIPC Programmer's Guide to understand the different modes better but what looks to me after quick read-through as the perfect match for ZeroMQ Pub-Sub is this Datagram Messaging. The fact it has no connections/flow control just goes along with the philosophy of _scalability over reliability_ which is what the ZeroMQ Pub-Sub is afaik based on.

So if

[2018-05-09 08:06] #3080 closed

[2018-05-09 08:57] eponsko commented on #3080
Yeah it would be quite nice.. I'll try to allocate some time for that. However, if that's the pattern you are looking for, you could consider the UDP multicast in ZeroMQ which should be able to do it right now.

Cheers

[2018-05-09 09:03] eponsko commented on #3061
What's the purpose of echoing the TTL back? One thing I thought could be neat is to use it to provide an estimate of the latency between the peers, to use as a weight in or alternative to the RR behavior.

[2018-05-09 09:16] bluca commented on #3061
It's not the TTL that's echoed back, it's an arbitrary content. I'm working on that, but I'll probably change the RFC to limit it - at the moment there's no size limit which might open it to abuse.

[2018-05-09 12:57] bluca commented on #2891
Fixed by https://github.com/zeromq/libzmq/pull/3075 and https://github.com/zeromq/libzmq/pull/3081

[2018-05-09 12:57] #2891 closed

[2018-05-10 05:10] stephenprocter commented on #2759
I think @benjamg and @mrvn are right here, in that this is fundamentally a documentation issue. The offending line

is clearly misleading; a few sentences prior the this, the first line under the heading _Exclusive pair pattern_ says (my emphasis):

The intention behind PAIR is to support the very common use case of two threads which need to communicate with each other; I think the naming of the p

[2018-05-10 14:38] WallStProg commented on #2759
What you are basically saying, at least from my perspective, is this:

That doesn't sound so good, certainly not from the point of view of someone trying to build reliable systems.

So, if was just a matter of misleading docs, that would be one thing, but to go back to something I said (much) earlier:

To build reliable systems with ZeroMQ developers need to know what works and what doesn't, and t

[2018-05-11 09:50] sigiesec opened #3088 "zmq_poller_add/zmq_poller_modify should reject invalid events arguments"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description

zmq_poller_add/zmq_poller_modify should reject invalid events arguments, rather than accepting them silently.

# Environment

* libzmq version (commit hash if unreleased): 4.2.5
* OS: any

# Minimal test code / Steps to reproduce the issue

[code]

# What's the actual result? (include assertion mess

[2018-05-12 21:55] bluca opened #3090 "Problem: compilation broken with Solaris Studio"
[code]

@sigiesec https://github.com/zeromq/libzmq/pull/2796 and https://github.com/zeromq/libzmq/pull/2799 causes a regression on Solaris 10/11, reported in https://github.com/zeromq/pyzmq/issues/1157 any idea how to fix the above?
SunCC only supports C++97

[2018-05-13 00:43] bluca commented on #3090
The first one, the map one, can be solved by just creating an std::string from the char * - but I have no idea about the other 2

[2018-05-13 07:36] stephenprocter commented on #2759
Not exactly - I'm saying that using the library as intended (i.e. only connecting a pair socket to precisely one other peer) should always work; using it in ways which were not intended, YMMV.

It is easy to write a program which deadlocks using, for example, your favourite pthreads library. That doesn't mean that your favourite pthreads library is buggy.

Exactly.

Ideally yes, but there is alway

[2018-05-13 09:02] sigiesec commented on #3090
@bluca I maybe have an idea how to fix this. Provided a fix in 129b86a
@jurajlutter Can you apply that fix and try compiling again?

[2018-05-13 11:17] bluca commented on #3090
@sigiesec unfortunately it still fails:

[code]

[2018-05-13 11:33] sigiesec commented on #3090
Ah, I think I made it the wrong way, const needs to be added on the key type, not removed. insert seems to expect a std::pair<const K, V> here.

[2018-05-13 11:38] sigiesec commented on #3090
Try https://github.com/sigiesec/libzmq/commit/831ed20cb60646970e35b5a0f7e9c6e39ece26ad (resp. https://github.com/sigiesec/libzmq/tree/fix-solaris-make-pair)

[2018-05-13 11:55] bluca commented on #3090
That fixes the multimap errors, great!

It's also necessary to explicit make std::strings from char arrays:

[code]

And finally there's some weird linking issue that I'm inspecting now:

[code]

[2018-05-13 12:04] bluca commented on #3090
Ah that last one was due to declarations missing "const" that were in the definitions of a couple of function.
This compiler is sure picky about its "const"...

[code]

[2018-05-13 12:11] bluca commented on #3090
@sigiesec what do you think of the std::string conversions? Are those appropriate?

[2018-05-13 12:14] sigiesec commented on #3090
Yes, the std::string conversions are fine IMO

[2018-05-13 12:18] sigiesec commented on #3090
Regarding the const behaviour, it is picky as in buggy ;) The C++ standard explicitly states that parameter declarations with or without const are equivalent (section 13.1).

[2018-05-13 13:05] #3090 closed

[2018-05-13 14:55] bluca commented on #3090
For the next time around, the Sun compilers can be dowloaded for Linux from http://www.oracle.com/technetwork/server-storage/developerstudio/downloads/developer-studio-12-6-tarfile-3778508.html

it's enough to untar the archive and then use configure CC=/tmp/OracleDeveloperStudio12.6-linux-x86-bin/developerstudio12.6/bin/cc CXX=/tmp/OracleDeveloperStudio12.6-linux-x86-bin/developerstudio12.6/bin/C

[2018-05-14 08:38] sigiesec opened #3098 "Build output is hardly readable when doing a parallel make"
This should be solvable using --output-sync when I understand https://www.gnu.org/software/make/manual/html_node/Parallel-Output.html correctly.

[2018-05-14 08:40] jimklimov commented on #3090
Would it make sense to add a Travis job doing just that? Or the download
would need an Oracle login to be passed (perhaps Travis credentials can
take care of that too, like for publish)?

On Sun, May 13, 2018 at 4:55 PM, Luca Boccassi <notifications@github.com>
wrote:

[2018-05-14 08:44] bluca commented on #3090
Yes it needs a valid login - one could be created for the purpose, although we'd need to make sure it's not a breach of whatever EULA Oracle makes you agree with...

But it's still not working fully - I think there are issues using it on Linux with glibc, as it's failing due to problems in the standard library headers, and the linker is totally failing to link with the c++ standard library as well

[2018-05-14 08:51] bluca commented on #3090
Of course if you can make it work please send a pr!

[2018-05-14 08:55] #3061 closed

[2018-05-14 09:51] sigiesec opened #3099 "Coveralls no longer reporting coverage in PRs"
Some administrator should check if these settings are up-to-date: http://docs.coveralls.io/coveralls-notifications

[2018-05-14 09:56] bluca commented on #3099
the notifications were disabled - I've turned them back on, let's see

[2018-05-14 09:57] sigiesec commented on #3099
Thanks :)

[2018-05-14 10:02] sigiesec commented on #3099
Appears to work :) https://github.com/zeromq/libzmq/pull/3096 just got a comment and status check :)

[2018-05-14 10:02] #3099 closed

[2018-05-14 10:03] bluca commented on #3099
Great! Do we want both status and comments?
The comments are quite spammy so IMHO we could do just with status

[2018-05-14 10:10] #2188 closed

[2018-05-14 13:41] sigiesec commented on #3098
This requires GNU make >= 4, but Ubuntu 14.04 still has the ancient make 3.81. Ubuntu 16.04 will have make 4.1, however. Yay.

[2018-05-14 13:44] bluca commented on #3098
should be easy to check the version and conditionally use the option in the travis script, if you want to give it a try

[2018-05-14 13:49] sigiesec commented on #3098
Yes that should be easy, but there seem to be no packages for make 4.1 for Ubuntu 14.04, so it would need to be built from scratch.

[2018-05-14 13:50] sigiesec commented on #3098
Hope that travis-ci/travis-ci#5821 will be resolved soon...

[2018-05-14 14:26] #3088 closed

[2018-05-14 15:26] WallStProg commented on #2759
At the risk of beating a dead horse ...

- To make things clearer, I've added a `-rate` parameter to the tests that controls how often the send thread runs.  (Up till now, the send thread always ran flat-out).

    On my test machine, the pairs disconnect/(re-)connect test *appears* to work reliably (`threads/pairs -threads 1 -msgs 1000  -quiet -rate 1000`) (i.e., with a 1ms delay between connecti

[2018-05-14 16:16] simias opened #3102 "UDP engine `out_event` aborts when `sendto` fails"
# Issue description

The current implementation of udp_engine triggers an assert when `sendto` fails. This makes it hard to recover from the error.

https://github.com/zeromq/libzmq/blob/6092431b974713d35895dfaf42a18ac55e14f0e0/src/udp_engine.cpp#L392-L403

I'm not sure what's the proper way to address this issue given that `out_event` returns `void`.

# Environment

* libzmq version (commit hash

[2018-05-14 16:42] bluca commented on #3102
I think this is the same as https://github.com/zeromq/libzmq/issues/2862 and yes it should get fixed

[2018-05-14 16:48] #3102 closed

[2018-05-14 16:51] simias commented on #2862
I'd like to look into that but I'm not sure how to report the error to the caller given that the out_event method returns `void`. I tried to look at the TCP implementation to figure out how it's handled there but the code seems so wildly different that I couldn't really figure out if anything was applicable for UDP.

What's the correct way of dealing with this error? I think returning an error in

[2018-05-14 16:54] bluca commented on #2862
With TCP, on recoverable/temporary errors the I/O thread engine simply tries again later. Can the UDP engine do that too?

[2018-05-14 17:04] simias commented on #2862
I'd have to look into that. In the case of UDP I wonder if it makes a lot of sense though, given the best effort nature of the protocol (especially in multicast). After all even if the kernel manages to send the packet you never have any guarantee that it'll ever reach its destination.

What happens if the messages pile up with TCP, I assume eventually they're simply dropped?

In my case the error

[2018-05-14 17:07] bluca commented on #2862
With TCP I think the messages will fill the queue, and what happens depends on the HWM settings at that point

[2018-05-14 17:12] simias commented on #2862
Now that I think about it even the calls to bind() and other syscalls in `zmq::udp_engine_t::plug` ought to report an error somehow instead of aborting. They seem less likely to fail "spuriously" but still.

[2018-05-14 17:13] bluca commented on #2862
The way to report status on the handshake and related statuses is via socket monitor events, if they happen in the I/O thread

[2018-05-14 17:19] simias commented on #2862
Ah yeah that would work, do you think it could be used to handle UDP send errors as well or is inappropriate?

[2018-05-14 17:26] mxcoppell opened #3104 "Random ZMQ 4.2.3 crash in libzmq.dll!zmq::mailbox_t::recv(...)"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description

The crash happened randomly and can't be reproduced. But our client keeps reporting it.

We use Pub-Sub model for 2-way async communication between the client/server. Spent quite some time checking the application code checking possible socket handle race conditions but didn't notice any.

# Environ

[2018-05-14 17:27] bluca commented on #3104
Are you using a socket from multiple threads?

[2018-05-14 17:27] bluca commented on #3104
or messages

[2018-05-14 17:54] mxcoppell commented on #3104
@bluca Thanks! We are in the process of reviewing the implementation. Will report back soon.

[2018-05-14 19:31] antonymayi commented on #3080
My understanding is UDP works only with the new RADIO/DISH sockets from the Drafts API which is not stable/released yet (ie in Python these sockets don't work with eventloops (#2941) which is, unfortunately, a blocker for my use case).

[2018-05-14 19:35] sigiesec commented on #2759
@WallStProg First of all, thank you very much for your efforts in bringing this forward. I also think it is important to do something about this in order not to compromise confidence in using libzmq.

I agree.

With respect to changing the documentation, yes of course, but this is essentially an incompatible change. Existing client code that is legal with the current specification might become ill

[2018-05-14 20:14] sigiesec opened #3105 "Harmonize handling of wildcard ports in TCP and UDP addresses"
See https://github.com/zeromq/libzmq/commit/3ca2d95bf7740d227ca56250fedf9a0f919d4f43#r28835860

[2018-05-14 20:16] sigiesec commented on #3099
I don't have a strong opinion on that. I think you disabled comments in the meantime, right? Fine with me :)

[2018-05-14 20:20] WallStProg commented on #2759
@sigiesec -- thanks for listening!

Really all I've been looking for here is some answers, and I'm delighted that it sounds like you're going to take a look at this.  Please let me know if there's anything I can do to help.

May I suggest that this particular trail of breadcrumbs is a bit "un-tidy" at this point, and it might be best to open a new issue to explore the disconnect/(re-)connect quest

[2018-05-14 20:22] sigiesec opened #3106 "Improve documentation on ZMQ_SNDHWM and ZMQ_RCVHWM"
The current documentation on ZMQ_SNDHWM and ZMQ_RCVHWM deserves improvement. There has been a PR (#3041) that started work on this, which could be used as a basis.

[2018-05-14 20:29] bluca commented on #3099
Yeah, if someone asks for it we can enable it later, in the meanwhile we can keep the notifications level down

[2018-05-14 20:29] sigiesec commented on #2822
Closing this, assuming the issue has been resolved and the behaviour is correct.

@MVJMBoeren Please reopen with additional information if you still have issues.

[2018-05-14 20:29] #2822 closed

[2018-05-15 00:42] korbes commented on #3042
I have the same problem with the compiler arm-bcm2708-linux-gnueabi, from the raspberry pi tools: https://github.com/raspberrypi/tools/tree/master/arm-bcm2708/arm-bcm2708-linux-gnueabi.

The problems was introduced in #2910. If ZMQ_ATOMIC_PTR_MUTEX is defined, the mutex_t in line 286 needs to be mutable (as is for VxWorks) because load() is const and passes it as non-const to atomic_cas.

[2018-05-15 06:29] sigiesec commented on #2759
@WallStProg I finally had a look at your test program in https://github.com/WallStProg/zmqtests/tree/master/threads. I must admit that I haven't read all details of the discussion here before, so I need to add a few points:

* Multiple concurrent connection attempts from different sockets to the same ZMQ_PAIR endpoint (i.e. your program with numThreads > 1) are not allowed by the current specifica

[2018-05-15 06:38] sigiesec opened #3107 "test_immediate_3 does not terminate with POLL poller under Windows"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description

test_immediate test case test_immediate_3 does not terminate with POLL poller under Windows

# Environment

* libzmq version (commit hash if unreleased): 4.2.5 and d81a041f
* OS: Windows
* Poller: POLL

# Minimal test code / Steps to reproduce the issue

1.  Run test_immediate

# What's the actual r

[2018-05-15 06:42] sigiesec commented on #3107
The main thread is in:
[code]

The I/O thread is in
[code]

[2018-05-15 10:34] sigiesec opened #3108 "test_many_sockets always deadlocks under Windows with POLLER=poll"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description

test_many_sockets always deadlocks under Windows with POLLER=poll

# Environment

* libzmq version (commit hash if unreleased): 4.2.5
* OS: Windows with POLLER=poll

# Minimal test code / Steps to reproduce the issue

1.  Run test_many_sockets

# What's the actual result? (include assertion message

[2018-05-15 10:48] sigiesec commented on #3107
Apparently this has nothing to do with ZMQ_IMMEDIATE. It also happens when removing the ZMQ_IMMEDIATE option, but trying to connect another ZMQ_DEALER peer after closing the first.

[2018-05-15 11:45] reza-ebrahimi commented on #2319
@bluca I'll be work on it by next week.

[2018-05-15 12:10] sigiesec opened #3110 "test_radio_dish broken under Windows"
# Issue description

test_radio_dish is broken under Windows. This was not visible in CI because Appveyor CI jobs do not build DRAFT API as of d81a041 (Maybe because of 9aa957b445d2cb53e5218cf7d4afdf7b521bdb2a, maybe already longer). There were syntax errors, which are fixed in  f832c0b, but after fixing them test execution fails. Maybe this is due to #3094, #3087 or #3081?

# Environment

* libzm

[2018-05-15 12:14] sigiesec commented on #3110
@simias Could you have a look at this?

[2018-05-15 12:55] sigiesec commented on #3110
I think I fixed this, hopefully without breaking Linux

[2018-05-15 13:52] WallStProg commented on #2759
That's interesting - I didn't know that.  I should probably get more familiar with the spec, so I checked <https://rfc.zeromq.org/spec:31/EXPAIR>, but frankly I don't see where it says that.  If you can help me understand better how to read the spec, I'd appreciate it.

<br>

I was also thinking of putting a mutex on the SUB side of the PAIR and seeing if there's any difference.

BTW, I seem to re

[2018-05-15 14:11] bluca commented on #3042
Fixed by https://github.com/zeromq/libzmq/pull/3112

[2018-05-15 14:11] #3042 closed

[2018-05-15 14:32] sigiesec commented on #3107
To avoid I am investigating non-sense, could someone please check if the test case in https://github.com/sigiesec/libzmq/blob/aa3ed7e9da24ff214919b6a58465ec26265ecd25/tests/test_spec_dealer.cpp#L202 is correct and is expected to work? It happens to work on all builds other than Windows poll, but this might be coincidence.

[2018-05-15 15:18] sigiesec commented on #3107
I instrumented libzmq to output all commands processed by a socket (and some debug output from the test case).

With POLLER=select, I get:
[code]

With POLLER=poll, it blocks after:
[code]

[2018-05-15 15:34] bluca commented on #3107
Test case looks valid to me.

What happens if you call zmq_unbind before closing the socket? What if instead of binding, it connects?

[2018-05-15 16:00] sigiesec commented on #3107
@bluca Did not try this yet, but will later.

But I found another difference, which sounds relevant.

In the good run with POLLER=select, the following call stack is reached:
[code]

tcp_connecter_t::out_event() Line 147 is never reached with POLLER=poll

It is this branch:
https://github.com/zeromq/libzmq/blob/cbd52feb482bf346c0e165e02453eddb1cf1dc3d/src/tcp_connecter.cpp#L147

[2018-05-16 01:11] mxcoppell commented on #3104
Should ZMQ socket only be created by the calling thread?

[2018-05-16 06:56] bluca commented on #3104
Yes, only the context is thread safe as the doc says (and the new draft socket types which are explicitly marked thread safe)

[2018-05-16 08:12] kreuzerkrieg opened #3113 "zmq.hpp - message_t::equal method"
The `equal` method looks like this
[code]
is it really necessary to create strings (which implies copying the buffer) to compare two pieces of memory?

[2018-05-16 08:25] kreuzerkrieg commented on #3113
Right... My bad. Could admin move messages between repos?

[2018-05-16 08:29] sigiesec commented on #3113
I don't think moving issues is possible on GitHub. Please reopen in the cppzmq repository

[2018-05-16 08:31] kreuzerkrieg commented on #3113
Done

[2018-05-16 08:31] #3113 closed

[2018-05-16 08:39] sigiesec commented on #2653
No... This is still unresolved. Do you think the monitoring event format can be modified/extended?

[2018-05-16 09:47] sigiesec commented on #2653
Maybe require opting in via a context option?

[2018-05-16 09:59] bluca commented on #2653
We have already so many options...
What if the new (or some of the current draft) events had additional multipart frames?

[2018-05-16 10:07] sigiesec commented on #2653
There are only few context options?

Currently, all events are specified as having the same format. I don't think the spec allows additional frames. So it is still incompatible if only done for new/draft events.

[2018-05-16 10:58] bluca commented on #2653
I know, I just think it gets confusing having options to change behaviour of an API - but it's fine if there's no other way

[2018-05-17 14:18] sigiesec commented on #3107
Ok, some more research showed that this is far more severe than I thought. If the information here is correct and I understand it correctly, this is impossible to fix under Windows, as WSAPoll simply does not report connection failures:
* https://daniel.haxx.se/blog/2012/10/10/wsapoll-is-broken/
* https://curl.haxx.se/mail/lib-2012-10/0038.html

Can someone please double-check this?

While this se

[2018-05-17 14:36] sigiesec commented on #3107
E.g. python rejected to support poll on Windows for similar reasons: https://bugs.python.org/issue16507

[2018-05-18 01:11] isedev commented on #1922
This reproduces it the issue for me:
[code]
Output:

Python 3.6.5
pyzmq 17.0.0
libzmq.so.5.0.2
on Fedora 26

[2018-05-18 01:18] thehesiod commented on #1922
@isedev make sure to call http://pyzmq.readthedocs.io/en/latest/api/zmq.html#zmq.Context.destroy as I think destroy is what is supposed to flush the messages per the `LINGER` setting.
But ya I'm still seeing this too.

[2018-05-18 01:29] thehesiod commented on #1922
thanks for the better test case!  Hopefully @bluca can try with yours and find the underlying issue.  Would be really nice to have this fixed.

[2018-05-18 08:32] bluca commented on #1922
Please provide the example using just libzmq, no bindings/wrappers

[2018-05-18 08:46] thehesiod commented on #1922
@bluca looks like my original test still hangs: https://github.com/zeromq/libzmq/issues/1922#issuecomment-301324624   I updated the steps for the current jessie release

[2018-05-18 13:37] isedev commented on #1922
Not sure if this is relevant, but same result against the head of the master branch.

[2018-05-19 14:38] WallStProg commented on #2759
I ended up using CLIENT/SERVER sockets for my application: they're thread-safe, which is handy, and a bit simpler since they don't require multi-part messages.

You're right -- wrapping the connect/send/disconnect in a mutex doesn't help at all. (https://github.com/WallStProg/zmqtests/commit/f9a448db22162e0f96a9e2d9a79b1abdeb65d418#diff-0919fe44fdbbd233e5e2e8587006b7b2)

I *think* this is already

[2018-05-19 17:29] mxcoppell commented on #1808
Any update to this issue? We are running ZMQ 4.2.3 and it had the same crash caused by "Assertion failed: Connection reset by peer".

Windows 10 64-bit Professional.

**Stack:**
# ChildEBP RetAddr
00 043ff7b8 5c42a8a0 KERNELBASE!RaiseException+0x62
01 043ff7e0 5c48c82d libzmq!zmq::zmq_abort+0x40 [c:\tradestation\platform\ts\private\ts10.0b2b\source\thirdparty\zeromq\4.2.3\src\err.cpp @ 83]
02 043f

[2018-05-19 17:31] mxcoppell commented on #1808
Another question I have is why the stderr message didn't print the WSAGetLastErr() code in "[" and "]"?

[code]

[2018-05-19 17:44] gdamore commented on #1808
Well, it seems pretty clear that it isn't this assertion that is firing.

[2018-05-19 17:50] gdamore commented on #1808
I'm not sure what version of the code you're on, but this: https://github.com/zeromq/libzmq/blob/master/src/signaler.cpp#L356
suggests that you are not running on Windows but rather on Linux -- in which case that would be an eventfd which shouldn't have this errno, so I don't have a clear idea.  (Note, I'm not a maintainer for ZMQ and I don't regularly work with it).

The code in signaler.cpp seem

[2018-05-19 17:55] mxcoppell commented on #1808
@gdamore That's my fault. I looked at the wsa_assert in https://github.com/zeromq/libzmq/blob/master/src/err.hpp.

[2018-05-19 21:00] mxcoppell commented on #1808
@gdamore Actually I looked again. The stderr message is printed out from wsa_assert(x) macro.

https://github.com/zeromq/libzmq/blob/master/src/signaler.cpp#L373 is just calling the macro.
`        wsa_assert (last_error == WSAEWOULDBLOCK);
`

[2018-05-20 02:27] SysOverdrive opened #3118 "Send Msgpack message using zmq"
# Issue description

I can not figure how to send a notification message encoded in msgpack with libzmq in C.

I am basically trying to make this functionality that exists in Python in C, namely

[code]
# Environment
Windows. Unreal Engine with c++
* OS:
Windows 10

# Steps to reproduce the issue

1.  I have basically created a struct and then packed it.

EyeStruct EyeStruct = { "notify.eye_proces

[2018-05-20 10:12] bluca commented on #3118
For cppzmq issues use its repository: https://github.com/zeromq/cppzmq

[2018-05-20 10:12] #3118 closed

[2018-05-20 10:25] SysOverdrive commented on #3118
I want to implement this in C. Even if the Unreal Engine platform uses c++. Since I have found it hard to integrate the c++ wrappers over that.

How my current code works (just sending a string) https://github.com/SysOverdrive/UPupilLabsVR/blob/master/Source/UPupilLabsVR/Private/FPupilLabsUtils.cpp#L43

[2018-05-20 16:37] SysOverdrive opened #3119 "Sending msgpack structure with zmqpack"
# Issue description

I can not figure how to send a notification message encoded in msgpack with libzmq in C.

I am basically trying to make this functionality that exists in Python in C, namely

[code]
# Environment
Windows. Unreal Engine with c++
OBSERVATION : Even if Unreal Engine normally works in C++ I am trying to use zmq under C since I could not use the c++ wrapper libraries.
* OS:
Windows

[2018-05-21 08:36] Willdas opened #3120 "How to use zeroMQ to send large files ?"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
Hello,I want to ask how to use zeroMQ to send large files.  Use the C++ language to operate.
No case was found in API.  Can you give an example? Thank you.

[2018-05-21 08:56] bluca commented on #3120
https://github.com/zeromq/filemq

[2018-05-21 08:56] #3120 closed

[2018-05-22 10:19] #3119 closed

[2018-05-22 11:48] sigiesec commented on #2805
It might be much easier to integrate https://github.com/piscisaureus/wepoll

[2018-05-22 13:15] bluca commented on #2805
That sounds quite promising!

[2018-05-23 05:14] sigiesec commented on #3108
Fixed by #3121

[2018-05-23 05:14] #3108 closed

[2018-05-23 07:54] sigiesec opened #3123 "Test failures on Appveyor Visual Studio 2017 image"
# Issue description

The following test cases are (almost?) always failing on the Visual Studio 2017 build on Appveyor, but are (almost?) always fine on all Visual Studio 2013/2015 builds:
[code]
See, e.g. https://ci.appveyor.com/project/zeromq/libzmq/build/build-2398/job/xo0f0of2bnn5amei

There is one test case failing in each of these test programs:
[code]

It is interesting to note that all of

[2018-05-23 08:52] sigiesec opened #3124 "Test program test_connect_delay_tipc is failing"
# Issue description

The test program test_connect_delay_tipc is failing.

# Environment

* libzmq version (commit hash if unreleased): several master versions
* OS: Linux

# Minimal test code / Steps to reproduce the issue

Run test_connect_delay_tipc in a build with TIPC=enabled

# What's the actual result? (include assertion message & call stack if applicable)

See, e.g. https://travis-ci.org/z

[2018-05-23 08:52] sigiesec commented on #3124
@eponsko Could you have a look?

[2018-05-23 08:57] bluca commented on #3046
Fixed by https://github.com/zeromq/libzmq/pull/3047

[2018-05-23 08:57] #3046 closed

[2018-05-23 12:09] sigiesec commented on #2805
This might be even more interesting: https://github.com/truebiker/epoll_windows/commit/32442e432b3376cb98f5c0bda5a9a0a5e832b857
It is a fork based on a quite old version of wepoll, which adds support for eventfd-like abilities.

[2018-05-24 13:46] kasru opened #3131 "[libzmq 4.2.5] Android ndk17 arm64-v8a compile error v1_decoder.cpp:113:28"
libzmq 4.2.5
Android
ndk17
arm64-v8a

compile error:
  CXX      src/src_libzmq_la-v2_encoder.lo
../src/v1_decoder.cpp:113:28: error: comparison 'unsigned long' > 18446744073709551615 is always false [-Werror,-Wtautological-constant-compare]
    if (payload_length - 1 > std::numeric_limits<size_t>::max ()) {
[code]

[2018-05-25 14:52] sigiesec opened #3136 "Cannot set ZMQ_HEARTBEAT_TTL to more than 655.3 seconds"
# Issue description

The maximum value for ZMQ_HEARTBEAT_TTL is not correctly checked.

# Environment

* libzmq version (commit hash if unreleased): 50374bf
* OS: any

# Minimal test code / Steps to reproduce the issue

[code]

# What's the actual result? (include assertion message & call stack if applicable)

-1 / EINVAL

# What's the expected result?

0

[2018-05-25 14:57] #3136 closed

[2018-05-25 23:08] mxcoppell commented on #1808
Update: We did an comparison test with boost.asio with TCP connection on loopback interface. Got the same "Connection Reset by Peer" error. It doesn't look like it's ZMQ's problem.

[Client Socket sudden lost while communicating with server and server is printing "Connection reset by peer" and "Connection reset"](https://social.technet.microsoft.com/Forums/ie/en-US/6a348332-32ff-4be2-9a0d-644a3bf9

[2018-05-25 23:15] gdamore commented on #1808
Something is resetting or closing TCP connections on the box.  Its not the first time I've heard of this, but it is incredibly toxic behavior.  In some circumstances it can be an overzealous admin, or firewall.  I'd try to figure out why connections are randomly being spuriously disconnected.

That said, I still contend that designs that rely on this TCP loopback for signaling are stupid.  With PO

[2018-05-26 00:54] gdamore commented on #1808
(I know I said I probably wouldn't comment again... but... I can't resist.  Lol.)

You're partly right.

For TCP connections carrying user data, nanomsg, NNG, and ZMQ all will reconnect automatically.

The problem is that ZMQ and legacy nanomsg create a loopback connection using TCP *only on Windows* in order to provide support for getting a file descriptor that works with WSApoll() or select().

[2018-05-26 01:07] mxcoppell commented on #1808
NNG sounds interesting! I will give it a try. Thanks @gdamore !

But, the reconnect logic you mentioned provided by messaging stacks - that part I am not clear about. If the connection is terminated by the peer, it won't be reconnected by ZMQ without application code logic (not from ZMQ). This is what we are discussing here, isn't it? Or you are talking about from TCP protocol point of view?

[2018-05-26 08:10] bluca commented on #1808
I've seen people complain about Windows randomly killing TCP connections just because, in some cases it was a third party network management tool of some sort (nexus-something maybe?), check for that.

Besides that, I think Microsoft added af_unix support in Windows 10 - that could be a good alternative to TCP loopback that won't suffer from this problem and should be relatively easy to implement,

[2018-05-26 09:04] eponsko commented on #3124
Hi Simon,

Sorry for the delay, I'll have a look!

On Wed, May 23, 2018 at 10:52 AM, Simon Giesecke <notifications@github.com>
wrote:

[2018-05-26 10:07] eponsko commented on #3124
I tried to replicate the issue locally but I'm not able to make it fail on
ubuntu 18.04 or in a ubuntu 14.04 VM, so I'm guessing it's something to do
with the travis environment. However I cannot mess with travis since I
cannot login to github at the moment (need the 2FA code), I'll try to
figure it out tomorrow.

On Sat, May 26, 2018 at 11:04 AM, Pontus <pontus.skoldstrom@gmail.com>
wrote:

[2018-05-26 14:30] gdamore commented on #1808
I suspect that if there is Af_UNIX support that it won't work with WSApoll
and select. Historically those have been exclusive to winsock. That said
it's worth looking into.

On Sat, May 26, 2018, 1:10 AM Luca Boccassi <notifications@github.com>
wrote:

[2018-05-26 14:39] gdamore commented on #1808
So I am pretty sure for zmq (and certainly for nanomsg family stacks) that
even on a peer disconnect the stack will attempt to reconnect.  This is in
the dialer side code and is done regardless of transport.  This is a big
piece of the self healing strategy these systems provide.

Of course it's up to the client to do this. The server side cannot initiate
a connection.

The thing is that this kind

[2018-05-26 15:26] sigiesec commented on #3123
It seems that the test failures occur only when the tests are run in parallel.

One possible explanation might be that the test_many_sockets test, which takes very long on Windows, consumes some global resources and therefore interferes with the other tests.

[2018-05-26 16:13] mxcoppell commented on #1808
@bluca

When I said "It's a Window's thing", it's not accurate - it's actually something running on Windows 10 (anti-virus, packet filtering, monitoring) is interacting with Windows TCP/IP stack.

The "Connection Reset by Peer" in my case only happen on specific computers. Interesting enough, when we do the traffic test on these target machines, the data speed on recv side is much slower than send

[2018-05-26 16:26] bluca commented on #1808
Yes there were similar reports in the past, unfortunately I can't remember the name of the software that was messing stuff up, nor find the issue I'm thinking about

[2018-05-26 18:53] bluca commented on #3131
That's a very annoying warning that clang enables by default... it might be tautological on 64 bit architectures, but it certainly isn't in 32 bit x86, were size_t is 4 bytes.

[2018-05-26 19:13] sigiesec commented on #3131
This could be guarded by some preprocessor clause, but I think it would make more sense to disable the warning in our build files. At least in this and comparable cases it doesn't make much sense in cross platform code.

[2018-05-26 19:20] mmortal03 commented on #1808
@bluca , Networx is what you're talking about. It's discussed earlier in this thread.

[2018-05-26 20:50] mxcoppell commented on #1808
The problem is that what's been installed on the client machines - there is no way to predict. Better have a logic to recover in application code.

[2018-05-28 12:14] bluca commented on #3131
Yeah that makes sense, I've added a check in cmake/autoconf

[2018-05-28 13:30] #3131 closed

[2018-05-28 13:32] bluca commented on #3131
@kasru please try again from the latest master

[2018-05-29 12:33] kasru commented on #3131
@bluca Please attach patch file for libzmq 4.2.5 with fix this issue.

[2018-05-29 12:40] bluca commented on #3131
https://github.com/zeromq/libzmq/commit/58d13395ece1fa0dd9b0583d736af4ac342c1267

[2018-05-31 00:05] joaocandre opened #3146 "Can't compile from 4.2.3 tarball"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
I'm trying to recompile ZeroMQ with the -fPIC compiler flag, but I'm encountering errors with both CMake or GNU make.

# Environment
Up-to-date Arch linux install, cmake 3.11.2, gnu-make 4.2.1, gcc 8.1.0, zeromq 4.2.3;

# Minimal test code / Steps to reproduce the issue
1.  ./configure CFLAGS=-fPIC
2

[2018-05-31 07:03] bluca commented on #3146
The first issue is compatibility with GCC 8, the second one is the inclusion of some cmake files in the dist tarball, both are fixed in the latest release.

Also note that this is C++ so you need to set the CXXFLAGS rather than CFLAGS

[2018-05-31 07:03] #3146 closed

[2018-05-31 08:42] sigiesec opened #3147 "Define policy on using strcpy/strcat"
[CWE-119](https://cwe.mitre.org/data/definitions/119.html) warns against the use of functions that handle strings without specifying maximum lengths explicitly such as strcpy or strcat. clang-tidy currently finds 13 or so of such uses with its clang-analyzer-security.insecureAPI.strcpy diagnostic. See e.g. https://travis-ci.org/sigiesec/libzmq/jobs/385901602#L1338

I did not analyze all such uses

[2018-05-31 09:17] sigiesec opened #3148 "Define policy on error handling"
Currently, the policy on using assertions and errors is not documented and somewhat unclear.

There are three kinds of "error handling":
1. plain assert (at least for cmake, these are active in Debug builds only)
2. zmq_assert, errno_assert, wsa_assert, alloc_assert (these are active in both Debug and Release)
3. errors signalled to the user via errno/zmq_errno()
4. errors signalled via socket mon

[2018-05-31 10:06] bluca commented on #3148
Note that this is true only for Windows

[2018-05-31 10:08] bluca commented on #3147
strcpy/cat are just fine in some cases (eg: just allocated a buffer and copying a literal), in other cases some projects are starting to use strlcpy, but that adds a dependency on libbsd on Linux

[2018-05-31 10:21] sigiesec commented on #3148
Hm?

That assert(...) evaluates to (void)0 in release builds (i.e. defining NDEBUG) is specified by the standard. See, e.g. http://en.cppreference.com/w/cpp/error/assert (ok, this isn't the standard, but I am pretty sure that is the source of it). And at least the Linux/clang analysis build was a Release (in the sense of CMAKE_BUILD_TYPE) build before, and it complained about several unused stored

[2018-05-31 10:28] bluca commented on #3148
Yes, but NDEBUG is never defined by any distro AFAIK (note that I'm talking about autotools here)

[2018-05-31 10:29] bluca commented on #3148
See for example the build log on Debian: https://buildd.debian.org/status/fetch.php?pkg=zeromq3&arch=i386&ver=4.2.5-1&stamp=1522196748&raw=0

[2018-05-31 10:35] sigiesec commented on #3148
Oh, really? That is really surprising for me. Is this done on purpose?

As I wrote in my original comment, this leads to inefficient code, as a function containing an active assert will most likely never be inlined, and other optimizations may also be prevented. This probably also applies to STL code that is used.

However, the cmake builds do define NDEBUG on any platform when doing a Release bui

[2018-05-31 10:38] sigiesec commented on #3147
I think that there is no common substitute that is available on all platforms. MSVC doesn't have strlcpy, but strncpy_s

[2018-05-31 11:00] bluca commented on #3148
Distributions leave it to the upstreams what to use, as it can break things unexpectedly, and generally few flags are pre-defined, and it's usually -O2 -g and various security-related hardening flags (eg: pie/pic to enable address layout randomisation, and even those caused huge headaches when they were turned on by default).
We shouldn't define it either, as in the grand scheme of things it's muc

[2018-05-31 11:18] sigiesec commented on #3148
I saw there was some debate on cmake defining NDEBUG on the Debian mailing list some time ago when cmake changed (harmonized) its behaviour with version 2.8.11. And they clearly say that Debian policy is expressly NOT to define NDEBUG.

Well... I am still somewhat surprised. In my experience, not defining NDEBUG has more significant downside effects on performance than can be described by "squeere

[2018-05-31 19:29] schandok commented on #1108
Hitting same issue w/ 4.0.4. @hurtonm can you please suggest the version that has the fix?

[2018-06-02 15:20] WallStProg opened #3152 "crash in send_command following zmq_disconnect"
I'm seeing a (very) intermittent crash in ZeroMQ that I can't otherwise explain, and am wondering if it's a bug.

The root cause of the crash is that `send_command` calls `get_tid` with a NULL pointer (Screenshot-1.png).

At the time of the crash, the application is shutting down and closing the inproc control socket it uses to break out of a `zmq_poll` call that is retrieving events from `zmq_soc

[2018-06-02 15:22] WallStProg commented on #3152
Attached files:
[gdb.txt](https://github.com/zeromq/libzmq/files/2065100/gdb.txt)
![screenshot-3](https://user-images.githubusercontent.com/6627231/40877941-0d2274f0-6657-11e8-8698-001a3d4c5f08.png)
![screenshot-2](https://user-images.githubusercontent.com/6627231/40877942-0d2ef090-6657-11e8-8cc2-7be8edd5f7cb.png)
![screenshot-1](https://user-images.githubusercontent.com/6627231/40877943-0d3a927e-

[2018-06-04 05:22] ZeleniJure opened #3154 "Assertion failed: nbytes == 0 (src/pgm_sender.cpp:220)"
# Issue description
Using 2 context threads and epgm pub-sub sockets, code terminates with "Assertion failed". I have only seen it happen on start-up, when the system is under more load.
Problem is in a race condition:
Function out_event is called several times from different io threads, using common write_size variable.

[code]

Calls to out_event are coming from two different locations:
1. /usr/

[2018-06-04 11:01] mesca commented on #2267
Any progress on this issue?

[2018-06-04 18:02] #3030 closed

[2018-06-05 13:41] bluca commented on #3026
The solutions are getting deprecated, the supported way is to use CMake to generate them nowadays, so closing.

[2018-06-05 13:41] #3026 closed

[2018-06-06 18:04] ehilscher opened #3158 "tcp/socks_connecters do not handle ZMQ_RECONNECT_IVL of -1"
# Issue description
The ZMQ socket option ZMQ_RECONNECT_IVL supports a value of -1, which is intended to turn off reconnection attempts. When an initial connection attempt fails, tcp_connecter and socks_connecter use options.reconnect_ivl to set a timer to retry the initial connection. But they do not check for -1, and so the timer value is invalid (observed to be a point in the past). It could be

[2018-06-07 22:42] bluca commented on #3158
I can't quite reproduce this. With wireshark it's very easy to see - a connection to a non-existing peer is attempted only once with IVL at -1, but many many times without it.
What is the problem exactly?

[2018-06-07 23:09] bluca commented on #3154
I'm not quite sure how a socket can end up being used from different I/O threads - can you post the full decoded backtraces?

[2018-06-07 23:16] ehilscher commented on #3158
I am seeing the opposite effect. Here is my entire test program:

[code]

I've attached a screenshot of the packet capture from letting this program run for about 30 seconds (filtered by port 59999).

![rawcap](https://user-images.githubusercontent.com/40001020/41130977-cad84ce2-6a7e-11e8-9225-ce40e707b009.png)

[2018-06-09 03:35] Crypto2 commented on #2895
I'm also having this same problem with 4.2.3 with ZMQ_USE_POLL

[2018-06-09 08:20] bluca commented on #2895
It's fixed in 4.2.5

[2018-06-09 11:40] sigiesec commented on #2895
@Crypto2 Note however that poller=poll is broken on Windows, and will no longer be offered as an option in master. Either use poller=select with 4.2.5, or poller=epoll with master, support for which was only recently added under Windows.

[2018-06-11 01:39] hostilefork opened #3160 "Wish: zmq_getsockopt() return correct property size when insufficient size given"
# Issue description

Typically, APIs which take an address to give back a "real size" for what a property is can be called in two passes.  The first pass gives a small size (possibly even 0 with a NULL buffer pointer) with the intent of receiving the actual size.  This allows the caller to then allocate an exactly sized buffer, which in a second pass receives the data.

`zmq_getsockopt()`, however

[2018-06-11 08:12] cuteshell opened #3161 "zmq_poll does not trigger ZMQ_POLLIN event in some successful connections"
# Issue description
I use ZMQ_DEALER connect to ZMQ_ROUTER, and listening to events with zmq_poll, but when a client reconnect, the zmq_poll may be not trigger ZMQ_POLLIN event.

# Environment

* libzmq version (commit hash if unreleased):
4.2.3 and 4.2.5
* OS:
Ubuntu 16.04 and Windows 7

# Minimal test code / Steps to reproduce the issue
Running these code, the issue will occur in less than 5 min

[2018-06-11 08:21] cuteshell commented on #2968
This problem has been solved. I use a log library written by my colleague, In the library, he create and close a udp socket using windows raw api, such as `socket` and `closesocket`, but store this socket in a global variable. We use this log library in multi-thread. when change this global variable to local variable. the non-socket issue disapper.

Hope these can help others.

[2018-06-11 09:14] sigiesec commented on #3152
Could you provide an executable minimal example that reproduces the problem?

[2018-06-11 09:16] sigiesec commented on #3160
This could probably be done. However, I am not sure why you would need this. The required resp. maximum size of all socket options is documented. For what purpose would you use the result?

[2018-06-11 09:18] sigiesec commented on #3161
On which OS are you running the server resp. the client? Or does it happen in any combination?

[2018-06-11 09:30] cuteshell commented on #3161
I running the server and client on ubuntu, also running on windows 7, but not test it running on windows and ubuntu at the same time .

[2018-06-11 14:17] hostilefork commented on #3160
Where is this documented?  I don't see anything on the [zmg_getsockopt()](http://api.zeromq.org/4-1:zmq-getsockopt) page which defines the maximum size for, say, ZMQ_PLAIN_USERNAME.

In a wrapper, which internally has a table mapping the options to their types, and generates dynamic values without the user needing to pass in a buffer.  Even with a maximum size known, it would be wasteful if e.g. a

[2018-06-11 14:53] sigiesec commented on #3160
Let me rephrase this:

In the case of ZMQ_PLAIN_USERNAME, the maximum size is 256 bytes. This is indeeed missing from the documentation, and should be added.

In general this might be required, but I think there are no options in libzmq that could become large (larger than 256 bytes).

[2018-06-12 03:01] ilue opened #3162 "Use of pthread_t before pthread_create return is unsafe."
# Issue description
zmq::thread_t::applySchedulingParameters() call to some pthread functions using the descriptor member, which may be uninitialized if the new thread start before pthread_create return (musl-libc's pthread_create set the descriptor after starting the thread, while glibc just works beacuse the descriptor was set before the thread starts). May be use pthread_set() instead for compa

[2018-06-12 20:40] ehilscher commented on #3158
Created PR 3163.

My theory is that even on other platforms this problem occurs, but it's partially dependent on the generated random number, and how the % operator handles -1. So even on your system I would bet a reconnect timer is getting set, but it may not trigger for a day, or a month, or even 100 years.

[2018-06-12 22:55] bluca commented on #3160
@hostilefork could you please send a PR to update that option's doc?

[2018-06-12 23:05] hostilefork commented on #3160
@bluca It's not within my scope of knowledge/authority to say that's a fact...just hearsay as far as I know.  :-)  And there's nothing in particular about that one particular option that interests me (it was just an example)...so really it would take more research to go through and validate the claims/etc.

I'll leave it up to the powers that be to explore it further, or close the issue...

[2018-06-13 09:43] jimkeir commented on #1108
I've just pushed to here: https://github.com/jimkeir/zeromq4-x . It simply changes a zmq_assert to a normal error code return. If you follow the chain back up, comments for one function say that it's normal during shutdown for it to fail and I suspect this is what's happening.

[2018-06-13 18:00] WallStProg commented on #3152
Not at this point.  I'm still trying to narrow down the conditions that trigger the crash -- as mentioned it is very intermittent.

And of course libzmq is at the bottom of a pile of libraries, any of which could be the culprit.  Which makes a repro even more difficult.

Having said that, it has happened at least twice, and in both cases get_tid was called with a NULL this pointer from send_comman

[2018-06-13 20:26] cpicanco opened #3164 "How does NDK STL changes will affect libzmq cross-compile for android?"
According to the ndk roadmap, libstdc++ support will end:

Is it of great concern? I am just trying to find out if I will be able to cross-compile libzmq for android in the near future.

Best,
Rafael

[2018-06-13 22:09] bluca commented on #3164
Just try it. You can use llvm's library on any Linux system.

[2018-06-14 00:05] cpicanco opened #3165 "Problem: build scripts not compatible with Android NDK r17"
# Issue description
I am trying to cross-compile for android and I am getting a `configure: error: C compiler cannot create executables` error. I am missing something in the enviroment configuration, of course. What should I do to make the build script happy?

# Environment

* libzmq version (0867c380326829dc7e48e12d46b977bffad207c4):
* OS: Ubuntu 16.04 LTS

# Minimal test code / Steps to reproduc

[2018-06-14 20:04] WallStProg commented on #2267
On my end, I've been running a bunch of tests that I think demonstrate that the "work-around" laid out in https://gist.github.com/hintjens/7344533 is unreliable -- the code will eventually deadlock on the zmq_recv call.  (In one test, this happened on iteration # 723).

I haven't yet had time to write this up in a way that is rigorous enough to present, but I hope to be able to do so soon.

[2018-06-14 21:48] WallStProg opened #3166 "crash with NULL pointer in zmq::mtrie_t::match"
I've been seeing an ocassional crash in the regression tests I'm running with our application, with similar stack traces.

The root cause of the crash is the following code:

[code]

Running gdb on the core file reveals that `current` is NULL at the point where it access `current->pipes`:

[code]

I realize that a repro using pure ZeroMQ code would be ideal, but I suspect that will be difficult to

[2018-06-15 08:01] sigiesec commented on #3166
I don't think so. Something is inconsistent.

Maybe this is related to this problem reported by the clang static analyzer: https://travis-ci.org/zeromq/libzmq/jobs/392331396#L3752

Can you use libzmq 4.2.5? mtrie_t was changed into a template between 4.2.3 and 4.2.5

[2018-06-15 14:40] mannyk2 commented on #153
I am very keen to use zeromq on Windows 10. What is the current status of this issue? Thanks.

[2018-06-15 14:42] bluca commented on #153
You can use it with TCP

[2018-06-16 01:45] cuteshell commented on #3161
Are there any concerns or suggestions?

[2018-06-17 14:42] bluca commented on #3165
The current scripts are not compatible with the latest version of the NDK. Someone needs to fix them. Feel free to send a PR.

[2018-06-17 14:43] bluca commented on #3165
Closing as duplicate of https://github.com/zeromq/libzmq/issues/2894

[2018-06-17 14:43] #3165 closed

[2018-06-17 14:43] bluca commented on #3164
Duplicate of https://github.com/zeromq/libzmq/issues/2894

[2018-06-17 14:43] #3164 closed

[2018-06-17 14:45] bluca commented on #1063
Same as https://github.com/zeromq/libzmq/issues/2894

[2018-06-17 14:45] #1063 closed

[2018-06-19 18:28] neel-parikh opened #3169 "signaler.send aborts intermittently"
# Issue description
We are seeing intermittently process crashing with EBADF error code on signaler.send() call. The core file backtrace shows that the value of file descriptor "w" is -1 which means it's already closed and the thread is trying to write on the already closed FD.

There is no context sharing between the threads, everything happens in the same thread.
Only thing I observed is reaper

[2018-06-20 06:37] sigiesec commented on #3169
Could you update to libzmq 4.2.5? I think there is reason to believe this has already been fixed.

[2018-06-20 15:02] neel-parikh commented on #3169
@sigiesec Thank you for your response.
Yes, we are in line to update the libzmq version, however we would be doing in next few months. Is there a patch I can apply to fix in v4.2.0 ?

[2018-06-20 15:36] sigiesec commented on #3169
4.2.5 is a bugfix release for 4.2.x, so the patch is the diff between 4.2.5 and 4.2.0 ;) I don't know which changes are exactly related to this issue.

But if you could apply a patch and build a new libzmq, why can't you simply build 4.2.5?

[2018-06-20 15:52] bluca commented on #3169
4.2.0 and the latest release are binary compatible, so you should be able to seamlessly upgrade and test it.

If you use packages, you can grab the latest release for your version of Ubuntu from:

https://software.opensuse.org/download.html?project=network%3Amessaging%3Azeromq%3Arelease-stable&package=libzmq5

[2018-06-20 16:36] neel-parikh commented on #3169
Ok thanks for your suggestions @sigiesec  and @bluca
I'll try to test with the new libzmq version and see if this issue is fixed.

[2018-06-20 16:36] #3169 closed

[2018-06-20 16:53] neel-parikh commented on #3169
@bluca  @sigiesec
One clarification.
What do you recommend for czmq version if I upgrade ZMQ to v4.2.5?
Currently, we are using below:

ZMQ: v4.2.0
CZMQ: v3.0.2

[2018-06-20 17:00] bluca commented on #3169
As the version bump suggests, later versions of czmq are NOT binary compatible, as many deprecated classes have been removed in 4.x, so you'd not only need to rebuild your program but also to ensure that you have migrated away from retired apis

[2018-06-20 17:03] neel-parikh commented on #3169
Ok thank you @bluca
If there is no version dependency for CZMQ with ZMQ v4.2.5 I would then stick with the current czmq version 3.0.2 as I would need binary compatibility

[2018-06-20 17:04] bluca commented on #3169
There is no dependency (but you need to move from 3.x at some point, it's not maintained anymore)

[2018-06-20 17:06] neel-parikh commented on #3169
Got you, yes we will eventually move to 4.x but may be after a while as it would need a lot of code changes in due to all the deprecated APIs.
Thanks a lot.

[2018-06-21 18:07] wangkf1 opened #3171 "Message queue keeps increasing in ZMQ_CONFLATE sub socket"
# Issue description
When setting a SUB socket to use ZMQ_CONFLATE, I expected the message queue to hold only one newest message, and free the old one. But in a test case where a PUB program is sending messages in a loop, and a SUB program sits there collecting these messages, the SUB program collects memory. Some discussion on the mailing list here: https://lists.zeromq.org/pipermail/zeromq-dev/20

[2018-06-22 03:44] ZhangPengchao opened #3172 "ZMQ_REQ——ZMQ_REP order"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description
server code:
int main () {
    zmq::context_t context (1);
    zmq::socket_t socket (context, ZMQ_REP);
    socket.bind ("tcp://*:5555");

    while (true) {
        zmq::message_t request;

        string str = s_recv(socket);
        std::cout << "Received:" << str << std::endl;

        usleep(100

[2018-06-22 06:45] bluca commented on #3172
There is no guarantee of ordering among different sockets. If you want guaranteed ordering, use the same socket, or add unique monotonic sequence numbers to your messages and do the reorder yourself in your application.

[2018-06-22 06:45] #3172 closed

[2018-06-22 06:54] ZhangPengchao commented on #3172
Thank you, I just don't know if this phenomenon is correct and I don't know how to confirm this problem, because the phenomenon seen through packet capture is sent out in order. I understand now, thank you.

[2018-06-22 14:34] jamesdillonharvey commented on #3171
Adding a little more info from my investigation.

The memory rises until `zml_recv` is called 100 times.  It looks like and optimization, batching the work so it doesn't have to call `process_commands` every time if there are messages in the queue.

https://github.com/zeromq/libzmq/blob/6bfa91f13f73b67be47ded18986b76d154d5923b/src/socket_base.cpp#L1181

`process_commands` must somewhere further do

[2018-06-22 18:48] bluca commented on #3162
Are there pre-built toolchains with musl? Simply statically linking to musl and with a glibc gcc/stdlibc++ does not reproduce the problem, and I don't have time to re-bootstrap from scratch

[2018-06-23 05:18] ilue commented on #3162
[https://mega.nz/#!4TIzVARb](url)
Should run on any x86_64 linux machine.

[2018-06-23 17:20] bluca commented on #3162
I can't reproduce the problem, both the example program and all the tests run just fine. This is on Debian Sid as a host.

[2018-06-24 00:44] ilue commented on #3162
I got SIGSEGV while running the example program under GDB.

[2018-06-24 20:28] iphydf opened #3173 "Code no longer builds with `-fno-exceptions`."
It used to build without exception support. Now it only requires it for catching `std::bad_alloc`, which can be avoided with `new(std::nothrow)`.

[2018-06-24 20:31] iphydf commented on #3173
Looks like actually it's a bit more difficult, because the bad_alloc comes from push_back. Perhaps add an `#ifndef ZMQ_NO_EXCEPTIONS` around it, so I can disable that code, accepting that out of memory means the death of my program?

[2018-06-25 08:21] sigiesec commented on #3173
I don't you got valid code when compiling with -fno-exceptions. Why do you want to set this option for building libzmq?

cf. https://blog.mozilla.org/nnethercote/2011/01/18/the-dangers-of-fno-exceptions/

[2018-06-25 10:10] iphydf commented on #3173
There is an interesting discussion in the comments there which shows some nuance not shown by the post itself. In our case, we're running on an embedded system where we didn't implement exceptions, but we've been using zmq successfully. Our allocator can do some recovery (some data structures can be made non critical, costing one extra indirection). If recovery fails, we reboot the system.

[2018-06-25 12:05] sigiesec commented on #3173
Which of the comment(s) are you referring to exactly?

What do you mean by "an embedded system where we didn't implement exceptions"? Which platform is this exactly? You have a compiler that doesn't know about exceptions? But it has a "kind of" STL implementation? I think this cannot go together in a defined way.

libzmq doesn't throw any exceptions itself, true, but it uses STL containers. One co

[2018-06-25 15:41] WallStProg commented on #3166
Woops!  "We have met the enemy and he is us".

Just got another crash and the stack trace on this one seems to point at my code being the cause.  Working to confirm and will post here when I'm able to.

OTOH, still somewhat concerned with the warnings from clang-tidy, and would love to be able to write them off as false positives -- does anyone have any thoughts one way or the other?

Thanks!

[2018-06-25 20:42] bluca commented on #3162
Ah yes I can reproduce it with gdb - strange. Feel free to send a PR to fix it.

[2018-06-26 02:22] laplaceyang commented on #3171
You can add a timer for call getsockopt(ZMQ_EVENTS) in user code. Since function getsockopt with param ZMQ_EVENTS will trigger process_commands  also as to prefetch the msg. Thus this action is same as call the recv, but actually not recv any msg. @jamesdillonharvey @wangkf1

[2018-06-26 09:09] jamesdillonharvey commented on #3171
Thanks @laplaceyang, that makes sense and it allows the caller to control how often they want the queue to be conflated.

I tried it out and it works like a charm, here is the test code which forces the memory prune to make the results clear. Even with heavy publisher the memory never climbs above the baseline.

[code]

[2018-06-26 09:50] #3171 closed

[2018-06-27 03:34] laplaceyang opened #3176 "Is there any good idea to control memory if we do not recv msg in inbound side"
# Issue description
If recv is not called on the inbound socket, the queue and memory will grow with each message received.
We should call getsockopt(ZMQ_EVENTS) in my app for control memory.
But it's a bad trick to do so, I just want to release memory used instead of getting some socket option
It's there any good idea for dealing with this scenario.

See [issues@3171](https://github.com/zeromq/li

[2018-06-27 10:07] laplaceyang commented on #3176
@sigiesec It's a more general issue.  It's not related to ZMQ_CONFLATE option. All kinds of recv side (double way socket) have the problem of memory growing if we don't call recv.

---
See https://github.com/zeromq/libzmq/issues/2474 .
In this situation, I use router but never recv, will also lead to the problem.
Because I use ip as identity to specify the sub endpoint for sending msg, so I never

[2018-06-27 10:19] jamesdillonharvey commented on #3176
So the HWM has no effect if you don't call `zmq_recv` on other (non conflate) socket types?  I assumed it was only related to `ZMQ_CONFLATE` as this option bypasses HWM's

[2018-06-27 14:28] masariello opened #3178 "Please reopen issue #2876"
Please reopen issue #2876 . It's been hitting us for a while on win64 and I would like the discussion to continue.

[2018-06-27 17:56] kveroneau opened #3180 "Cross network 0mq subscriptions not working correctly"
*Please use this template for reporting suspected bugs or requests for help.*

# Issue description

I am running into an odd issue with a custom 0mq application which uses SUB/PUB model.  I have a 0mq publisher server running on IP 192.168.1.1 on my home network.  I have many 0mq subscribers on other devices running in 192.168.1.x, these subscribers are working with no issues.

Recently due to hom

[2018-06-27 18:06] laplaceyang commented on #3176
@jamesdillonharvey I think it's because pipe will only destroyed after process_command call that lead memory increase(msg is attached with pipe)... And process_command will only called inner recv call, or getsockopt(ZMQ_EVENTS)

zmq_conflate option change pipe struct to pipe_conflate. And pipe_conflate hold just two storge (use dbuffer). So i don't think the option will change memory using.

Never

[2018-06-27 18:14] bluca commented on #3180
There is no issue with "cross network" connections, it's just TCP. You need to check your routing table/masquerading/etc

[2018-06-27 18:22] kveroneau commented on #3180
Good point, I will check that.  It seems that 192.168.2.5 can establish a connection to 192.168.1.1, but when 192.168.1.1 tries to send a packet off to 192.168.2.5, I figure the packet is lost somewhere, so the subscriber never gets the data.  I will test with netcat first and try sending packets back and forth to confirm this.  Thank you for the suggestion/idea on what the cause might be.  I will

[2018-06-27 18:22] #3180 closed

[2018-06-27 22:16] jamesdillonharvey commented on #3176
Have you tested with sockets that don't have conflate set?

[2018-06-28 05:15] laplaceyang commented on #3176
I'm sorry for conclusion before. Memory can not controled only set conflate = 1, where use sub socket.
But in another situation, router and dealer, it's the reason of pipe not destoryed.

Test code:
pub-sub:

pub side:
[code]

sub side:
[code]

set hwm make sense, but conflate not

---

Second Scenario

Router Dealer:

Router side:
[code]

dealer side:

[code]

dealer reconnect after a specify tim

[2018-06-28 05:18] laplaceyang commented on #3176
However, this two kind memory problem can be soluted by call getsockopt(ZMQ_EVENTS), so should we just add a timer to call process_command in zmq lib? To solve the memory problem both in pub-sub with conflate, and router-dealer with router not recv.

[2018-06-28 07:35] bjovke commented on #2876
@masariello As a quick fix you can decrease the FD_SETSIZE for which default value is 16384 and rebuild everything. Of course, you can do this if you don't expect that your application will ever use this many sockets.

`fd_set`s in some functions were actually allocated on heap some time ago and it was changed to stack for performance reasons. You can maybe try to do some benchmark to compare perf

[2018-06-28 08:20] jamesdillonharvey commented on #3176
OK so there are two cases where the memory bloats if **recv is not called**

 - SUB with ZMQ_CONFLATE
 - ROUTER

There is a timer event in socket_base, you could possibly call process_command from there. Looks like you have to add the timer to the poller
https://github.com/zeromq/libzmq/blob/6bfa91f13f73b67be47ded18986b76d154d5923b/src/socket_base.cpp#L1508

**The question is:**
Is it worth adding